.grid_items{
    display: flex;
    align-items: flex-start;
    >*{
        width: 50%;
        &:first-child{
            padding-right: rem(20,19.2);
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        >*{
            width: 100%;
            &:first-child{
                padding-right: 0;
            }
        }
    }
}

