- var title = "";
doctype html
html
	include includes/head
	body.modal_open
		.body-wrap
			include page-parts/blocks/header

			include page-parts/blocks/top_section

			include page-parts/blocks/about
			
			include page-parts/blocks/team

			include page-parts/blocks/find_out

			include page-parts/blocks/clients_say

			include page-parts/blocks/technologies

			include page-parts/blocks/contacts

			include page-parts/blocks/footer
						
			include page-parts/blocks/popups



		include includes/foot