.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1em;
  width: 100%;
  flex-shrink: 1;


  &__input {
    border-bottom: em(1) solid #58514A;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 12.5em;
    width: em(287);
    height: em(40);
    margin-bottom: em(62.3);
    padding: 0 0 0 em(2);
    cursor: text;
    position: relative;


    & .error-text {
      font-family: 'Spartan';
      color: #d10000;
      position: absolute;
      left: 0;
      bottom: -1.5em;
      font-size: .8em;
      z-index: -9;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &.item-error {
      border-color: #d10000;

      & .error-text {
        z-index: 2;
        opacity: 1;
      }
    }

    &.checkbox label.item-error {
      background: #000;

      & .checkbox__box {
        border-color: #d10000;
      }
    }

    .icon {
      width: em(15);

      svg {
        width: 100%;
      }
    }


    & input {
      font-family: 'Spartan';
      width: 100%;
      font-weight: 400;
      font-size: em(16);
      line-height: 100%;
      color: #ffffff;
      border: 0;
      padding-left: em(23);
      background-color: transparent;
      outline: none;
      line-height: 1.6;


      &::placeholder {
        color: #A09183;
        line-height: 1.6;
      }



      // &[data-valid="true"] {
      //     & span {
      //         color: ;
      //     }
      // }
    }

    // &.select {
    //   margin-bottom: 1.5em;
    // }

    &.true {
      position: relative;
      border: em(1) solid #2ecc71;

      &.pass {
        &::after {
          display: none;
        }
      }

      &::after {
        position: absolute;
        content: "";
        right: 0.8em;
        top: 50%;
        transform: translateY(-50%);
        background: url("../img/popup/green-check.svg") no-repeat;
        background-size: 100% auto;
        background-position: center top;
        width: 0.7em;
        height: 0.5em;
      }

      & .form__close {
        opacity: 0;
        z-index: -9;
        visibility: hidden;
      }

      & .minititle {
        color: #2ecc71;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: em(-8);
  }

  &__input_country {
    background: #ffffff;
    border: em(1) solid #999999;
    box-sizing: border-box;
    border-radius: em(5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 12.5em;
    width: 100%;
    height: 2.4em;
    margin-bottom: 1.38em;
    padding: 0.3em 0.5em;
    cursor: text;
    position: relative;

    & .error-text {
      color: #d10000;
      position: absolute;
      // left: 0;
      left: 1em;
      bottom: -1.4em;
      font-size: 0.65rem;
      z-index: -9;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &.item-error {
      border-color: #d10000;

      //   & span {
      //     color: #D10000;
      //   }
      & .error-text {
        z-index: 2;
        opacity: 1;
      }
    }

    &.checkbox label.item-error {
      background: #000;

      & .checkbox__box {
        border-color: #d10000;
      }
    }

    & span {
      font-weight: 400;
      font-size: 0.7em;
      line-height: 100%;
      color: #999999;
      white-space: nowrap;
      user-select: none;
      position: absolute;
      left: 0.9em;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.2s ease-in-out;
    }

    &.active span {
      transform: translateY(-120%);
    }

    & input {
      width: 80%;
      font-weight: 400;
      font-size: 0.7em;
      line-height: 100%;
      color: #000000;
      border: 0;
      margin-top: 1em;

      &::placeholder {
        // font-weight: 400;
        // font-size: em(16);
        // line-height: em(24, 16);
        // color: #999999;
      }

      // &[data-valid="true"] {
      //     & span {
      //         color: ;
      //     }
      // }
    }
  }

  &__button {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: em(137);
    height: em(57);
    background: #FFF;
    border-radius: em(4);
    border: 0;


    cursor: pointer;
    transition: all 0.2s ease-in-out;

    span {
      font-family: 'Span';
      color: #28231E;
      font-size: em(20);
      font-weight: 400;
      text-transform: uppercase;
    }

    &:hover {
      background: #D8A70D;
    }

    &:focus {
      background: #D8A70D;
    }
  }

  .form__button {
    &:disabled {
      cursor: not-allowed;
      background: #d3d3d3;

      span {
        color: #a2a2a2;
      }

      &:hover {
        // filter: brightness(1);
      }
    }
  }



  .agreement {
    max-width: em(355);
    font-size: em(16);
    line-height: 1;
    margin-top: em(18);

    color: #FFFFFF;

    &__item {
      margin-bottom: em(18);
      position: relative;
      padding-left: em(30);
    }

    &__checkbox {
      display: none;

    }

    &__lable {
      // position: absolute;
      display: block;
      cursor: pointer;
      transition: all .3s ease-in-out;


      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: em(14);
        height: em(14);
        top: em(-1);
        left: em(-4);
        margin-right: em(14);
        background: url('../img/form/check-non.svg') center / 100% 100% no-repeat;

      }
    }

    &__text {
      display: inline;
      position: relative;
      top: em(-3);
      color: #9F9183;
      font-family: 'Spartan';
      font-size: em(12);
      font-style: normal;
      font-weight: 400;
      line-height: 149.5%;


    }
  }

  .agreement__checkbox:checked+.agreement__lable::before {
    background: url('../img/form/check.svg') center / 100% 100% no-repeat;
  }

  .form__input {
    flex-direction: row-reverse;

    input {
      order: 1;

    }

    .icon {
      order: 2;

      svg {
        path {
          transition: all .3s ease-in-out;
        }
      }
    }
  }

  input:focus~.icon {

    svg {
      path {
        fill: #fff;
      }
    }

  }

  .select,
  input:focus~.icon {

    svg {
      path {
        fill: #fff;
      }
    }

  }




  @media (max-width: 550px) {
    &__wrap {
      width: 100%;
    }

    &__button {
      width: 100%;
    }

    &__input {
      height: 2.9em;
      margin-bottom: 0.5em;
    }

    &__bottom {
      flex-direction: column-reverse;
    }

  }
}