.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	max-width: em(1760);
	margin: 0 auto;
	padding-bottom: em(24);

	&__payments {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&_item {
			margin-left: em(42);
			&:nth-child(1) {
				width: em(65);
			}
			&:nth-child(2) {
				width: em(36);
			}
			&:nth-child(3) {
				width: em(59);
			}
			&:nth-child(4) {
				width: em(103);
			}
			&:nth-child(5) {
				width: em(104);
			}
			&:nth-child(6) {
				width: em(116);
			}
		}
	}
	@media (max-width: 768px) {
		justify-content: center;
		max-width: em(400);
		font-size: 1.15em;
		padding-bottom: 0;

		&__payments {
			flex-wrap: wrap;
			justify-content: center;
			&_item {
				margin-left: 0;
				margin-right: em(15);
				margin-bottom: 1em;
				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
	}
}
