.form {
  // background: #020202;
  width: 100%;
  padding: em(34) em(20) em(37);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;

  &__item {
    width: 100%;
    position: relative;
    margin-bottom: em(9);
    transition: border 0.3s;

    display: flex;
    justify-content: flex-start;

    input {
      outline: none;
      font-size: em(15);
      padding: em(11, 15) em(12, 15);
      height: em(44, 15);
      width: 100%;
      line-height: 1;
      display: block;
      transition: border 0.3s;
      background: #020202;
      border: em(1, 15) solid #403c34;
      border-radius: em(10, 15);
      color: #9f9f9f;
      letter-spacing: -0.01em;
    }
    #tel_desk {
      width: em(326, 15);
    }
  }

  .phone_code {
    position: relative;
    padding: em(11) em(15);
    margin-right: em(7);
    width: em(68);
    cursor: pointer;
    background: #020202;
    border: em(1) solid #403c34;
    border-radius: em(10);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0.9em;
      width: 0.6em;
      height: 0.6em;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMTMuMzMzIDIxMy4zMzMiPjxwYXRoIGZpbGw9IiNjZWNlY2UiIGQ9Ik0wIDUzLjMzM0wxMDYuNjY3IDE2MCAyMTMuMzMzIDUzLjMzM3oiLz48L3N2Zz4=)
        50%/100% 100% no-repeat;
      content: "";
      pointer-events: none;
    }

    &__flag {
      pointer-events: none;
      width: em(20);
      display: inline-block;
    }

    select {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
      transform: none;
      border: none;
      padding: 0;
    }
  }
  .button {
    font-size: 1em;
    width: 100%;
    background: #020202;
    border: em(1) solid #3fd62b;
    border-radius: em(10);
    height: em(34);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: em(25);
    padding: 0;

    span {
      font-size: em(15);
      letter-spacing: -0.01em;
      color: #3fd62b;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background: #3fd62b;
      span {
        color: #ffffff;
      }
    }
  }
  button {
    font-size: 1em;
    width: 100%;
    background: #020202;
    border: em(1) solid #3fd62b;
    background: #3fd62b;
    border-radius: em(10);
    height: em(52);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: em(25);
    padding: 0;

    span {
      font-size: em(17);
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #000000;
      transition: all 0.3s ease-in-out;
      font-weight: 700;
    }

    &:hover {
      background: transparent;
      span {
        color: #3fd62b;
      }
    }
  }

  // SELECT
  .select {
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    font-size: em(15);
    background: #020202;
    border: em(1, 15) solid #403c34;
    border-radius: em(10, 15);
    letter-spacing: -0.01em;
    color: #9f9f9f;
    width: 100%;

    .form__arrow {
      will-change: transform;
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      width: 0.7em;
      user-select: none;
      transition: all 0.3s ease-in-out;
      transform-origin: 50%;

      img {
        width: 100%;
        display: block;
        transform-origin: 50%;
      }

      &.down {
        transform: translateY(-50%) rotate(180deg);
        transition: all 0.3s ease-in-out;
      }
    }

    & .select {
      &__current {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 0 0.6em 0 0.8em;
        height: em(42, 15);
        & img {
          width: em(24);
          margin-right: em(10);
        }

        span {
          font-size: 1em;
          position: static;
          transform: none;
        }
      }

      &__options {
        position: absolute;
        top: 3.4em;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background: #252525;
        border: em(1, 15) solid #403c34;
        border-radius: em(10, 15);
        box-sizing: border-box;

        & .option:last-child {
          margin-bottom: 0;
        }

        opacity: 0;
        z-index: -9;
        transition: opacity 0.3s ease-in-out;

        &.open {
          opacity: 1;
          z-index: 2;
        }
      }
    }

    & .option {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0.9em 0.4em 0.9em 0.9em;
      transition: all 0.3s ease-in-out;

      & span {
        font-size: em(15, 15);
        position: static;
        transform: none;
      }
      & img {
        width: em(24);
        margin-right: em(10);
      }

      &:hover {
        background: #403c34;
        border-radius: em(7, 15);
      }
    }
  }

  // END Select

  &__agree {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #252525;
    border-radius: em(10);
    padding: em(9) em(15) em(9) em(13);
    margin-bottom: em(25);

    & span {
      font-size: em(10);
      line-height: 1.4;
      letter-spacing: -0.01em;
      text-align: left;
    }

    &_checkbox {
      width: em(15);
      height: em(15);
      background: #3fd62b;
      border-radius: em(3);
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        width: em(11);
        height: 100%;
        background: url(../img/checkmark.svg) 50% / 100% no-repeat;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      .item-error & {
        border-color: red;
      }
    }

    &_label {
      position: relative;
      display: inline-block;

      input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;

        &:checked + .form__agree_checkbox {
          &::after {
            opacity: 1;
          }
        }
      }
    }
    .rules {
      color: #3fd62b;
      transition: all 0.3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__item_login {
    justify-content: center;
    font-size: em(13);

    span {
      letter-spacing: 0.01em;
      color: #ffffff;
      display: inline;
    }
    a {
      color: #3fd62b;
      transition: all 0.3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.72em;
    font-size: 1.7em;
    padding-top: 0.6em;
    padding-bottom: 1em;

    &__item {
      margin-bottom: em(6);
    }
    .button {
      height: 2.3em;
      margin-bottom: 0.6em;
    }
    &__agree {
      margin-bottom: 1.7em;
    }
    .phone_code {
      padding: 0.6em 0.7em;
      &__flag {
        width: 1.15em;
      }
      &::after {
        font-size: 0.87em;
      }
    }
  }
}
