.content {
	padding-top: em(200);
	padding-bottom: em(200);

	.container {
		max-width: em(1313);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

	}

	&__item {
		position: relative;
		width: em(1313);
		height: em(592);
		// margin-bottom: em(160);
		border-radius: em(40);
		padding: em(65) em(55) em(40);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		background: linear-gradient(257deg, #12181B 10.99%, #191F22 95.34%);


		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			.bg {
				transform: translate(-50%, -50%) scale(1.05);

			}
		}

		.bg {
			position: absolute;
			width: 100%;
			height: auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			transition: all .3s ease-in-out;
			object-fit: cover;
		}

		.title {
			position: relative;
			max-width: em(529, 50);


			color: #DCDBDB;
			font-weight: 500;
			line-height: 99.6%;
			font-size: em(40);
			letter-spacing: em(-2.4, 40);

		}

		.descr {
			position: relative;
			max-width: em(495, 14);
			padding-top: em(135, 14);
			color: #DCDBDB;
			font-family: 'Inter';
			font-size: em(14);
			font-weight: 400;
			line-height: 130%;
			letter-spacing: em(-0.49, 14);

		}

		.btn {
			position: absolute;
			bottom: em(59);
			right: em(57);
		}



		&-1 {
			width: em(616);
			height: em(680);
			margin-right: em(80);
			padding-top: em(60);


			.title {
				max-width: em(369, 40);


			}

			.btn {
				bottom: unset;
				right: unset;
				top: em(241);
			}

			.descr {
				padding-top: 0;
			}
		}

		&-2 {
			width: em(616);
			height: em(680);

			.bg {
				width: em(616);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: em(264);
					display: inline-block;
					bottom: 0;
					left: 0;
					background: linear-gradient(180deg, transparent, #171d1f 100%);

				}
			}


			.title {
				max-width: em(348, 40);
				font-size: em(40);
				letter-spacing: em(-2.4, 40);

			}

			.btn {
				bottom: unset;
				right: unset;
				top: em(241);
			}

		}

		&-3 {
			justify-content: flex-end;
			padding-bottom: em(59);

			.title {
				max-width: em(460, 50);
			}

			.descr {
				padding-top: 0;
				max-width: em(703, 14);
			}
		}


	}

	@media (max-width: 768px) and (orientation: portrait) {
		padding-top: em(97);
		padding-bottom: em(127);

		.container {
			max-width: em(400);
		}

		&__list {
			flex-direction: column;
		}

		&__item {
			width: em(400);
			height: em(768);
			align-items: center;
			justify-content: flex-start;
			padding: em(64) em(40);
			margin-bottom: em(80);

			.bg {
				width: 100%;
			}

			.title {
				max-width: 100%;
				text-align: center;
				margin-bottom: em(48, 32);


				font-size: em(32);
				letter-spacing: em(-1.92, 32);

			}

			.descr {
				padding-top: 0;
				text-align: center;
				margin-bottom: em(47, 14);

				&::before {
					display: none;
				}
			}

			.btn {
				position: relative;
				margin: 0 auto;
				right: unset;
				bottom: 0;
			}

			&-1 {
				height: em(560);



				.title {
					// padding-top: em(142, 32);
					margin-bottom: em(38, 32);
				}

				.descr {
					max-width: em(300, 14);
					margin-bottom: em(35, 14);
				}

				.btn {
					top: unset;
					left: unset;
				}
			}

			&-2 {
				height: em(560);

				.bg {
					&::after {
						display: none;
					}
				}



				.title {
					max-width: em(279, 32);
				}

				.descr {
					margin-bottom: em(39, 14);
				}

				.btn {
					top: unset;
					left: unset;
				}
			}

			&-3 {
				justify-content: space-between;
				height: em(560);

				.title {
					max-width: em(300, 32);
				}

				.descr {
					margin-top: 0;
					margin-bottom: em(112, 14);
				}
			}

		}
	}
}