footer.footer
    .container
        .footer__wrap
            .footer__top
                .footer__logo
                    img(src="public/img/logo.svg" alt="")
                .footer__nav
                    a(href="about_us.html").footer__nav_item
                        span о нас
                    a(href="regulations.html").footer__nav_item
                        span внутренние правила
                    a(href="testimonials.html").footer__nav_item
                        span отзывы
                    a(href="gallery.html").footer__nav_item
                        span галерея
                    a(href="self-esteem.html").footer__nav_item
                        span самооценка
                .footer__button.button.sm.switch-text
                    span(title="прийти в гости") прийти в гости
            .footer__bottom
                .copy
                    a(href="policy.html") Политика конфиденциальности
                    span © 2023 Bērnudārzs "Nākotne"
                .workout
                    .workout__text
                        span разработано
                    a(href="https://www.bsagency.design/en/").workout__logo
                        img(src="public/img/footer/logo-bsagensy.svg" alt="")
        .footer__el
            include ./../../../public/img/footer/scene.svg