script(src='./public/js/jquery-3.7.1.min.js')
script(src='./public/js/swiper.min.js')
script(src='./public/js/smooth-scrolling.js')
script(src='./public/js/simplebar.min.js')

script(src='./public/js/lightgallery/lightgallery.min.js')
script(src='./public/js/lightgallery/lg-zoom.umd.js')
script(src='./public/js/lightgallery/lg-thumbnail.umd.js')
script(src='./public/js/lightgallery/lg-pager.umd.js')

script(src='./public/js/matter/decomp.min.js')
script(src='./public/js/matter/matter.min.js')
script(src='./public/js/matter/pathseg.js')


script(src='./public/js/main.min.js')


