.modal-wrap.modal-success
    .modal
        .close
            include ./../../../public/img/close.svg
        .modal__container
            .modal__form_img
                include ./../../../public/img/success.svg
            .modal__form_title
                span заявка успешно
                    br
                    |  отправлена!
            .modal__form_descr
                span Спасибо, мы получили вашу заявку и свяжемся с Вами
                    br
                    |в ближайшее время!

            .modal__form_btn
                .button
                    span вернуться

