- var title = "About Fintiko | Fintech Innovation & Expertise in Payments, IT & Corporate Solutions";
- var description = "Discover Fintiko’s mission to revolutionize the fintech industry. Backed by decades of expertise, we deliver seamless solutions in payments, IT development, and corporate structuring. Our team prioritizes customer satisfaction, empowering businesses with intuitive, transparent, and compliant services.";

doctype html
html(lang="en")
	include includes/head
	body
	
		include includes/header
		
		main.main
			section.top-section
				.top-section__bg.top-section__bg--account
					video(poster="./public/img/videoMoments/about-bg_moment.webp" width="1920" height="584" muted loop playsinline autoplay)
						source(src="./public/video/about.webm" type='video/webm')
						source(src="./public/video/about.mp4" type='video/mp4')
				nav.container
					a.top-section__crumb(href="index.html")
						p
							img(src="public/img/crumb-arr.svg", width="22" height="8" alt="arrow")
						h4 About us	
				article.top-section__wrap
					h1.top-section__title.top-section__title--about About Fintiko
					.top-section__num 
						small.top-sm 001 
					.top-section__descr 
						p.top-section__descr-text At Fintiko, we're driven by a team of seasoned professionals with decades of expertise in sales, payments, financial law, and marketing. Above all, we prioritize customer satisfaction, ensuring it remains at the heart of our operations.
						nav.top-section__descr-buttons
							ul
								li
									button.button.button-blue.popup-btn(data-popup="apply-form") Apply for an Account
								li
									a.button.button-arrow(href="contacts.html") Get in Touch with Sales
										svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
											path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
			section.content
				article.container 
					ul.content__list
						li.content__item.content__item-1
							picture.bg
								source(type="image/webp" srcset="public/img/aboutPage/contentSection/item-bg-1-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/aboutPage/contentSection/item-bg-1.webp")
								source(srcset="public/img/aboutPage/contentSection/item-bg-1-mob.png" media="(max-width: 768px)")
								img(src="public/img/aboutPage/contentSection/item-bg-1.jpg" srcset="public/img/aboutPage/contentSection/item-bg-1.webp" alt="Abstract puzzle pieces." sizes="(max-width: 768px) 711px" width="617" height="680")
							h2.title Who We Are
							p.descr The management board at Fintiko comprises professionals with diverse skill sets and extensive knowledge, encompassing crucial aspects of running successful online businesses. This breadth of expertise allows us to anticipate and address any challenges, risks, or bottlenecks our clients may encounter, utilizing our core competencies and advanced IT solutions to mitigate them effectively.
							//- a.btn.button.button-blue(href="#") Apply Now
						li.content__item.content__item-2
							picture.bg
								source(type="image/webp" srcset="public/img/aboutPage/contentSection/item-bg-2-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/aboutPage/contentSection/item-bg-2.webp")
								source(srcset='public/img/aboutPage/contentSection/item-bg-2-mob.png' media='(max-width: 768px)')
								img(src="public/img/aboutPage/contentSection/item-bg-2.jpg", srcset="public/img/aboutPage/contentSection/item-bg-2.webp" sizes="(max-width: 768px) 711px" width="617" height="680" alt="A climber in a gorge climbs up a rock.")
							h2.title Our Mission
							p.descr We are on a mission to revolutionize the fintech landscape, striving to make the operation of online businesses seamless, transparent, and intuitive. Positioned at a pivotal moment in time and space, we believe we can develop solutions that cater to a wide array of customers while adhering to the evolving industry regulations and standards.
							//- a.btn.button.button-blue(href="#") Apply Now

			section.transfers
				article.transfers__bg
					.swiper-wrapper
						.transfers__bg-slide.swiper-slide
							img(src="public/img/aboutPage/approachSection/bg-1.jpg", srcset="public/img/aboutPage/approachSection/bg-1.webp" sizes="(max-width: 768px) 768px" width="1921" height="900" alt="Yellow cloud in the desert.")
					nav.swiper-pagination
					nav.swiper-scrollbar
				nav.swiper-button-next.transfers-btn
					svg(xmlns='http://www.w3.org/2000/svg', width='20', height='8', viewBox='0 0 20 8', fill='none')
						path(d='M19.3536 4.35355C19.5488 4.15829 19.5488 3.84171 19.3536 3.64645L16.1716 0.464466C15.9763 0.269204 15.6597 0.269204 15.4645 0.464466C15.2692 0.659728 15.2692 0.976311 15.4645 1.17157L18.2929 4L15.4645 6.82843C15.2692 7.02369 15.2692 7.34027 15.4645 7.53553C15.6597 7.7308 15.9763 7.7308 16.1716 7.53553L19.3536 4.35355ZM0 4.5H19V3.5H0V4.5Z', fill='white')
				
				article.transfers__left 
					section.transfers-title
						.swiper-wrapper
							.transfers-title__slide.swiper-slide
								h2 Our Approach
						
					nav.transfers__left_buttons
						ul
							li
								button.button.button-blue.popup-btn(data-popup="apply-form") Apply Now
							li
								a.button.button-transparent-blue(href="contacts.html") Get help
				
				article.transfers__right 
					section.transfers-descr.swiper.swiperApproach
						.swiper-wrapper
							.transfers-descr__slide.swiper-slide
								p Fintiko is foremost a technology company dedicated to simplifying and streamlining payments and business operations for our clients. Our primary focus lies in developing reliable, trusted, and adaptable solutions.
							.transfers-descr__slide.swiper-slide
								p Through Fintiko, we offer swift solutions in the intricate realms of corporate structuring, IT development, and payment processing.
							.transfers-descr__slide.swiper-slide
								p Our payment gateway is designed to be user-friendly, agile, informative, and resourceful, catering perfectly to both burgeoning startups and established enterprises, regardless of transaction volumes.
						nav.swiper-pagination

 
			section.content
				article.container 
					ul.content__list
						li.content__item.content__item-3
							picture.bg
								source(type="image/webp" srcset="public/img/aboutPage/contentSection/item-bg-3-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/aboutPage/contentSection/item-bg-3.webp")
								source(srcset='public/img/aboutPage/contentSection/item-bg-3-mob.png' media='(max-width: 768px)')
								img(src="public/img/aboutPage/contentSection/item-bg-3.png", srcset="public/img/aboutPage/contentSection/item-bg-3.webp" sizes="(max-width: 768px) 711px" width="1314" height="592" alt="A glass window with the Fintiko logo reflected.")
							p.descr Through Fintiko, we offer swift solutions in the complex domains of corporate structuring, IT development, and payment processing. Our payment gateway stands as a testament to our commitment, serving as the ideal solution for startups handling a handful of daily transactions to established businesses processing thousands daily

							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Apply Now

		

		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot







