- var title = "Multi-Currency Accounts Dashboard | Simplified International Transfers & Reporting | Fintiko";
- var description = "Unlock global opportunities with Fintiko’s multi-currency accounts dashboard. Manage multiple acconts in one place: send, receive, and exchange effortlessly. Enjoy fast international transfers, seamless reporting, and smart integrations. Simplify your financial operations today!"

doctype html
html(lang="en")
	include includes/head
	body

		include includes/header
		
		main.main
			section.top-section
				.top-section__bg.top-section__bg--account
					video(poster="./public/img/videoMoments/account-bg_moment.webp" width="1920" height="584" muted loop playsinline autoplay)
						source(src="./public/video/top-section-account.webm" type='video/webm')
						source(src="./public/video/top-section-account.mp4"  type='video/mp4')
					
				nav.container
					a.top-section__crumb(href="index.html")
						p
							img(src="public/img/crumb-arr.svg", width="22" height="8" alt="arrow")
						h4 Accounts
				article.top-section__wrap 
					h1.top-section__title Unlock International Business Opportunities with Fintiko
					.top-section__num 
						small 001 
					.top-section__descr 
						p.top-section__descr-text Manage your money effortlessly in multiple currencies, mirror your organization's structure, personalize privacy, and centralize reporting with Fintiko's multi-currency accounts dashboard.
						nav.top-section__descr-buttons
							ul
								li
									button.button.button-blue.popup-btn(data-popup="apply-form") Apply for an Account
								li
									a.button.button-arrow(href="contacts.html") Get onboard today
										svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
											path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
			section.benefits
				article.container 
					ul.benefits__list
						li.benefits__item.benefits__item-1
							p.bg
								img(src="public/img/accountPage/benefitsSection/item-bg-1.png", srcset="public/img/accountPage/benefitsSection/item-bg-1.webp" sizes="(max-width: 768px) 435px" width="627" height="908" alt="Young man in neon light in hoodie looking at phone screen.")
							h2.title Send, Receive and Exchange in one place
							p.descr Effortlessly manage money in your chosen markets within one dashboard. Watch your money movements, compare rates and save time by utilising our platform.
							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Apply for an Account
						
						li.benefits__item.benefits__item-2
							p.bg
								img(src="public/img/accountPage/benefitsSection/item-bg-2.png", srcset="public/img/accountPage/benefitsSection/item-bg-2.webp" sizes="(max-width: 768px) 768px" width="938" height="632" alt="Smartphone in a woman's hand, financial application on the screen.")
							h2.title Receive International Transfers as Easily as Domestic Transfers
							p.descr Wherever you are based, utilise our vast network of partners and receive international transfers at the speed and cost of domestic transfers. Take advantage of Fintiko accounts dashboard.
							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Apply for an Account
						li.benefits__item.benefits__item-3
							picture.bg
								source(type="image/webp" srcset="public/img/accountPage/benefitsSection/item-bg-3-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/accountPage/benefitsSection/item-bg-3.webp")
								source(srcset='public/img/accountPage/benefitsSection/item-bg-3-mob.png' media='(max-width: 768px)')
								img(src="public/img/accountPage/benefitsSection/item-bg-3.png", srcset="public/img/accountPage/benefitsSection/item-bg-3.webp" sizes="(max-width: 768px) 412px" width="281" height="391" alt="team")
							h2.title Organize Accounts to Mirror Your Business Structure
							p.descr Categorize accounts to reflect your business by teams, offices, projects, and more. Set up as many accounts as you need for simplified management.
							//- a.btn.button.button-blue(href="#") Apply for an Account
						li.benefits__item.benefits__item-4
							picture.bg
								source(type="image/webp" srcset="public/img/accountPage/benefitsSection/item-bg-4-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/accountPage/benefitsSection/item-bg-4.webp")
								source(srcset='public/img/accountPage/benefitsSection/item-bg-4-mob.png' media='(max-width: 768px)')
								img(src="public/img/accountPage/benefitsSection/item-bg-4.png", srcset="public/img/accountPage/benefitsSection/item-bg-4.webp" sizes="(max-width: 768px) 711px" width="1087" height="931" alt="A group of young people are sitting on large stones in nature.")
							h2.title Customized Account Access Control
							p.descr Tailor account access based on your team members' needs and responsibilities. Admins can oversee everything with ease.
							//- a.btn.button.button-blue(href="#") Apply for an Account
						li.benefits__item.benefits__item-5
							picture.bg
								source(type="image/webp" srcset="public/img/accountPage/benefitsSection/item-bg-5-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/accountPage/benefitsSection/item-bg-5.webp")
								source(srcset='public/img/accountPage/benefitsSection/item-bg-5-mob.png' media='(max-width: 768px)')
								img(src="public/img/accountPage/benefitsSection/item-bg-5.png", srcset="public/img/accountPage/benefitsSection/item-bg-5.webp" sizes="(max-width: 768px) 711px" width="1313" height="592" alt="Abstraction in red shades.")
							h2.title Effortless Reporting and Integration
							p.descr Stay on top of reporting with analytics, audit confirmations, expenses, and more. Seamlessly integrate with accounting software for secure, accurate data flow.
							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Apply for an Account
	
			section.apply
				p.apply__bg
					img(src="public/img/accountPage/applySection/bg.jpg", srcset="public/img/accountPage/applySection/bg.webp" sizes="(max-width: 768px) 768px" width="1920" height="936" alt="Night gorge, a man in a hat illuminates the area.")
				article.container 
					h2.apply__title Experience the ease of multi-currency accounts, tailored to your business needs. Apply today to unlock international possibilities.
					h3.apply__descr
						strong Fintiko: 
						| Where Global Business Begins
					nav.apply__buttons
						ul 
							li
								button.button.button-blue.popup-btn(data-popup="apply-form") Apply for an Account
							li
								a.button.button-arrow(href="https://fintiko.readme.io") Get Acquainted with Our API
									svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
										path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
							li
								a.button.button-arrow(href="comming-soon-page.html") Check Out Our Pricing
									svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
										path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
			section.faq
				article.container 
					h2.faq__title  FAQ
					dl.faq__acc.acc
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How do I sign up for Fintiko?
							dd.acc__body
								p.text Signing up is easy! Simply navigate to the ‘Sign Up’ button on the top right corner, and follow the instructions to register your business and start accepting payments.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Which payment methods are supported by Fintiko?
							dd.acc__body
								p.text We support all major credit cards, debit cards, bank transfers, and popular local payment methods around the globe as well as mobile payment systems such as Apple Pay and Google Pay.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How do I integrate Fintiko with my website?
							dd.acc__body
								p.text We provide detailed integration guides and SDKs compatible with various programming languages. Visit our API Integration documentation page or contact our technical support team for assistance.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Is Fintiko Payment Gateway secure?
							dd.acc__body
								p.text Yes, security is our top priority. Our platform is PCI DSS compliant, uses SSL encryption, and implements additional security measures to protect all transactions.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Can I use Fintiko on mobile devices?
							dd.acc__body
								p.text Absolutely. Our payment gateway is optimized for mobile devices, ensuring a smooth and secure transaction process regardless of the device used.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text
									span What fees are associated with using Fintiko?
							dd.acc__body
								p.text Our fee structure includes a per-transaction fee and a small percentage of the transaction amount. For detailed pricing, please visit our Pricing page or contact our sales team.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How long do transactions take to process?
							dd.acc__body
								p.text Most transactions are processed in real-time. However, bank transfers may take longer depending on the banks involved.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text What do I do if a transaction fails?
							dd.acc__body
								p.text Check the error message for specific details and ensure all transaction information is correct. If issues persist, contact our support team for help.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How can I contact Fintiko if I need help?
							dd.acc__body
								p.text We offer support via email and live chat. Visit our Contact Us page for more details and to connect with a support representative.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Is Fintiko compliant with data protection regulations?
							dd.acc__body
								p.text Yes, we adhere to all relevant data protection regulations, including GDPR, to ensure that your data and your customers' data are handled securely.
					.faq__bottom
						h3.faq__bottom_text Didn't find the right  answer?
						nav.faq__bottom_button
							a.button.button-blue(href="contacts.html") Contact Support 

		

		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot







