- var title = "Fintiko";

doctype html
html(lang="en")
	include includes/head
	body
		include includes/header
		
		main.main 
			section.soon
				article.container
					h1.soon__title Coming soon!
					video.blob-video(poster="./public/img/videoMoments/blob-videoMoment.webp" width="644" height="362" muted loop playsinline autoplay)
						source(src="./public/video/blob.webm" type='video/webm')
						source(src="./public/video/blob.mp4" type='video/mp4')

		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot
