- var title = "Fintiko";
doctype html
html(lang="en")
	include includes/head
	body
		main.main.comming-soon
			video(poster="./public/img/videoMoments/soon_moment.webp" muted loop playsinline autoplay)
				source(src="./public/video/comming-soon.webm" type='video/webm')
				source(src="./public/video/comming-soon.mp4" type='video/mp4')
			.comming-soon__img
				img(src="public/img/logo-1.svg", sizes="(max-width: 768px) 533px" width="300" height="52" alt="logo")
			.comming-soon__title
				h1 coming soon
			h2 Superior money management
			
	







