- var title = "Fintiko FAQ | Answers to Your Questions About Payments, Accounts & Services";
- var description = "Find answers to frequently asked questions about Fintiko’s payment solutions, multi-currency accounts, integrations, and services. Get clear insights into how our platform simplifies financial management and supports your business growth.";

doctype html
html(lang="en")
	include includes/head
	body
		header.header.header--white
			nav 
				a(href="index.html").header__logo 
					img(src="public/img/logo.svg", width="135" height="24" alt="logo" srcset="public/img/logo.svg" sizes="(max-width: 768px) 206px")
				.open
					.open__item
					.open__item
					.open__item
				ul.menu
					li.menu__item 
						a.link-menu Products
						ul.menu__sublist
							li.menu__subitem
								a.link-menu(href="account.html") Accounts
							li.menu__subitem
								a.link-menu(href="payments.html") Payments
							li.menu__subitem
								a.link-menu(href="comming-soon-page.html") Pricing
							li.menu__subitem
								a.link-menu(href="services.html") Services
					li.menu__item
						a.link-menu Company
						ul.menu__sublist
							li.menu__subitem
								a.link-menu(href="about-us.html") About us
							//- li.menu__subitem
							//- 	a.link-menu(href="#") Careers
					li.menu__item
						a.link-menu Extras
						ul.menu__sublist
							li.menu__subitem
								a.link-menu(href="#" target="_blank") API Documentation
							//- li.menu__subitem
							//- 	a.link-menu(href="#") Gateway 
					
					li.menu__item
						.header__btns
							ul
								li
									button.header__btn.header__btn_apply.popup-btn(data-popup="apply-form") Apply
								li
									a.header__btn.header__btn_signin(href="#" target="_blank") Sign In
		
		
		main.main.main--white
			section.faq
				article.container
					h2.faq__title.margin-lg  FAQ
					dl.faq__acc.acc
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How do I sign up for Fintiko?
							dd.acc__body
								p.text Signing up is easy! Simply navigate to the ‘Sign Up’ button on the top right corner, and follow the instructions to register your business and start accepting payments.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Which payment methods are supported by Fintiko?
							dd.acc__body
								p.text We support all major credit cards, debit cards, bank transfers, and popular local payment methods around the globe as well as mobile payment systems such as Apple Pay and Google Pay.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How do I integrate Fintiko with my website?
							dd.acc__body
								p.text We provide detailed integration guides and SDKs compatible with various programming languages. Visit our API Integration documentation page or contact our technical support team for assistance.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Is Fintiko Payment Gateway secure?
							dd.acc__body
								p.text Yes, security is our top priority. Our platform is PCI DSS compliant, uses SSL encryption, and implements additional security measures to protect all transactions.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Can I use Fintiko on mobile devices?
							dd.acc__body
								p.text Absolutely. Our payment gateway is optimized for mobile devices, ensuring a smooth and secure transaction process regardless of the device used.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text
									span What fees are associated with using Fintiko?
							dd.acc__body
								p.text Our fee structure includes a per-transaction fee and a small percentage of the transaction amount. For detailed pricing, please visit our Pricing page or contact our sales team.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How long do transactions take to process?
							dd.acc__body
								p.text Most transactions are processed in real-time. However, bank transfers may take longer depending on the banks involved.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text What do I do if a transaction fails?
							dd.acc__body
								p.text Check the error message for specific details and ensure all transaction information is correct. If issues persist, contact our support team for help.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text How can I contact Fintiko if I need help?
							dd.acc__body
								p.text We offer support via email and live chat. Visit our Contact Us page for more details and to connect with a support representative.
						.acc__item
							dt.acc__head
								svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
									rect(x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black')
									path(d='M4 8L12 8' stroke='#0A0F11')
									path.line(d='M8 12L8 4' stroke='#0A0F11')
								.text Is Fintiko compliant with data protection regulations?
							dd.acc__body
								p.text Yes, we adhere to all relevant data protection regulations, including GDPR, to ensure that your data and your customers' data are handled securely.
					.faq__bottom
						h3.faq__bottom_text Didn't find the right  answer?
						nav.faq__bottom_button
							a.button.button-blue(href="contact.html") Contact Support 

		

		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot







