- var title = "Advanced Business Features | Reporting, Recurring Payments & Risk Management | Fintiko";
- var description = "Explore Fintiko’s feature-rich solutions to empower your business. Access real-time reporting, automate recurring payments, and safeguard operations with advanced risk management tools. Seamless API integrations and customizable features ensure a secure and efficient business experience.";

doctype html
html(lang="en")
	include includes/head
	body

		include includes/header
		
		main.main 
			section.welcome.feautures
				.welcome__bg.welcome__bg--feautures
					video(poster="./public/img/videoMoments/feautures-top-bg_moment.webp" width="1920" height="1080" muted loop playsinline autoplay)
						source(src="./public/video/feautures-top-bg.webm" type='video/webm')
						source(src="./public/video/feautures-top-bg.mp4" type='video/mp4')
				article.container
					section.welcome__wrap.welcome__wrap-long
						.welcome__left
							h1.welcome__left_title Empower Your Business Growth	
						.welcome__right
							h2.welcome__right_title Unlock the potential of your business with Fintiko's feature-rich solutions tailored to elevate your operations and safeguard your assets.
					nav.welcome__bottom 
						ul
							li
								a.button.button-blue(href="contacts.html") Get in touch
							//- li
							//- 	a.button.button-transparent-blue(href="#") Apply Now
			
			
			section.content-feautures
				article.container 
					ul.content-feautures__list
						li.content-feautures__item.content-feautures__item-1
							p.bg
								img(src="public/img/feauturesPage/contentSection/item-1-bg.jpg", srcset="public/img/feauturesPage/contentSection/item-1-bg.webp" sizes="(max-width: 768px) 768px" width="1200" height="718" alt="gray element")
							h2.title Fintiko Reports
							p.descr Gain valuable insights into your client portfolio with Fintiko Reports, designed to streamline your business management processes. Our reports deliver actionable data, empowering you to make informed decisions and better understand your customers.
							ul 
								li Real-time updates on transactions, balances, and refunds
								li Highly customizable reports to suit your needs
								li User-friendly interface for effortless navigation
								li Seamless integration with international bank payments including SEPA, Swift, and more
							//- a.btn.button.button-blue(href="#") Apply Now
						
						li.content-feautures__item.content-feautures__item-2
							picture.bg
								source(type="image/webp" srcset="public/img/feauturesPage/contentSection/item-2-bg-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/feauturesPage/contentSection/item-2-bg.webp")
								source(srcset='public/img/feauturesPage/contentSection/item-2-bg-mob.png' media='(max-width: 768px)')
								img(src="public/img/feauturesPage/contentSection/item-2-bg.png", sizes="(max-width: 768px) 711px" width="1235" height="1361" alt="jumping man")
							h2.title Recurring Payments
							p.descr Secure a steady stream of revenue in today's subscription-based economy by offering automated recurring card payments to your clients. With Fintiko's recurring payments feature, you can provide a hassle-free experience for your customers while ensuring consistent income for your business.
							ul
								li Configure customisable payment plans to meet your clients' needs
								li  Automate billing processes for uninterrupted service
								li  Forecast earnings and plan for growth with ease
							
					
						li.content-feautures__item.content-feautures__item-3
							video.bg(poster="./public/img/videoMoments/feautures-item-video_moment.webp" width="900" height="765" muted loop playsinline autoplay)
								source(src="./public/video/feautures-item-video.webm" type='video/webm')
								source(src="./public/video/feautures-item-video.mp4" type='video/mp4')
							h2.title Risk Management
							p.descr Mitigate risks and protect your business with Fintiko's comprehensive risk management solutions. Our advanced tools and fault-tolerant infrastructure are designed to safeguard against fraudulent activities and ensure uninterrupted service for your clients.
							ul
								li Robust AWS infrastructure with 99.999% availability
								li Integration with high-risk databases for fraud prevention
								li Industry-standard fraud protection tools for added security
								li Granular transaction analysis and restriction capabilities
							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Apply Now
						
			section.gateway
				article.container
					h1 	Fintiko Gateway
					p.descr Take control of your transactions with Fintiko Gateway's flexible fraud prevention system, allowing you to customize transaction parameters to suit your business requirements.
					section.gateway__wrap 
						.gateway__left 
							picture.bg
								source(type="image/webp" srcset="public/img/feauturesPage/gatewaySection/item-bg-1.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/feauturesPage/gatewaySection/item-bg-1.webp")
								source(srcset='public/img/feauturesPage/gatewaySection/item-bg-1.png' media='(max-width: 768px)')
								img(src="public/img/feauturesPage/gatewaySection/item-bg-1.png", srcset="public/img/feauturesPage/gatewaySection/item-bg-1.webp" sizes="(max-width: 768px) 940px" width="1201" height="1048" alt="man")
							p.title PCI DSS Level 1 certification ensures secure transactions for peace of mind 
						ul.gateway__right 
							li.gateway__right_item.gateway__right_item-1
								p.title Manage "Hot" Email lists to deny payments from specific email addresses
							li.gateway__right_item.gateway__right_item-2
								p.bg
									img(src="public/img/feauturesPage/gatewaySection/item-bg-2.png", srcset="public/img/feauturesPage/gatewaySection/item-bg-2.webp" sizes="(max-width: 768px) 668px" width="376" height="376" alt="man")
								p.title Utilize IP Ban lists to block suspicious IP addresses
							li.gateway__right_item.gateway__right_item-3
								img.bg(src="public/img/feauturesPage/gatewaySection/item-bg-3.png", srcset="public/img/feauturesPage/gatewaySection/item-bg-3.webp" sizes="(max-width: 768px) 540px" width="304" height="330" alt="man")
								p.title Control accepted countries with "Hot" <br> BINs by country list
							li.gateway__right_item.gateway__right_item-4
								p.title Monitor device IDs and block potential threats with "Hot" Device ID list
							

			section.integrations
				picture.integrations__bg
					source(type="image/webp" srcset="public/img/feauturesPage/integrationsSection/bg-mob.webp" media="(max-width: 768px)")
					source(type="image/webp" srcset="public/img/feauturesPage/integrationsSection/bg.webp")
					source(srcset='public/img/feauturesPage/integrationsSection/bg-mob.jpg' media='(max-width: 768px)')
					img(src="public/img/feauturesPage/integrationsSection/bg.jpg", srcset="public/img/feauturesPage/integrationsSection/bg.webp" sizes="(max-width: 768px) 768px" width="1920" height="1038" alt="woman playing golf")
				
				article.container
					hgroup
						h2.integrations__title Flexible Integrations
						p.integrations__descr Integrate seamlessly with Fintiko's versatile APIs and SDKs, supporting various integration methods to meet your business needs.
		
					article.integrations-slider.swiper.swiperIntegrations
						ul.swiper-wrapper
							li.integrations-slider__slide.swiper-slide
								p.title RESTful API supporting Server-to-Server, Direct Post, Redirect integration methods
								h4.number 01
							li.integrations-slider__slide.swiper-slide
								p.title Mobile SDKs for iOS & Android platforms
								h4.number 02
							li.integrations-slider__slide.swiper-slide
								p.title One-click payments with multi-card tokenization for returning clients
								h4.number 03
							li.integrations-slider__slide.swiper-slide
								p.title Payment and payout routing for complex scenarios
								h4.number 04
							li.integrations-slider__slide.swiper-slide
								p.title Streamlined billing system with bulk invoice delivery and multi-card tokenization
								h4.number 05
							li.integrations-slider__slide.swiper-slide
								p.title Responsive design supporting 13 languages and branded invoice issuance
								h4.number 06
							li.integrations-slider__slide.swiper-slide
								p.title Simplified refunds and status tracking with Billing API and Sandbox environment for third-party integration.
								h4.number 07
						
						nav.swiper-pagination
			
		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot







