- var title = "Fintiko | Smart Payment Orchestration | Superior Transaction Management & Business Solutions";
- var description = "Streamline your business with Fintiko: Manage cross-border payments, multi-currency deposits, recurring billing, and cash flow—all in one platform. Enhance your brand with our services, including company formation, website development, digital marketing, legal counseling, and financial licensing. Get started today!";


doctype html
html(lang="en")
	include includes/head
	body
		include includes/header
		
		main.main 
			section.welcome
				.welcome__bg
					video(poster="./public/img/videoMoments/welcome-bg_moment.webp" width="1920" height="900" muted loop playsinline autoplay)
						source(src="./public/video/top-section-bg.webm" type='video/webm')
						source(src="./public/video/top-section-bg.mp4"  type='video/mp4')
				article.container 
					section.welcome__wrap 
						.welcome__left
							h1.welcome__left_title Welcome to Superior transaction management.	
						.welcome__right
							.swiper.welcome-slider.welcomeSlider
								.swiper-wrapper
									.swiper-slide.welcome-slider_item 
										p Online payments
									.swiper-slide.welcome-slider_item 
										p Reccuring
									.swiper-slide.welcome-slider_item 
										p Invoicing
									.swiper-slide.welcome-slider_item 
										p Pay by Link
									.swiper-slide.welcome-slider_item 
										p Open banking
								nav.swiper-scrollbar
					nav.welcome__bottom 
						ul
							li
								button.button.button-blue.popup-btn(data-popup="apply-form") Apply Now
							li
								a.button.button-transparent-blue(href="contacts.html") Get help
			section.article
				article.container 
					section.article__top 
						p Charge your clients, make cross border payments to suppliers, receive multi-currency deposits, create recurring billing strategies and <br>  manage your financial performance <br> reports all in one place.
						nav.article__top_buttons 
							ul 
								li
									a.button.button-blue(href="contacts.html") Get help
								li
									a.button.button-transparent-blue(href="payments.html" aria-label="Payment methods and options") Read more
										p Learn more about our payment options and features.
					figure
						p.article__image
							img.article-img(src="public/img/mainPage/articleSection/img.png" width="1088" height="476" srcset="public/img/mainPage/articleSection/img.webp" sizes="(max-width: 768px) 711px" alt="Young guy in dark green jumper smiling and holding phone in hands.")

						figcaption.article__image_icons
							img.article__image_icons-img.article__image_icons-img_1(src="public/img/mainPage/articleSection/icon-1.svg",sizes="(max-width: 768px) 34w" width="34" height="34"  alt="icon")
							img.article__image_icons-img.article__image_icons-img_2(src="public/img/mainPage/articleSection/icon-2.svg", sizes="(max-width: 768px) 36w"  width="36" height="36" alt="icon")
							img.article__image_icons-img.article__image_icons-img_3(src="public/img/mainPage/articleSection/icon-3.svg", sizes="(max-width: 768px) 35w"  width="35" height="36" alt="icon")
							img.article__image_icons-img.article__image_icons-img_4(src="public/img/mainPage/articleSection/icon-4.svg", sizes="(max-width: 768px) 37w"  width="37" height="28" alt="icon")
			section.transfers
				article.transfers__bg.swiper.swiperTransfersBg
					.swiper-wrapper
						.transfers__bg-slide.swiper-slide
							video(poster="public/img/videoMoments/bg-1-videoMoment.webp" width="1920" height="900" muted loop playsinline autoplay)
								source(src="public/video/transfersSection/bg-1.webm" type='video/webm')
								source(src="public/video/transfersSection/bg-1.mp4"  type='video/mp4')
						.transfers__bg-slide.swiper-slide
							video(poster="public/img/videoMoments/bg-2-videoMoment.webp" width="1920" height="900" muted loop playsinline autoplay) 
								source(src="public/video/transfersSection/bg-2.webm" type='video/webm')
								source(src="public/video/transfersSection/bg-2.mov"  type='video/mov')
						.transfers__bg-slide.swiper-slide
							img.article-img(src="public/img/videoMoments/bg-3-videoMoment.jpg" width="1920" height="900" srcset="public/img/videoMoments/bg-3-videoMoment.webp" sizes="(max-width: 768px) 768px" alt="Background image" loading="lazy")
					nav.swiper-pagination
					nav.swiper-scrollbar
				.swiper-button-next.transfers-btn
					svg(xmlns='http://www.w3.org/2000/svg', width='20', height='8', viewBox='0 0 20 8', fill='none')
						path(d='M19.3536 4.35355C19.5488 4.15829 19.5488 3.84171 19.3536 3.64645L16.1716 0.464466C15.9763 0.269204 15.6597 0.269204 15.4645 0.464466C15.2692 0.659728 15.2692 0.976311 15.4645 1.17157L18.2929 4L15.4645 6.82843C15.2692 7.02369 15.2692 7.34027 15.4645 7.53553C15.6597 7.7308 15.9763 7.7308 16.1716 7.53553L19.3536 4.35355ZM0 4.5H19V3.5H0V4.5Z', fill='white')
				
				article.transfers__left 
					section.transfers-title.swiper.swiperLeftTitle 
						.swiper-wrapper
							.transfers-title__slide.swiper-slide
								h2 Money transfers
							.transfers-title__slide.swiper-slide
								h2 Omni channel payments
							.transfers-title__slide.swiper-slide
								h2 Open Banking
						
					nav.transfers__left_buttons
						ul
							li
								button.button.button-blue.popup-btn(data-popup="apply-form") Apply Now
							li
								a.button.button-transparent-blue(href="contacts.html") Get help
				article.transfers__right 
					section.transfers-descr.swiper.swiperRightDescr
						.swiper-wrapper
							.transfers-descr__slide.swiper-slide
								p Link all your business accounts and manage all your inbound and outbound payments in one place. Pay your staff, receive money, and control your cash flow in multiple currencies from all around the world. <br> <br>Build your brand by exploiting the endless opportunities of a truly borderless world.
							.transfers-descr__slide.swiper-slide
								p Never miss a payment, we support a variety of payment methods from classic card acquiring to alternative payment methods. Seamlessly adapting to your customers needs with one integration.
							.transfers-descr__slide.swiper-slide
								p With SEPA instant you can have full control of your money in less than 10 seconds from the moment a transfer is initiated. Meaning no more waiting for settlement to clear to continue growing your business.
						nav.swiper-pagination
			section.loginaway
				hgroup
					h2.loginaway__title One Log In away
					p.loginaway__descr Complete control of all of your financial processes trough single account
				//- nav.loginaway__buttons 
				//- 	ul
				//- 		li
				//- 			a.button.button-blue(href="#") Apply Now
				//- 		li
				//- 			a.button.button-transparent-blue(href="#") Get help
				.loginaway__scene
					p.loginaway__scene_image
						img(src="public/img/mainPage/loginawaySection/phone.png" width="938" height="632" srcset="public/img/mainPage/loginawaySection/phone.webp" sizes="(max-width: 768px) 768px" alt="Smartphone in a woman's hand, financial application on the screen." loading="lazy")
					p.loginaway__scene_back
						img(src="public/img/mainPage/loginawaySection/back.png" width="623" height="623" srcset="public/img/mainPage/loginawaySection/back.webp" sizes="(max-width: 768px) 768px" alt="back element" loading="lazy")
				article.loginaway-slider.swiper.swiperLoginaway
					.swiper-wrapper
						.loginaway-slider__slide.swiper-slide
							h2.title Adding new payment options
							p.number 01
						.loginaway-slider__slide.swiper-slide
							h2.title Generating payment links <br> for promotions
							p.number 02
						.loginaway-slider__slide.swiper-slide
							h2.title Fulfilling your obligations to suppliers
							p.number 03
						.loginaway-slider__slide.swiper-slide
							h2.title Money <br> transfers
							p.number 04
						.loginaway-slider__slide.swiper-slide
							h2.title Keeping track of your financials
							p.number 05
					
					nav.swiper-pagination
			
			section.paltform
				img.paltform__bg(src="public/img/mainPage/platformSection/bg.jpg" srcset="public/img/mainPage/platformSection/bg.webp" sizes="(max-width: 768px) 768px" alt="Silhouette of a man standing on top of a cliff, with high mountain ranges in the background." loading="lazy")
				article.container
					hgroup
						h2.paltform__title Resource rich platform to run and manage your business financials.
						p.paltform__descr Look beyond traditional solutions. Our outreach gives you the tools to eplore new destinations with local payment solutions. Incerasing customer retention and cutting down cost.
			section.blob 
				article.container
					.blob__wrap
						.blob-left.swiper.swiperBlobLeft
							.swiper-wrapper
								.blob-left__slide.swiper-slide
									h2.title Receive and Transfer funds globally
								.blob-left__slide.swiper-slide
									h2.title Sell with links
								.blob-left__slide.swiper-slide
									h2.title Automated dashboards
							nav.swiper-pagination
							nav.swiper-scrollbar
						.blob-right.swiper.swiperBlobRight
							.swiper-wrapper
								.blob-right__slide.swiper-slide
									h3.title Empower your transactions with seamless global fund transfers. Send and receive money worldwide effortlessly.
								.blob-right__slide.swiper-slide
									h3.title Efficiently manage transactions with our intuitive platform. Generate custom payment links for swift and secure transfers.
								.blob-right__slide.swiper-slide
									h3.title Gain actionable insights at your fingertips. Track and analyse transactions effortlessly through our automated dashboards for comprehensive reporting.
	
							nav.swiper-pagination
						
						.swiper-button-next.blob-btn
							svg(xmlns='http://www.w3.org/2000/svg', width='20', height='8', viewBox='0 0 20 8', fill='none')
								path(d='M19.3536 4.35355C19.5488 4.15829 19.5488 3.84171 19.3536 3.64645L16.1716 0.464466C15.9763 0.269204 15.6597 0.269204 15.4645 0.464466C15.2692 0.659728 15.2692 0.976311 15.4645 1.17157L18.2929 4L15.4645 6.82843C15.2692 7.02369 15.2692 7.34027 15.4645 7.53553C15.6597 7.7308 15.9763 7.7308 16.1716 7.53553L19.3536 4.35355ZM0 4.5H19V3.5H0V4.5Z', fill='white')
				
				
				
				video.blob-video(poster="./public/img/videoMoments/blob-videoMoment.webp" muted loop playsinline autoplay)
					source(src="./public/video/blob.webm" type='video/webm')
					source(src="./public/video/blob.mp4"  type='video/mp4')
			section.insights
				article.container 
					h2.insights__title Insights
					section.insights__sliders
						.insights-text.swiper.swiperInsightsText
							.swiper-wrapper
								.insights-text__slide.swiper-slide
									p What sets us appart from any other vendor is our support. All our clients are assigned to a personal manager that is always there to help. No more “please hold the line” messages that seem to last forever, say goodbye 
									p to automated support that never leads to a resolution of your issue. Our managers in cooperation with the technical department will always make their best effort to resolve any issue you may have as soon as possible.
								.insights-text__slide.swiper-slide
									p Use our top-notch technology to keep your money, payments and sensitive information safe. We utilise the latest two-factor authentication software to make sure only you have access to your account.
									p PCI DSS Level 1 certification and Fault-tolerant AWS infrastructure ensures that both yours and your clients personal information is encrypted and stored securely.
								.insights-text__slide.swiper-slide
									p Simple to use yet powerful APIs give you more control and save dev-time. We aim to develop a payments “magic box” that will facilitate all our clients needs in regards to managing their work and cash flows. 
									p A single platform that lets you manage current accounts, traditional card processing, alternative methods, payouts to clients, payrolls and so much more.
							.swiper-pagination
							.swiper-scrollbar
						
						.insights-image.swiper.swiperInsightsImage
							.swiper-wrapper
								.insights-image__slide.swiper-slide
									img(src="public/img/mainPage/insightsSection/slide-1.png" srcset="public/img/mainPage/insightsSection/slide-1.webp" sizes="(max-width: 768px) 768px" alt="A woman's hand writes a note in a notebook, there is a cup of coffee on the table. Top view." loading="lazy")
								.insights-image__slide.swiper-slide
									img(src="public/img/mainPage/insightsSection/slide-2.png" srcset="public/img/mainPage/insightsSection/slide-2.webp" sizes="(max-width: 768px) 768px" alt="A man in a suit sits indoors on a chair and looks at his phone screen." loading="lazy")
								.insights-image__slide.swiper-slide
									img(src="public/img/mainPage/insightsSection/slide-1.png" srcset="public/img/mainPage/insightsSection/slide-1.webp" sizes="(max-width: 768px) 768px" alt="A woman's hand writes a note in a notebook, there is a cup of coffee on the table. Top view." loading="lazy")
							.swiper-button-next.insights-btn
								svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 22 43', fill='none')
									path(d='M0.5 1L21 21.5L0.5 42', stroke='white')
							section.insights__sliders-block
								.insights-title.swiper.swiperInsightsTitle
									.swiper-wrapper
										.insights-title__slide.swiper-slide
											h2 Support
										.insights-title__slide.swiper-slide
											h2 Security
										.insights-title__slide.swiper-slide
											h2 Technology

			section.read 
				article.container 
					ul.read__list 
						li.read__list_item.read__list_item-1
							img.bg(src="public/img/mainPage/readSection/item-1-bg.jpg" srcset="public/img/mainPage/readSection/item-1-bg.webp" sizes="(max-width: 768px) 711px" alt="A photo of two guys looking at a laptop monitor screen." loading="lazy")
							h2.title Need a little bit more help?
							.bottom 
								p.bottom__text Empower your business with Fintiko's comprehensive suite of services! From seamless company formation to cutting-edge website development, strategic digital marketing, invaluable legal counseling, and expert financial licensing consulting, we've got you covered. Take charge of your success today and let Fintiko propel your business to new heights. Get started now and watch your dreams flourish!
								nav.bottom__buttons
									ul 
										li
											button.button.button-blue.popup-btn(data-popup="apply-form") Apply Now
										li
											a.button.button-arrow(href="contacts.html") Get in touch
												svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
													path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')

						li.read__list_item.read__list_item-2
							video.bg(poster="./public/img/videoMoments/blob-videoMoment.webp" muted loop playsinline autoplay)
								source(src="./public/video/blob.webm" type='video/webm')
								source(src="./public/video/blob.mp4"  type='video/mp4')
							h2.title Get an overview of our pricing, or contact our sales team if you believe your business falls out of the general scope due to volumes, industry or other factors.
							nav.buttons 
								ul 
									li
										a.button.button-blue(href="comming-soon-page.html") Pricing Details
									li
										a.button.button-transparent-white(href="contacts.html") Get offer
						li.read__list_item.read__list_item-3
							img.bg(src="public/img/mainPage/readSection/item-3-bg.jpg" srcset="public/img/mainPage/readSection/item-3-bg.webp" sizes="(max-width: 768px) 711px" alt="Laptop on granite surface" loading="lazy")
							h2.title Explore our API, start your integration and review your setup with our integrated test environment to make sure everything works up to your expectations.
							nav.buttons
								ul
									//- li
									//- 	a.button.button-blue(href="#") Sign Up Now
									li
										a.button.button-transparent-white(href="#" target="_blank") Review our API documentation
		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot







