- var title = "Fintiko | Smart Payment Orchestration | Superior Transaction Management & Business Solutions";
- var description = "Streamline your business with Fintiko: Manage cross-border payments, multi-currency deposits, recurring billing, and cash flow—all in one platform. Enhance your brand with our services, including company formation, website development, digital marketing, legal counseling, and financial licensing. Get started today!";


doctype html
html(lang="en")
	include includes/head
	body
		include includes/header
		
		main.main 
			section.welcome.not-found
				.welcome__bg
					video(poster="./public/img/videoMoments/welcome-bg_moment.webp" width="1920" height="900" muted loop playsinline autoplay)
						source(src="./public/video/top-section-bg.webm" type='video/webm')
						source(src="./public/video/top-section-bg.mp4"  type='video/mp4')
				article.container 
					section.welcome__wrap 
						.welcome__left
							h1.welcome__left_title 
								span 404 <br>
								| Page not found
						.welcome__right
							nav.welcome__bottom 
								ul
									li
										a.button.button-blue(href="index.html") Go to Main Page
									li
										a.button.button-transparent-blue(href="contacts.html") Get help
							//- .swiper.welcome-slider.welcomeSlider
							//- 	.swiper-wrapper
							//- 		.swiper-slide.welcome-slider_item 
							//- 			p Online payments
							//- 		.swiper-slide.welcome-slider_item 
							//- 			p Reccuring
							//- 		.swiper-slide.welcome-slider_item 
							//- 			p Invoicing
							//- 		.swiper-slide.welcome-slider_item 
							//- 			p Pay by Link
							//- 		.swiper-slide.welcome-slider_item 
							//- 			p Open banking
							//- 	nav.swiper-scrollbar
					
		
					
		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot







