- var title = "Streamline Online Payments | Secure Payment Processing of both Traditional Acquiring Services and Alternative Payment Methods | Fintiko";
- var description = "Simplify global transactions with Fintiko’s secure online payment solutions. Experience fast payment processing, advanced acquiring services, low transaction costs, and seamless integration with your accounts. Empower your business to thrive in the digital economy today!";

doctype html
html(lang="en")
	include includes/head
	body

		include includes/header

		main.main
			section.top-section
				.top-section__bg.top-section__bg--payments
					video(poster="./public/img/videoMoments/payments-bg_moment.webp" width="1920" height="584" muted loop playsinline autoplay)
						source(src="./public/video/payments-top.webm" type='video/webm')
						source(src="./public/video/payments-top.mp4" type='video/mp4')
					
				nav.container
					a.top-section__crumb(href="index.html")
						p
							img(src="public/img/crumb-arr.svg", width="22" height="8" alt="arrow")
						h4 Payments
				article.top-section__wrap 
					h1.top-section__title Unlock Seamless <br> Online Payments <br> with Fintiko
					.top-section__num
						small 001 
					.top-section__descr 
						p.top-section__descr-text Experience convenience, security, and flexibility in global transactions with Fintiko – where financial innovation meets your expectations.
						nav.top-section__descr-buttons
							ul
								li
									button.button.button-blue.popup-btn(data-popup="apply-form") Apply for an Account
								li
									a.button.button-arrow(href="contacts.html") Get in Touch with Sales
										svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 21 16', fill='none')
											path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
			section.blocks
				article.container 
					ul.blocks__list
						li.blocks__item.blocks__item-1
							p.bg
								img(src="public/img/paymentsPage/blocksSection/item-bg-1.png", srcset="public/img/paymentsPage/blocksSection/item-bg-1.webp" sizes="(max-width: 768px) 526px" width="409" height="380" alt="A woman with a laptop and a man with a smartphone.")
							h2.title Your trusted destination for seamless online payments.
							p.descr With our user-friendly platform and unwavering commitment to excellence, trust Fintiko to facilitate smooth and secure transactions, empowering you to navigate the digital economy with confidence.
							//- nav.btn
							//- 	ul
							//- 		li
							//- 			a.button.button-blue(href="#") Sign Up Now
							//- 		li
							//- 			a.button.button-transparent-blue(href="#") Contact Our Team
						li.blocks__item.blocks__item-2
							p.bg
								img(src="public/img/paymentsPage/blocksSection/item-bg-2.png", srcset="public/img/paymentsPage/blocksSection/item-bg-2.webp" sizes="(max-width: 768px) 521px" width="686" height="847" alt="Sporty girl side view.")
							h2.title Powerful <br> Online Payment Processing
							p.descr Fintiko offers fast and secure online payment processing. Whether you're selling products or services, our platform ensures smooth and reliable transactions.
							nav.btn
								ul
									li
										button.button.button-blue.popup-btn(data-popup="apply-form") Sign Up Now
									li
										a.button.button-arrow(href="#" target="_blank") Check Out Our API
											svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
												path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
						li.blocks__item.blocks__item-3
							picture.bg
								source(type="image/webp" srcset="public/img/paymentsPage/blocksSection/item-bg-3-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/paymentsPage/blocksSection/item-bg-3.webp")
								source(srcset='public/img/paymentsPage/blocksSection/item-bg-3-mob.png' media='(max-width: 768px)')
								img(src="public/img/paymentsPage/blocksSection/item-bg-3.png", srcset="public/img/paymentsPage/blocksSection/item-bg-3.webp" sizes="(max-width: 768px) 798px" width="606" height="705" alt="A girl in a suit with a glass stands against the wall and smiles.")
							
							h2.title Advanced <br> Acquiring Services
							p.descr Maximise your revenue potential with our advanced routing features. Open an account with our partner acquirers or request an integration of your own. Fintiko provides low transaction rates, supports chargeback and refund functionality and will keep track of your settlements to linked accounts.
							//- nav.btn
							//- 	ul
							//- 		li
							//- 			a.button.button-blue(href="#") Sign Up Now
							//- 		li
							//- 			a.button.button-arrow(href="#") Review Our Rates
							//- 				svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 21 16', fill='none')
							//- 					path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
						li.blocks__item.blocks__item-4
							.video 
								video(poster="./public/img/videoMoments/waves_moment.webp" width="1313" height="592" muted loop playsinline autoplay) 
									source(src="./public/video/waves.webm" type='video/webm')
									source(src="./public/video/waves.mp4" type='video/mp4')
							p.bg
								img(src="public/img/paymentsPage/blocksSection/item-bg-4.png", srcset="public/img/paymentsPage/blocksSection/item-bg-4.webp" sizes="(max-width: 768px) 755px" width="635" height="570" alt="A blue credit card is placed on the payment terminal.")
							h2.title Streamlined <br> Recurring Billing
							p.descr Effortlessly manage recurring payments with Fintiko. Our system helps you automate billing cycles, ensuring a consistent cash flow.
							nav.btn
								ul
									li
										button.button.button-blue.popup-btn(data-popup="apply-form") Sign Up Now
									li
										a.button.button-arrow(href="comming-soon-page.html") Review Our Rates
											svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
												path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
						li.blocks__item.blocks__item-5
							p.bg
								img(src="public/img/paymentsPage/blocksSection/item-bg-5.png", srcset="public/img/paymentsPage/blocksSection/item-bg-5.webp" sizes="(max-width: 768px) 570px" width="505" height="120" alt="link block")
							h2.title Convenient Pay by Link
							p.descr Simplify payment collection by sending payment links directly to your customers. It's a hassle-free way to get paid swiftly.
							nav.btn
								ul
									//- li
									//- 	a.button.button-blue(href="#") Sign Up Now
									li
										a.button.button-transparent-blue(href="comming-soon-page.html") Review Our Rates
						li.blocks__item.blocks__item-6
							.bg
								video(poster="./public/img/videoMoments/bg-1-videoMoment.webp" width="616" height="680" muted loop playsinline autoplay)
									source(src="./public/video/transfersSection/bg-1.webm" type='video/webm')
									source(src="./public/video/transfersSection/bg-1.mp4"  type='video/mp4')
							h2.title Efficient Invoicing
							p.descr Create and send professional invoices with ease using Fintiko. Impress clients with detailed invoices that work smarter for your business.
							nav.btn
								ul
									li
										button.button.button-black.popup-btn(data-popup="apply-form") Sign Up Now
									//- li
									//- 	a.button.button-transparent-white(href="#") Review Our Rates
						li.blocks__item.blocks__item-7
							.bg
								picture
									source(type="image/webp" srcset="public/img/paymentsPage/blocksSection/item-bg-6-mob.webp" media="(max-width: 768px)")
									source(type="image/webp" srcset="public/img/paymentsPage/blocksSection/item-bg-6.webp")
									source(srcset='public/img/paymentsPage/blocksSection/item-bg-6-mob.png' media='(max-width: 768px)')
									img(src="public/img/paymentsPage/blocksSection/item-bg-6.png", srcset="public/img/paymentsPage/blocksSection/item-bg-6.webp" sizes="(max-width: 768px) 711px" width="1313" height="592" alt="Four young people posing against a white office ceiling.")
							.title 
								span Diverse <br> Payment Options
							.descr 
								span Fintiko supports various alternative payment methods, ensuring you can cater to a global audience and adapt to evolving customer preferences.
							.btn
								button.button.button-blue.popup-btn(data-popup="apply-form") Sign Up Now
								a.button.button-arrow(href="comming-soon-page.html") 
									span Review Our Rates
									svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
										path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')
			section.security
				.security__bg
					picture
						source(type="image/webp" srcset="public/img/paymentsPage/securitySection/bg-mob.webp" media="(max-width: 768px)")
						source(type="image/webp" srcset="public/img/paymentsPage/securitySection/bg.webp")
						source(srcset='public/img/paymentsPage/securitySection/bg-mob.jpg' media='(max-width: 768px)')
						img(src="public/img/paymentsPage/securitySection/bg.jpg", sizes="(max-width: 768px) 768px" width="1920" height="936"  alt="Girl with glasses in the back seat of a car looking at the phone screen.")
				article.container 
					h2.security__title Your Security Matter
					p.security__descr At Fintiko, we prioritize your security. Our robust encryption and stringent security measures safeguard your transactions. Plus, we support payments in local currencies, making international transactions seamless
					nav.security__buttons
						ul
							li
								button.button.button-blue.popup-btn(data-popup="apply-form") Sign Up Now
							li
								a.button.button-arrow(href="contacts.html") Get in Touch with Us
									svg(xmlns='http://www.w3.org/2000/svg', width='21', height='16', viewBox='0 0 21 16', fill='none')
										path(d='M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z', fill='#1A59FA')

		
		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot







