- var title = "Fintiko";

doctype html
html(lang="en")
	include includes/head
	body
		header.header.header--white
			nav 
				a(href="index.html").header__logo 
					img(src="public/img/logo.svg", width="135" height="24" alt="logo" srcset="public/img/logo.svg" sizes="(max-width: 768px) 206px")
				.open
					.open__item
					.open__item
					.open__item
				ul.menu
					li.menu__item 
						a.link-menu Products
						ul.menu__sublist
							li.menu__subitem
								a.link-menu(href="account.html") Accounts
							li.menu__subitem
								a.link-menu(href="payments.html") Payments
							li.menu__subitem
								a.link-menu(href="pricing.html") Pricing
							li.menu__subitem
								a.link-menu(href="services.html") Services
					li.menu__item
						a.link-menu Company
						ul.menu__sublist
							li.menu__subitem
								a.link-menu(href="about-us.html") About us
							//- li.menu__subitem
							//- 	a.link-menu(href="#") Careers
					li.menu__item
						a.link-menu Extras
						ul.menu__sublist
							li.menu__subitem
								a.link-menu(href="#" target="_blank") API Documentation
							//- li.menu__subitem
							//- 	a.link-menu(href="#") Gateway 
					
					li.menu__item
						.header__btns
							ul
								li
									button.header__btn.header__btn_apply.popup-btn(data-popup="apply-form") Apply
								li
									a.header__btn.header__btn_signin(href="#" target="_blank") Sign In
		
		main.main.main--white
			section.top-section.top-section--white
				nav.container
					a.top-section__crumb(href="index.html")
						p
							img(src="public/img/crumb-arr-dark.svg", width="22" height="8" alt="arrow")
						h4 Pricing
				article.top-section__wrap 
					h1.top-section__title Pricing for <br> the big and small 
					.top-section__num 
						small.top-md 001 
					.top-section__descr 
						p.top-section__descr-text Bespoke. A personalized package – designed for businesses with substantial payment volumes or distinctive business models.
						nav.top-section__descr-buttons
							ul
								li
									a.button.button-blue(href="contacts.html") Contact Sales
							
			section.payins
				article.container 
					h2.payins__title Pay-ins
					picture.line
						source(srcset='public/img/pricingPage/payinsSection/line-mob.svg' media='(max-width: 768px)')
						img(src="public/img/pricingPage/payinsSection/line.svg", sizes="(max-width: 768px) 462px" width="402" height="18" alt="line")
					article.payins__wrap 
						h3.title Card transactions
						.cards 	
							.cards__item.cards__item-1
								.top
									p
										img(src="public/img/pricingPage/payinsSection/paym-1.png", sizes="(max-width: 768px) 199px" width="284" height="56" alt="logo visa or mastercard")
									span.currency EU / EEA
								.bottom 
									p.percent 3.0% + 0.35 EUR
									p.min min 0.35 EUR
							.cards__item.cards__item-2
								.top
									p
										img(src="public/img/pricingPage/payinsSection/paym-1.png", sizes="(max-width: 768px) 199px" srcset="public/img/pricingPage/payinsSection/paym-1.webp" width="284" height="56" alt="logo visa or mastercard")
									span.currency Non - EU
								.bottom 
									p.percent 3.75% + 0.35 EUR
									p.min min 0.35 EUR
							.cards__item.cards__item-3 
								.top
									p
										img(src="public/img/pricingPage/payinsSection/paym-2.svg", sizes="(max-width: 768px) 249px" width="160" height="34" alt="logo discover")
								.bottom 
									p.percent 3.95% + 0.35 EUR
									p.min min 0.35 EUR
							.cards__item.cards__item-4 
								.top
									p
										img(src="public/img/pricingPage/payinsSection/paym-3.svg", sizes="(max-width: 768px) 199px" width="134" height="46" alt="logo american express")
								.bottom 
									p.percent 4.0% + 0.35 EUR
									p.min min 0.35 EUR
					article.payins__wrap
						h3.title Alternative Payment methods
						.block
							aside.block__left 
								.block__left-applies
									img(src="public/img/pricingPage/payinsSection/icon-eu.svg", width="24" height="24" sizes="(max-width: 768px) 42px" alt="logo EU / EEA")
									p EU / EEA
								p.block__left-comment Applies to transaction which was made within European Union or European Economic Area. 
							.block__table
								table
									tbody
										tr.head
											td Service
											td Country
											td Fee	
										tr
											td Bilk
											td Poland
											td 1.5%  
												span  + 0.15 EUR
										tr
											td Trustly
											td.multiple Multiple
												img.information(src="public/img/pricingPage/payinsSection/i.svg", width="21" height="21" sizes="(max-width: 768px) 33px" alt="icon information")
												.window
													img.close(src="public/img/pricingPage/payinsSection/close.svg", width="12" height="12" sizes="(max-width: 768px) 22px"  alt="icon information")
													p Latvia, Lithuania, Estonia, Netherlands, Austria, Germany, Sweden, Finland Norway, Denmark, Spain, United Kingdom
											td 3.0% + 0.35 EUR
										
										tr
											td Multibanko
											td Portugal
											td 2.6% + 0.25 EUR
						.block
							aside.block__left 
								.block__left-applies 
									img(src="public/img/pricingPage/payinsSection/icon-non.svg", width="24" height="24" sizes="(max-width: 768px) 42px" alt="logo NON - EU / EEA")
									p NON - EU / EEA
								p.block__left-comment Applies to transaction which was made   outside of an European Union or European Economic Area. 
							.block__table.block__table--2
								table
									tbody
										tr.head
											td Service
											td Country
											td Fee	
										tr.label
											td(colspan="3" align="left") North america
										tr
											td Interac
											td Canada
											td IC++ 0.60% <br> + 0.25 EUR
										tr.without-border
											td Cash App Pay
											td USA
											td 3.0% + 0.45 EUR
										tr.label
											td(colspan="3" align="left") Asia
										tr
											td GoPay
											td Indonesia
											td 4.5% + 0.35 EUR
										tr
											td GrabPay
											td Singapore
											td From 1.5% <br> + 0.35 EUR
										tr
											td GrabPay
											td Malaysia
											td From 1.5% <br> + 0.35 EUR
										tr
											td GrabPay
											td Philippines
											td From 1.5% <br> + 0.35 EUR
										tr.without-border
											td KakaoPay
											td South <br> Korea
											td 3.5% + 0.25 EUR
										tr.label
											td(colspan="3" align="left") Latin America
										tr
											td Hipercard
											td Brazil
											td IC++ 0.60% <br> + 0.25 EUR
										tr
											td Elo
											td Brazil
											td IC++ 0.60% <br> + 0.25 EUR
										tr
											td OXXO
											td Mexico
											td 4% + 0.25 EUR

			//- section.payouts
			//- 	article.container 
			//- 		h2.payouts__title Pay-outs
			//- 		picture.line
			//- 			source(srcset='public/img/pricingPage/payinsSection/line-mob.svg' media='(max-width: 768px)')
			//- 			img(src="public/img/pricingPage/payinsSection/line.svg", alt="line")
			//- 		article.payouts__wrap 
			//- 			h3.title Card transactions
			//- 			.cards 
			//- 				.cards__item.cards__item-1
			//- 					.top
			//- 						img(src="public/img/pricingPage/payinsSection/paym-1.png", alt="logo visa or mastercard")
			//- 						span.currency EU / EEA
			//- 					.bottom 
			//- 						p.percent 1.5% + 0.25 EUR
			//- 						p.min min 0.35 EUR
			//- 				.cards__item.cards__item-2
			//- 					.top
			//- 						img(src="public/img/pricingPage/payinsSection/paym-1.png", alt="logo visa or mastercard")
			//- 						span.currency Non - EU
			//- 					.bottom 
			//- 						p.percent 3.0% + 0.25 EUR
			//- 						p.min min 0.35 EUR
			//- 				.cards__item.cards__item-3 
			//- 					.top
			//- 						img(src="public/img/pricingPage/payinsSection/paym-2.svg", alt="logo discover")
			//- 					.bottom 
			//- 						p.percent 3.0% + 0.25 EUR
			//- 						p.min min 0.35 EUR
			//- 				.cards__item.cards__item-4 
			//- 					.top
			//- 						img(src="public/img/pricingPage/payinsSection/paym-3.svg", alt="logo american express")
			//- 					.bottom 
			//- 						p.percent 3.5% + 0.25 EUR
			//- 						p.min min 0.35 EUR				
			//- 				.cards__item.cards__item-5
			//- 					.top
			//- 						img(src="public/img/pricingPage/payinsSection/paym-3.svg", alt="logo american express")
			//- 					.bottom 
			//- 						p.percent 3.5% + 0.25 EUR
			//- 						p.min min 0.35 EUR				
			//- 				.cards__item.cards__item-6
			//- 					.top
			//- 						img(src="public/img/pricingPage/payinsSection/paym-3.svg", alt="logo american express")
			//- 					.bottom 
			//- 						p.percent 3.5% + 0.25 EUR
			//- 						p.min min 0.35 EUR				
			//- 		article.payouts__wrap
			//- 			h3.title Alternative Payment methods
			//- 			.block
			//- 				aside.block__left 
			//- 					.block__left-applies 
			//- 						img(src="public/img/pricingPage/payinsSection/icon-eu.svg", alt="logo EU / EEA")
			//- 						p EU / EEA
			//- 					p.block__left-comment Applies to transaction which was made within European Union or European Economic Area. 
			//- 				.block__table
			//- 					table
			//- 						tbody
			//- 							tr.head
			//- 								td Service
			//- 								td Country
			//- 								td Fee	
			//- 							tr
			//- 								td Bilk
			//- 								td
			//- 									img(src="public/img/pricingPage/payoutsSection/pl.svg", alt="icon Poland")
			//- 									| Poland
			//- 								td 1.5% + 0.15 EUR
			//- 							tr
			//- 								td Bizum
			//- 								td
			//- 									img(src="public/img/pricingPage/payoutsSection/lt.svg", alt="icon Luthuania")
			//- 									| Luthuania
			//- 								td 1.5% + 0.15 EUR
			//- 							tr
			//- 								td MBWay
			//- 								td
			//- 									img(src="public/img/pricingPage/payoutsSection/pt.svg", alt="icon Portugal")
			//- 									| Portugal
			//- 								td 1.5% + 0.15 EUR
			//- 							tr
			//- 								td Infinitum 900
			//- 								td
			//- 									img(src="public/img/pricingPage/payoutsSection/ee.svg", alt="icon Estonia")
			//- 									| Estonia
			//- 								td 1.5% + 0.15 EUR
										
									
			//- 			.block
			//- 				aside.block__left 
			//- 					.block__left-applies 
			//- 						img(src="public/img/pricingPage/payinsSection/icon-non.svg", alt="logo NON - EU / EEA")
			//- 						p NON - EU / EEA
			//- 					p.block__left-comment Applies to transaction which was made   outside of an European Union or European Economic Area. 
			//- 				.block__table.block__table--2
			//- 					table
			//- 						tbody
			//- 							tr.head
			//- 								td Service
			//- 								td Country
			//- 								td Fee	
			//- 							tr.label
			//- 								td(colspan="3" align="left") North america
			//- 							tr
			//- 								td Bilk
			//- 								td Canada
			//- 								td 1.5% + 0.15 EUR
			//- 							tr.without-border
			//- 								td Bizum
			//- 								td USA
			//- 								td 1.5% + 0.15 EUR
			//- 							tr.label
			//- 								td(colspan="3" align="left") Asia
			//- 							tr
			//- 								td MBWay
			//- 								td Portugal
			//- 								td 1.5% + 0.15 EUR
			//- 							tr.without-border
			//- 								td MBWay
			//- 								td Portugal
			//- 								td 1.5% + 0.15 EUR
										
			//- 							tr.label
			//- 								td(colspan="3" align="left") Latin America
			//- 							tr
			//- 								td Infinitum 900
			//- 								td Lithuania
			//- 								td 1.5% + 0.15 EUR
			//- 							tr
			//- 								td Infinitum 900
			//- 								td Lithuania
			//- 								td 1.5% + 0.15 EUR
			//- 							tr
			//- 								td Infinitum 900
			//- 								td Lithuania
			//- 								td 1.5% + 0.15 EUR
			//- 							tr
			//- 								td Infinitum 900
			//- 								td Lithuania
			//- 								td 1.5% + 0.15 EUR
										
			section.sebes
				article.container
					hgroup
						h1 	You get with Sebes
						p.sebes__descr a few non-obvious but important things that make our service
					section.sebes__wrap 
						ul.sebes__left 
							li.sebes__left_item.sebes__left_item-1
								p
									img.el(src="public/img/pricingPage/sebesSection/item-2-elem.svg", width="152" height="73" sizes="(max-width: 768px) 174px" alt="0.00 euro")
								h3.title Monthly fee
								p.descr free of charge 
									span *
							li.sebes__left_item.sebes__left_item-2
								p
									img.el(src="public/img/pricingPage/sebesSection/item-3-elem.svg", width="116" height="89" sizes="(max-width: 768px) 131px" alt="message icon")
								h3.title Dispute resolution 
								p.descr Starting from 50 EUR per dispute
							li.sebes__left_item.sebes__left_item-3
								p
									img.bg(src="public/img/pricingPage/sebesSection/item-bg-4.png", srcset="public/img/pricingPage/sebesSection/item-bg-4.webp" width="306" height="248" sizes="(max-width: 768px) 341px" alt="girl on skateboard")
								h3.title Onboarding 
								p.descr free of charge 
									span *
							li.sebes__left_item.sebes__left_item-4
								p
									img.el(src="public/img/pricingPage/sebesSection/item-4-elem.svg", width="137" height="85" sizes="(max-width: 768px) 156px" alt="exchange icon")
								h3.title Currency exchange
								p.descr Fees depend on the solution
						.sebes__right 
							p.bg
								img(src="public/img/pricingPage/sebesSection/item-bg-1.png", srcset="public/img/pricingPage/sebesSection/item-bg-1.webp" width="366" height="484" sizes="(max-width: 768px) 426px" alt="man")
							p.el
								img(src="public/img/pricingPage/sebesSection/item-1-elem.png", srcset="public/img/pricingPage/sebesSection/item-1-elem.webp" width="270" height="60" sizes="(max-width: 768px) 357px" alt="refund information")
							h3.title Refunds
							p.descr Fees and refund functionality availability depend on payment method
							

			section.services
				article.container
					hgroup
						h1 	Other Services
						p.services__descr the added value we bring to the table
					ul.services__list
						li.services__list_item 
							.text
								.text__title 
									img.icon(src="public/img/pricingPage/servicesSection/icon-1.svg", width="40" height="40" alt="link icon")
									h2 Payment links
								ul.text__list
									li.text__list_item
										span 01
										p Create links effortlessly from the Dashboard
									li.text__list_item
										span 02
										p Share them seamlessly across various channels and with multiple customers
									li.text__list_item
										span 03
										p Utilize them to sell products, services, or gather donations
									li.text__list_item
										span 04
										p Personalize the links with your own branding
							.price 
								p 0.25 EUR 
									span per link
						li.services__list_item 
							.text
								.text__title 
									img.icon(src="public/img/pricingPage/servicesSection/icon-2.svg", width="40" height="40"  alt="Invoicing icon")
									h2 Invoicing
								ul.text__list
									li.text__list_item
										span 01
										p Efficient online invoicing leading to prompt payments
									li.text__list_item
										span 02
										p Simple initiation with no coding required
									li.text__list_item
										span 03
										p Gather and track outstanding invoices
									li.text__list_item
										span 04
										p Automated reconciliation of invoices
							.price 
								p 0.25 EUR 
									span per invoice
			
						li.services__list_item 
							.text
								.text__title 
									img.icon(src="public/img/pricingPage/servicesSection/icon-2.svg", width="40" height="40"  alt="Invoicing icon")
									h2 Some other service
								ul.text__list
									li.text__list_item
										span 01
										p Company Formation
									li.text__list_item
										span 02
										p Online Marketing
									li.text__list_item
										span 03
										p Web Development
									li.text__list_item
										span 04
										p Application Development
							.price 
								p Price on request
			

		

		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot




