- var title = "Comprehensive Business Services | Company Formation, Marketing, Web Development & More | Fintiko";
- var description = "Explore Fintiko’s diverse range of services: company formation in over 40 countries, strategic marketing, custom web and application development, API solutions, and HR support. Empower your business with tailored, scalable, and innovative solutions designed for growth and efficiency.";
doctype html
html(lang="en")
	include includes/head
	body

		include includes/header
		
		main.main 
			section.welcome
				.welcome__bg.welcome__bg--services
					video(poster="./public/img/videoMoments/welcome-bg-services_moment.webp" width="1920" height="900" muted loop playsinline autoplay) 
						source(src="./public/video/welcome-bg.webm" type='video/webm')
						source(src="./public/video/welcome-bg.mp4"  type='video/mp4')
				article.container 
					section.welcome__wrap 
						.welcome__left
							h1.welcome__left_title Additional Services <br> Offered by Fintiko
						.welcome__right
							.swiper.welcome-slider.welcomeSlider
								ul.swiper-wrapper
									li.swiper-slide.welcome-slider_item 
										p API Development
									li.swiper-slide.welcome-slider_item 
										p API Integrations
									li.swiper-slide.welcome-slider_item 
										p Online payments
									li.swiper-slide.welcome-slider_item 
										p Company Formation
									li.swiper-slide.welcome-slider_item 
										p HR Services
									li.swiper-slide.welcome-slider_item 
										p Marketing Strategy Services
									li.swiper-slide.welcome-slider_item 
										p Custom Web Development
								nav.swiper-scrollbar
					nav.welcome__bottom 
						ul
							li
								button.button.button-blue.popup-btn(data-popup="apply-form") Apply Now
							li
								a.button.button-transparent-blue(href="contacts.html") Get help
	
			section.business
				article.container 
					h1 Business Consulting
					ul.business__list
						li.business__item.business__item-1
							picture.bg
								source(type="image/webp" srcset="public/img/servicesPage/businessSection/item-1-bg-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/servicesPage/businessSection/item-1-bg.webp")
								source(srcset='public/img/servicesPage/businessSection/item-1-bg-mob.png' media='(max-width: 768px)')
								img(src="public/img/servicesPage/businessSection/item-1-bg.png", srcset="public/img/servicesPage/businessSection/item-1-bg.webp" alt="Green light on the face of a man with glasses." width="1313", height="593" sizes="(max-width: 768px) 711px")
							h2.title Company Formation
							p.descr Navigating the complexities of company formation, whether locally or internationally, can be daunting. With our vast network of experts spanning over 40 countries, we offer comprehensive company formation services tailored to your needs. From onshore to offshore entities, we provide invaluable assistance in licensing for financial service companies, cryptocurrency trading firms, and gaming establishments.
							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Get Quote
						li.business__item.business__item-2
							picture.bg
								source(type="image/webp" srcset="public/img/servicesPage/businessSection/item-2-bg-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/servicesPage/businessSection/item-2-bg.webp")
								source(srcset='public/img/servicesPage/businessSection/item-2-bg-mob.png' media='(max-width: 768px)')
								img(src="public/img/servicesPage/businessSection/item-2-bg.png", srcset="public/img/servicesPage/businessSection/item-2-bg.webp" sizes="(max-width: 768px) 711px" width="616", height="680" alt="Silhouette of a man against the background of a bright multi-colored night sky.")
							h2.title HR Services
							p.descr Tap into the expertise of our seasoned professionals in corporate governance and operational excellence. Our Directors and Officers bring years of experience to support the boards of various business entities, ensuring compliance and efficiency across different organizational structures.
							//- a.btn.button.button-blue(href="#") Apply Now
						li.business__item.business__item-3
							picture.bg
								source(type="image/webp" srcset="public/img/servicesPage/businessSection/item-3-bg-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/servicesPage/businessSection/item-3-bg.webp")
								source(srcset='public/img/servicesPage/businessSection/item-3-bg-mob.png' media='(max-width: 768px)')
								img(src="public/img/servicesPage/businessSection/item-3-bg.png", srcset="public/img/servicesPage/businessSection/item-3-bg.webp" sizes="(max-width: 768px) 711px" width="616", height="680" alt="Lightbulb")
							h2.title Marketing Strategy Services
							p.descr Crafting a successful marketing strategy is paramount to business growth. At Fintiko, we prioritize strategy over tactics, following the Duct Tape Marketing System to deliver effective marketing solutions for our clients. Our approach emphasizes building a solid foundation before implementing tactics, ensuring a coherent and impactful marketing system.
							//- a.btn.button.button-blue(href="#") Apply Now

			section.it-develop
				article.container 
					h1 IT Development Services
					ul.it-develop__list
						li.it-develop__item.it-develop__item-1
							p.bg
								img(src="public/img/servicesPage/it-developSection/item-1-bg.png", srcset="public/img/servicesPage/it-developSection/item-1-bg.webp" alt="Girl in a hood laughs." width="776", height="592" sizes="(max-width: 768px) 942px")
							h2.title Custom Web Development
							p.descr Experience seamless workflows, increased revenues, and streamlined business operations with our custom web development solutions. From inception to deployment, we specialize in transforming concepts into code.
							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Get Quote
						li.it-develop__item.it-develop__item-2
							picture.bg
								source(type="image/webp" srcset="public/img/servicesPage/it-developSection/item-2-bg-mob.webp" media="(max-width: 768px)")
								source(type="image/webp" srcset="public/img/servicesPage/it-developSection/item-2-bg.webp")
								source(srcset='public/img/servicesPage/it-developSection/item-2-bg-mob.png' media='(max-width: 768px)')
								img(src="public/img/servicesPage/it-developSection/item-2-bg.png", srcset="public/img/servicesPage/it-developSection/item-2-bg.webp" alt="A digital globe with a network of interconnected points." sizes="(max-width: 768px) 711px" width="618", height="681")
							h2.title API Development
							p.descr Empower your systems with robust and user-friendly APIs tailored to your needs. Our APIs are meticulously crafted to facilitate seamless integration and customization of existing software, ensuring a smoother experience for your partners and customers.
							//- a.btn.button.button-blue(href="#") Apply Now
						li.it-develop__item.it-develop__item-3
							video.bg(poster="./public/img/videoMoments/blob-2_moment.webp" width="616" height="640" muted loop playsinline autoplay)
								source(src="./public/video/blob-2.webm" type='video/webm')
								source(src="./public/video/blob-2.mp4" type='video/mp4')
							h2.title API Integrations
							p.descr Unlock the potential of your software ecosystem with our API integration services. Whether it's payments APIs or others, we specialize in creating, installing, and configuring APIs from diverse vendors, enhancing the efficiency of your business operations.
							//- a.btn.button.button-blue(href="#") Apply Now
						li.it-develop__item.it-develop__item-4
							video.bg(poster="./public/img/videoMoments/elem_moment.webp" width="1053" height="1053" muted loop playsinline autoplay)
								source(src="./public/video/elem.webm" type='video/webm')
								source(src="./public/video/elem.mp4" type='video/mp4')
							h2.title Custom Application Development
							p.descr Leverage our extensive experience to build highly profitable, flexible, and interoperable web, mobile, desktop, and hybrid applications tailored to your specific requirements.
							button.btn.button.button-blue.popup-btn(data-popup="apply-form") Get Quote
						
		include includes/footer
		include includes/cookies_popup
		include includes/applyModal
		include includes/responseModals
		include includes/foot



