.about {
	position: relative;
	padding-top: em(81);
	padding-bottom: em(69);

	.bg {
		width: em(549);
		position: absolute;
		right: 0;
		top: em(80);
		z-index: 0;

		.line {
			stroke-dashoffset: -1400;
			animation: first-bg 1s linear both;
		}
	}

	&__wrap {
		position: relative;
		padding-top: em(44);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		z-index: 1;
	}

	&__left {
		max-width: em(630);

		&_text {
			will-change: transform;
			margin-bottom: em(49);
			transform: translateX(-100%);

			span {
				font-family: "BEXAGO";
				font-size: em(54);
				font-weight: 400;
				line-height: 1.23;
				text-transform: uppercase;

				&.green {
					color: #bbff4b;
				}
			}
		}

		&_label {
			will-change: transform;
			margin-bottom: em(35);
			transform: translateX(-110%);

			span {
				font-size: em(32);
				line-height: em(36, 32);
				letter-spacing: 0.165em;
				text-transform: uppercase;
			}
		}

		.home__btn {
			margin-top: 0;
			margin-bottom: em(35);
		}
	}

	&__right {
		width: em(633);
		position: relative;

		.images {
			height: em(416);
			width: 100%;
			margin-top: em(-79);
			margin-bottom: em(3);

			&__item {
				position: absolute;

				&-1 {
					width: em(103);
					top: 6.5em;
					left: 0;
					transform: scale(0);

					animation: elem 9s infinite ease-in-out;
				}

				&-2 {
					width: em(151);
					top: -3em;
					left: 6.6em;
					transform: scale(0);
					animation: elem 9s infinite ease-in-out 1.5s;
				}

				&-3 {
					width: em(164);
					top: 2.6em;
					left: 28.4em;
					z-index: 1;
					transform: scale(0);
				}

				&-4 {
					width: em(85);
					top: 1.2em;
					left: 26.7em;
					transform: scale(0);
					animation: elem 9s infinite ease-in-out 1s;
				}

				&-5 {
					width: em(172);
					top: 6.5em;
					left: 16em;
					transform: scale(0);
					animation: elem 9s infinite ease-in-out 0.7s;
				}
			}
		}
	}

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&_text {
			width: em(630);

			&:last-child {
				width: em(603);
				margin-right: em(28);
			}

			span {
				font-size: em(24);
				line-height: em(32, 24);

				&.green {
					display: block;
					margin-top: em(31, 24);
					color: #bbff4b;
				}
			}
		}
	}

	@media (max-width: 768px) {
		padding-top: em(77.2);
		padding-bottom: em(22);

		.bg {
			width: 41em;
		}

		&__wrap {
			flex-direction: column;
			padding-top: em(17);
		}

		&__left {
			max-width: 100%;

			&_text {
				margin-bottom: em(22);

				span {
					font-size: em(32);
					line-height: em(34, 32);
				}
			}

			&_label {
				max-width: em(295);
				margin-bottom: 0;

				span {
					font-size: em(18);
					line-height: em(20, 18);
				}
			}
		}

		&__right {
			width: 100%;

			.images {
				height: em(282);
				margin-top: 0;
				margin-bottom: em(6);

				&__item {
					position: absolute;

					&-1 {
						width: em(63);
						top: 8.5em;
						left: -0.8em;
					}

					&-2 {
						width: em(92);
						top: 2.7em;
						left: 3.2em;
					}

					&-3 {
						width: em(100);
						top: -2.8em;
						left: 14.9em;
					}

					&-4 {
						width: em(52);
						top: 5.2em;
						left: 15.6em;
					}

					&-5 {
						width: em(105);
						top: 8.5em;
						left: 9em;
					}
				}
			}
		}

		&__block {
			flex-direction: column;
			align-items: flex-start;


			&_text {
				width: 90%;
				margin-bottom: em(28);

				&:last-child {
					width: 90%;
					margin-right: 0;
				}

				span {
					font-size: em(15);
					line-height: em(17, 15);

					&.green {
						margin-top: em(17, 15);
					}
				}
			}
		}
	}
}