.next {
	position: relative;
	padding-top: em(64);
	padding-bottom: em(64);
	border-bottom: em(1) solid #323232;
	.bg {
		width: em(257);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;

		.line {
			stroke-dashoffset: -1400;
			animation: first-bg 1s linear both;
		}
	}

	&__label {
		margin-bottom: em(49);
		span {
			font-size: em(36);
			line-height: em(40, 36);
			letter-spacing: 0.165em;
			text-transform: uppercase;
			&.green {
				color: #bbff4b;
			}
		}
	}
	&__block {
		display: flex;
		&_item {
			width: em(751);
			margin-right: em(93);
			span {
				font-size: em(24);
				line-height: em(27, 24);
				letter-spacing: 0.165em;
				text-transform: uppercase;
				&.green {
					color: #bbff4b;
				}
			}
			&:nth-child(2) {
				margin-right: 0;
				width: em(364);
			}
		}
	}
	@media (max-width: 768px) {
		padding-top: em(26);
		padding-bottom: em(28);
		.bg {
			width: 12.1em;
		}
		&__label {
			margin-bottom: em(21);
			span {
				font-size: em(18);
				line-height: em(20, 18);
			}
		}
		&__block {
			flex-direction: column;
			&_item {
				width: 100%;
				margin-bottom: em(29);
				&:last-child {
					margin-bottom: 0;
				}
				span {
					font-size: em(14);
					line-height: em(16, 14);
				}
			}
		}
	}
}
