- var title = "";
doctype html
html
	include includes/head
	body
		.body-wrap
			include sections/header
			main.main
				.modal.reg.open
					.modal__wrap
						//- .close
						//- 	img(src="./public/img/popups/close.svg")
						.modal__header.reg__header Регистрация
						.reg__content 
							.get__content
							.get__sale
								.get__sale-text Доступ всего за 1 Рубль
								.get__sale-pla АКЦИЯ!
							.reg__socials.socials 
								.socials__title Через соц. сети
								ul.socials__list 
									li
										a.socials__item.socials__item-mail(href="#")
											svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M4.82698 2.07554C3.31652 2.07554 1.98774 3.47635 1.98774 5.06542C1.98774 6.63883 3.31611 8.02356 4.82656 8.02356C5.59075 8.02356 6.29202 7.70575 6.81912 7.16012L6.82704 7.45445C6.81954 8.35268 7.94457 8.95309 8.70126 8.33659C10.3726 6.97882 10.4721 3.48722 8.75917 1.62251C7.1208 -0.160893 4.4028 -0.514792 2.3415 0.763418C-0.353163 2.43466 -0.407331 5.66018 0.608948 7.49358C2.11232 10.2087 5.33158 10.2609 6.48828 9.74654C7.25372 9.40742 6.91329 8.36877 6.17619 8.67962C4.72073 9.2909 2.27191 8.67788 1.41605 6.61927C0.630198 4.73152 1.43855 2.72203 2.70192 1.81425C3.89029 0.960366 6.1241 0.710376 7.78915 2.22901C9.57586 3.85851 8.81709 6.6697 8.18333 7.34924C8.02124 7.52184 7.72831 7.38315 7.75456 7.1136L7.75248 2.99898C7.75248 2.8829 7.67664 2.51726 7.30538 2.51726H7.24497C7.00788 2.51726 6.83704 2.71638 6.83704 2.98115V2.97898C6.30952 2.4277 5.59117 2.07554 4.82698 2.07554ZM4.81657 7.05447C3.8107 7.05447 3.04318 6.30146 3.04318 5.10846C3.04318 4.04416 3.67778 3.10637 4.82156 3.10637H4.85907C5.84993 3.10637 6.67037 3.79938 6.72745 4.95151L6.72995 5.18411C6.67662 6.19755 5.93868 7.05447 4.81657 7.05447Z' fill='#FFA013')
									li
										a.socials__item.socials__item-gmail(href="#")
											svg(width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M4 4.8H6.2632C6.09713 5.26761 5.79048 5.67239 5.38529 5.95885C4.9801 6.2453 4.49622 6.3994 4 6.4C2.6768 6.4 1.6 5.3232 1.6 4C1.6 2.6768 2.6768 1.6 4 1.6C4.5736 1.6 5.1256 1.8056 5.5544 2.1792L6.6056 0.972802C5.88306 0.344482 4.95752 -0.00107001 4 2.48905e-06C1.7944 2.48905e-06 0 1.7944 0 4C0 6.2056 1.7944 8 4 8C6.2056 8 8 6.2056 8 4V3.2H4V4.8Z' fill='#FF5D4F')
									li
										a.socials__item.socials__item-vk(href="#")
											svg(width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M9.77371 0.343741C9.66119 0.640927 9.5095 0.899608 9.31947 1.13449L9.32739 1.12398C9.14069 1.38535 8.91774 1.68732 8.65853 2.02989C8.43627 2.30036 8.31861 2.44038 8.30555 2.44994C8.24804 2.5105 8.20803 2.58471 8.19428 2.66627L8.19387 2.66872C8.20512 2.74293 8.24596 2.80769 8.30555 2.85599L8.47225 3.01211C9.36406 3.78197 9.86567 4.31263 9.97708 4.6041C9.99167 4.63631 10 4.67341 10 4.71227C10 4.78017 9.97416 4.84283 9.93041 4.89429L9.93124 4.89324C9.85789 4.95659 9.75538 4.9958 9.64202 4.9958C9.62952 4.9958 9.6166 4.99545 9.60452 4.9944H9.60618H8.50975C8.50933 4.9944 8.5085 4.9944 8.50767 4.9944C8.36723 4.9944 8.23804 4.95309 8.13677 4.88449L8.13802 4.88519C7.9905 4.78332 7.85923 4.67306 7.74171 4.55335L7.73796 4.54915C7.54598 4.36689 7.37567 4.21346 7.22704 4.08884C6.73195 3.69353 6.36662 3.49587 6.13102 3.49587C6.12227 3.49517 6.11227 3.49482 6.10185 3.49482C6.03309 3.49482 5.96891 3.51267 5.91599 3.54312L5.91724 3.54242C5.8739 3.58793 5.84764 3.64674 5.84764 3.71009C5.84764 3.7227 5.84847 3.7346 5.85056 3.74685V3.74545C5.83931 3.85536 5.83264 3.98313 5.83264 4.11229C5.83264 4.15395 5.83347 4.19525 5.83472 4.23656V4.23061V4.63631C5.83889 4.65276 5.84139 4.67166 5.84139 4.69091C5.84139 4.77562 5.79555 4.85123 5.72387 4.90129C5.56259 4.96325 5.37381 5 5.17503 5C5.13252 5 5.09085 4.99825 5.04959 4.9951L5.05501 4.99545C4.39907 4.98495 3.79063 4.82358 3.27346 4.5516L3.28805 4.5586C2.65836 4.23726 2.13661 3.81896 1.73904 3.3247L1.72779 3.31C1.35023 2.88925 0.998083 2.41389 0.698033 1.91263L0.668862 1.85872C0.493416 1.57799 0.311719 1.23285 0.155026 0.877905L0.130022 0.813148C0.0662611 0.653528 0.0200033 0.468006 0.000833472 0.275833L0 0.267082C0 0.0901942 0.12391 0.00175025 0.371729 0.00175025H1.46774C1.47775 0.00105017 1.48941 0.000700033 1.5015 0.000700033C1.60485 0.000700033 1.70028 0.0304537 1.77571 0.0805097L1.77488 0.0798096C1.85823 0.156469 1.9199 0.25063 1.95033 0.355643L1.95158 0.359843C2.15328 0.838351 2.36706 1.2402 2.61294 1.62524L2.58501 1.57729C2.78588 1.91683 3.008 2.20911 3.26138 2.479L3.25179 2.46815C3.47405 2.69731 3.64741 2.81189 3.77188 2.81189C3.77563 2.81224 3.78021 2.81224 3.78521 2.81224C3.84689 2.81224 3.90065 2.78423 3.92982 2.74223C3.96066 2.67572 3.979 2.59766 3.979 2.51715C3.979 2.5 3.97816 2.48285 3.9765 2.46605V2.46815V1.11033C3.96774 0.950364 3.92107 0.800896 3.84314 0.66683L3.84647 0.673481C3.7948 0.58107 3.73271 0.50126 3.65894 0.430202L3.66019 0.431602C3.59185 0.374195 3.54517 0.298936 3.53059 0.214926L3.53017 0.212825C3.53017 0.153318 3.56268 0.0997619 3.61352 0.0647577C3.66394 0.0259031 3.73187 0.00210027 3.80563 0.00210027H5.53676C5.54592 0.00105014 5.55634 0.000700033 5.56718 0.000700033C5.64844 0.000700033 5.72137 0.0315038 5.76971 0.0798096C5.81264 0.145618 5.83847 0.224727 5.83847 0.308037C5.83847 0.321339 5.83764 0.33429 5.83639 0.347242V0.345491V2.15626C5.83556 2.16466 5.83514 2.17446 5.83514 2.18426C5.83514 2.24867 5.85639 2.30923 5.89307 2.36068L5.89223 2.35928C5.92265 2.39709 5.9735 2.42159 6.03101 2.42159C6.10435 2.41739 6.17145 2.39709 6.2277 2.36488L6.22645 2.36558C6.33981 2.30013 6.43732 2.22557 6.52192 2.14121L6.52359 2.13946C6.77655 1.89933 7.00992 1.634 7.21329 1.35186L7.22954 1.32736C7.3729 1.12784 7.52792 0.882106 7.66836 0.629725L7.6942 0.578269L7.88006 0.266032C7.94466 0.109913 8.11802 0 8.3218 0C8.32972 0 8.33764 -2.54076e-08 8.34556 0.000350017H8.34431H9.44074C9.7369 0.000350017 9.84761 0.114814 9.77371 0.343741Z' fill='#197BBB')
									li
										a.socials__item.socials__item-fb(href="#")
											svg(width='5' height='11' viewBox='0 0 5 11' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M4.09528 1.82601H5V0.0770164C4.56196 0.0249573 4.12183 -0.000744854 3.68142 1.64252e-05C2.37247 1.64252e-05 1.47738 0.913015 1.47738 2.58501V4.02601H0V5.98401H1.47738V11H3.24832V5.98401H4.72089L4.94225 4.02601H3.24832V2.77751C3.24832 2.20001 3.38306 1.82601 4.09528 1.82601Z' fill='#5DB5F6')
									li
										a.socials__item.socials__item-ya(href="#")
											svg(width='4' height='9' viewBox='0 0 4 9' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M0.33 2.832C0.33 4.18013 0.807667 4.90988 1.52367 5.31225L0 9H1.011L2.39833 5.55113H3.12533V9H4V0H2.69367C1.40967 0 0.328333 0.94425 0.33 2.832ZM3.125 4.7445H2.65833C1.89633 4.7445 1.271 4.27875 1.271 2.832C1.271 1.33425 1.95367 0.8175 2.65833 0.8175H3.125V4.7445Z' fill='#FF3C2B')
						.login__form-title Через email или телефон
						.swich
							.swich__link.swich__active(data-tab-name='tab-1')
								span.swich__link-text Email
							.swich__link(data-tab-name='tab-2')
								span.swich__link-text Телефон
						form#form-emailReg.form.phone-form.tab.tab-1.contentActive(action='get.html')
							.form__item
								input#emailReg.input-email(type='email' placeholder='Введите email' name='email' required='' data-valid='false' data-name='email' autocomplete='email')
							.form__item
								button.input-submit.btn
									span Зарегистрироваться
						form#form-telReg.form.phone-form.tab.tab-2(action='get.html')
							.form__item
								input#phoneReg.input-tel(type='tel' placeholder='Введите номер телефона' minlength='9' autocomplete='off' data-valid='false' name='phone' required='')
							.form__item
								button.input-submit.btn 
									span Зарегистрироваться
						.reg__checkbox
							.checkbox
								label.checkbox__label
									input.checkbox__item(checked name='form[]' value='1' type='checkbox')
									span.check
									span.text Соглашаюсь с правилами лицензионного договора оферты и условиями предоставления услуг по платной подписке на аналитику.
							.checkbox
								label.checkbox__label
									input.checkbox__item(name='form[]' value='1' type='checkbox')
									span.check
									span.text Согласен с правилами предоставления доступа к сервису по подписке с использованием автоплатежа и уведомлен о подключении платной подписки стоимостью 1 руб. за первые 5 дней доступа, далее с подключенной карты списывается оплата за тариф "Start" - 99 руб., "Key" - 290 руб. и "Combo" - 1390 руб. за каждые 5 дней. Подписку можно отменить в любое время в личном кабинете.
			include sections/footer
		include includes/foot