*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.eot');
  src: local('☺'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BlackItalic.eot');
  src: local('☺'), url('../fonts/Montserrat-BlackItalic.woff') format('woff'), url('../fonts/Montserrat-BlackItalic.ttf') format('truetype'), url('../fonts/Montserrat-BlackItalic.svg') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: local('☺'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
  src: local('☺'), url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'), url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBoldItalic.svg') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.eot');
  src: local('☺'), url('../fonts/Montserrat-BoldItalic.woff') format('woff'), url('../fonts/Montserrat-BoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-BoldItalic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: local('☺'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.eot');
  src: local('☺'), url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'), url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-SemiBoldItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: local('☺'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-MediumItalic.eot');
  src: local('☺'), url('../fonts/Montserrat-MediumItalic.woff') format('woff'), url('../fonts/Montserrat-MediumItalic.ttf') format('truetype'), url('../fonts/Montserrat-MediumItalic.svg') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: local('☺'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.eot');
  src: local('☺'), url('../fonts/Montserrat-LightItalic.woff') format('woff'), url('../fonts/Montserrat-LightItalic.ttf') format('truetype'), url('../fonts/Montserrat-LightItalic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.eot');
  src: local('☺'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLightItalic.eot');
  src: local('☺'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'), url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #190219;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
  z-index: 100;
}
.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  padding: 0 0 0 46px;
  margin: 0 auto;
}

/* header */
.customers {
  position: absolute;
  left: 50%;
  top: 50px;
}
.txt__header {
  position: relative;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 12px;
  line-height: 17.54px;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  font-style: italic;
  padding: 7px 8px 8px 10px;
  margin-left: 4px;
  z-index: 10;
}
.txt__header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #37641f;
  background-image: -webkit-linear-gradient(left, #164515 0%, #90ba3b 100%);
  background-image: -o-linear-gradient(left, #164515 0%, #90ba3b 100%);
  background-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  z-index: -1;
}
.arrows {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  width: 100%;
}
/* ---arrows--- */
.arrows-1 {
  top: 57%;
  right: -50%;
}
.arrows svg .arrows-img-1 {
  fill: #fff;
  opacity: .2;
  -webkit-animation: c 1s ease infinite;
          animation: c 1s ease infinite;
}
.arrows svg .arrows-img-1:nth-child(1) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}
.arrows svg .arrows-img-1:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.arrows svg .arrows-img-1:nth-child(3) {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}
.arrows svg .arrows-img-1:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes c {
  0% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  25% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}
@keyframes c {
  0% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  25% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
} 
/*arrow-2*/
.arrows-2 {
  right: -24%;
}
.arrows svg .arrows-img-2 {
  fill: #fff;
  opacity: .2;
  -webkit-animation: q 1.5s ease infinite;
          animation: q 1.5s ease infinite;
}
.arrows svg .arrows-img-2:nth-child(1) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}
.arrows svg .arrows-img-2:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.arrows svg .arrows-img-2:nth-child(3) {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}
.arrows svg .arrows-img-2:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.arrows svg .arrows-img-2:nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.arrows svg .arrows-img-2:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@-webkit-keyframes q {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  19% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}
@keyframes q {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  19% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
} 
/*arrow-3*/
.arrows-3 {
  right: -9%;
}
.arrows svg .arrows-img-3 {
  fill: #fff;
  opacity: .2;
  -webkit-animation: w .5s ease infinite;
          animation: w .5s ease infinite;
}
.arrows svg .arrows-img-3:nth-child(1) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}
.arrows svg .arrows-img-3:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
@-webkit-keyframes w {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  52% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}
@keyframes w {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  52% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
} 
/*arrow-4*/
.arrows-4 {
  right: -65%;
  top: 10%;
}
.arrows svg .arrows-img-4 {
  fill: #fff;
  opacity: .2;
  -webkit-animation: r 1s ease infinite;
          animation: r 1s ease infinite;
}
.arrows svg .arrows-img-4:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.arrows svg .arrows-img-4:nth-child(2) {
  -webkit-animation-delay: .33s;
          animation-delay: .33s;
}
.arrows svg .arrows-img-4:nth-child(3) {
  -webkit-animation-delay: .66s;
          animation-delay: .66s;
}
@-webkit-keyframes r {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}
@keyframes r {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
} 
/*arrow-5*/
.arrows-5 {
  right: -19%;
  top: 55%;
}
.arrows svg .arrows-img-5 {
  fill: #fff;
  opacity: .2;
  -webkit-animation: t 1s ease infinite;
          animation: t 1s ease infinite;
}
.arrows svg .arrows-img-5:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.arrows svg .arrows-img-5:nth-child(2) {
  -webkit-animation-delay: .33s;
          animation-delay: .33s;
}
.arrows svg .arrows-img-5:nth-child(3) {
  -webkit-animation-delay: .66s;
          animation-delay: .66s;
}
@-webkit-keyframes t {
  0% {
    opacity: 1;
  }
  30% {
      opacity: 1;
  }
  33% {
      opacity: .2;
  }
  100% {
      opacity: .2;
  }
}
@keyframes t {
  0% {
    opacity: 1;
}
30% {
    opacity: 1;
}
33% {
    opacity: .2;
}
100% {
    opacity: .2;
}
} 
/*arrow-6*/
.arrows-6 {
    left: 62%;
}
.arrows svg .arrows-img-6 {
  fill: #fff;
  opacity: .2;
  -webkit-animation: t 1s ease infinite;
          animation: t 1s ease infinite;
}
.arrows svg .arrows-img-6:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.arrows svg .arrows-img-6:nth-child(2) {
  -webkit-animation-delay: .33s;
          animation-delay: .33s;
}
.arrows svg .arrows-img-6:nth-child(3) {
  -webkit-animation-delay: .66s;
          animation-delay: .66s;
}
@keyframes t {
  0% {
    opacity: 1;
  }
  30% {
      opacity: 1;
  }
  33% {
      opacity: .2;
  }
  100% {
      opacity: .2;
  }
} 
/* --header */

/*main */
.content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.content__left {
  width: 100%;
}
.text {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 19px;
}
.text__title {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 67px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.text__title span {
  color: #ffe900;
}
.text__percetns {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 140px;
  font-weight: 900;
  line-height: 110px;
  text-transform: uppercase;
  padding-top: 31px;
  letter-spacing: 2.8px;
}
.text__deposit {
  color: #ffe400;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.69px;
  padding-top: 5px;
  padding-left: 15px;
}
.ngn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding-left: 14px;
}
.ngn__up {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding-left: 7px;
}
.ngn__up-text, .ngn__awaits-text {
  position: relative;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  padding: 4px 16px 2px 16px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  font-style: italic;
}
.ngn__up-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
     border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  left: 0;
  top: 0;
  border-bottom: none;
}
.ngn__awaits-text:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
     border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  right: 0;
  top: 0;
  border-top: none;
}
.ngn .arrows__item img{
  width: 33px;
  height: 18px;
  margin-left: -11px;
}
.ngn__up .arrows__list {
  -ms-grid-row-align: center;
          align-self: center;
  margin-left: 71px;
}
.ngn__million {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #000000;
  font-family: "Montserrat";
  font-size: 46px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.92px;
  position: relative;
  z-index: 10;
  font-style: italic;
  padding: 7px 24px 10px 22px;
}
.ngn__million:before {
  content: "";
  position: absolute;
  -webkit-transform: skew(-6.5deg);
          transform: skew(-6.5deg);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  max-width: 377px;
  left: 0;
  top: 0;
  z-index: -1;
}
.ngn__awaits {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.ngn__awaits-text {
  margin-left: 113px;
}
.ngn__awaits .arrows__list {
  padding: 0 30px 0 37px;
}
.btn {
  display: flex;
  padding-top: 44px;
  padding-left: 7px;
}
.btn a{
  color: #000000;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  box-shadow: 0 0 47px 1px rgb(255 176 0 / 57%);
  background-image: -webkit-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: -o-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: linear-gradient(to right, #ff8a00 0%, #fff600 100%);
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  padding: 22px 42px 24px 44px;
  transition: .9s;
}
.main__btn:after {
  content: "";
  position: absolute;
  z-index: -11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/arrow-btn.png);
  background-repeat: repeat;
  background-position-x: -53%;
  -webkit-animation: a infinite 1s linear;
          animation: a infinite 1s linear;
}
.main__btn:hover {
  -webkit-transform: skew(-7deg) scale(1.2);
          transform: skew(-7deg) scale(1.2)
}
@-webkit-keyframes a {
  0% {
      background-position-x: 53%;
  }
  100% {
      background-position-x: 200%;
  }
}
@keyframes a {
  0% {
      background-position-x: 53%;
  }
  100% {
      background-position-x: 200%;
  }
}
.btn-offer:after {
  content: "";
  position: absolute;
  z-index: -11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/arrow-btn.png);
  background-repeat: repeat;
  -webkit-animation: b infinite 0.5s linear;
          animation: b infinite 0.5s linear;
}
@-webkit-keyframes b {
  0% {
      background-position-x: 100%;
  }
  100% {
      background-position-x: 200%;
  }
}
@keyframes b {
  0% {
      background-position-x: 100%;
  }
  100% {
      background-position-x: 200%;
  }
}
.player img{
  padding: 0 8.5px;
}
/* steps */
.steps__wrap {
  margin-top: -31%;
  margin-left: 16px;
}
.steps__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 71.3%;
  margin-top: -25px;
  position: relative;
}
.step__block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.step__block-title {
  position: relative;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  margin-bottom: 18px;
}
.steps__list:nth-child(1) .step__block-title{
  padding: 11px 33px;
}
.steps__list:nth-child(2) .step__block-title{
  padding: 11px 27px;
}
.steps__list:nth-child(3) .step__block-title{
  padding: 11px 20px;
}
.step__block-title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
     border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  right: 0;
  top: 0;
}
.step_num {
  position: absolute;
  text-align: center;
  font-family: "Montserrat";
  color: #07120d;
  left: 0px;
  top: 0px;
  width: 47px;
  height: 41px;
  font-size: 22px;
  font-weight: 300;
  z-index: 10;
  -webkit-transform: translate(-20px, -21px);
          transform: translate(-20px, -21px);
}
.step_num:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  border: 4px solid #05100b;
  background-image: -webkit-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: -o-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: linear-gradient(to right, #ff8a00 0%, #fff600 100%);
  z-index: -1;
}
.step_num span {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 6px;
}
.step__block-desc {
  font-family: Montserrat;
  color: #a3a3a3;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  width: 240px;
}
.steps__list:nth-child(2) .step__block-desc{
  width: 312px;
}
.steps__list:nth-child(2){
  flex-direction: row-reverse;
  margin-bottom: 39px;
}
.steps__list:nth-child(1) .arrows__list{
  -webkit-transform: translate(216px, -31px);
          transform: translate(216px, -31px);
}
.steps__list:nth-child(2) .arrows__list{
  -webkit-transform: translate(-134px, 19px);
          transform: translate(-134px, 19px);
}
.steps__list:nth-child(3) .arrows__list{
  -webkit-transform: translate(150px, 0px);
          transform: translate(150px, 0px);
}
.steps__list:nth-child(1) .arrow-img{
  width: 60px;
  height: 33px;
  margin-left: -18px;
}
.steps__list:nth-child(2) .arrow-img{
  width: 30px;
  height: 16px;
  margin-left: -9px;
}
.steps__list:nth-child(3) .arrow-img{
  width: 41px;
  height: 22px;
  margin-left: -13px;
}
.offer .btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-right: 58px;
  padding-bottom: 56px;
}
.offer .main__btn {
   padding: 20px 48px 18px 49px;
  -webkit-transform: skew(-6deg);
          transform: skew(-6deg);
}
.offer__wrap {
  margin-left: -42px;
  padding-bottom: 46px;
}
.offer__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.offer__list-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  flex: 0 1 20%;
}
.offer__list-item:nth-child(2n+2) {
  margin-top: 40px;
}
.offer__list-item-icon {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes hs {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1) skew(-7deg);
  }
  5% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) skew(-7deg);
  }
  10% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1) skew(-7deg);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1) skew(-7deg);
  }
}
@keyframes hs {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1) skew(-7deg);
  }
  5% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) skew(-7deg);
  }
  10% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1) skew(-7deg);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1) skew(-7deg);
  }
}
.offer__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  position: relative;
  max-width: 174px;
  width: 100%;
}
.offer__item-icon {
  width: 71px;
  height: 58px;
  box-shadow: 0 0 24px 1px rgb(255 173 0 / 57%);
  background-image: -webkit-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: -o-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: linear-gradient(to right, #ff8a00 0%, #fff600 100%);
  -webkit-animation: hs 10s infinite ease-in-out;
          animation: hs 10s infinite ease-in-out;
}
.offer__item-icon:before {
  position: absolute;
  width: 39px;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url(../img/icons/event.svg);
  width: 36px;
  height: 34px;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%) skew(7deg);
          transform: translate(-50%, -50%) skew(7deg);
}
.offer__item-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 82px;
  border: 2px solid rgba(255, 255, 255, .2);
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  width: 101px;
}
.offer__list-item-icon img{
  position: absolute;
  width: 39px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  z-index: 1;
}
.offer__list-item-icon:before{
  content: "";
  position: relative;
  width: 101px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  height: 82px;
  border: 2px solid #ffffff;
  opacity: 0.2;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
}
.offer__list-item-icon:after{
  content: "";
  position: absolute;
  width: 71px;
  height: 58px;
  box-shadow: 0 0 24px 1px rgb(255 173 0 / 57%);
  background-image: -webkit-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: -o-linear-gradient(left, #ff8a00 0%, #fff600 100%);
  background-image: linear-gradient(to right, #ff8a00 0%, #fff600 100%);
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 24px 1px rgb(255 173 0 / 57%);
  }
  70% {
    box-shadow: 0 0 24px 5px rgb(255 173 0 / 57%);
  }
  100% {
    box-shadow: 0 0 24px 1px rgb(255 173 0 / 57%);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 24px 1px rgb(255 173 0 / 57%);
  }
  70% {
    box-shadow: 0 0 24px 5px rgb(255 173 0 / 57%);
  }
  100% {
    box-shadow: 0 0 24px 1px rgb(255 173 0 / 57%);
  }
}
.offer__list-item:nth-child(3) .offer__list-item-icon img{
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}
.offer__list-item-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-align: center;
  padding-top: 18px;
}
.step__block-title {
  position: relative;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  margin-bottom: 18px;
}
.step__block-title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
     border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  right: 0;
  top: 0;
}
.registration__title{
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  padding: 3px 22px;
  margin-left: 12px;
}
.registration__title:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
     border-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  left: 0;
  top: 0;
  border-bottom: none;
}
form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
input {
  width: 323px;
  height: 55px;
  background-color: #ffffff;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 7.5px;
  padding-left: 24px;
}
input:focus {
  border: 1px solid #000;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a3a3a3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #a3a3a3;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #a3a3a3;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #a3a3a3;
}
::placeholder { /* Most modern browsers support this now. */
   color: #a3a3a3;
}
#button {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  background: none;
  position: relative;
  background-image: -webkit-linear-gradient(left, #164515 0%, #90ba3b 100%);
  background-image: -o-linear-gradient(left, #164515 0%, #90ba3b 100%);
  background-image: linear-gradient(to right, #164515 0%, #90ba3b 100%);
  width: 228px;
  height: 56px;
  -webkit-transform: skewX(-7deg);
          transform: skewX(-7deg);
  margin-left: 8.5px;
}
#button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/arrow-btn.png);
  background-repeat: repeat;
  background-position: 0% 50%;
  -webkit-animation: g 0.5s infinite linear;
          animation: g 0.5s infinite linear;
}
@-webkit-keyframes g {
  0%{
    background-position-x: -20%;
  }
  25%{
    background-position-x: 50%;
  }
  50%{
    background-position-x: 100%;
  }
  75%{
    background-position-x: 150%;
  }
  100%{
    background-position-x: 200%;
  }
}
@keyframes g {
  0%{
    background-position-x: -20%;
  }
  25%{
    background-position-x: 50%;
  }
  50%{
    background-position-x: 100%;
  }
  75%{
    background-position-x: 150%;
  }
  100%{
    background-position-x: 200%;
  }
}
.footer{
  padding-top: 68px;
}
.logos {
  width: 95%;
}
.logos__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.logos img{
  opacity: .8;
}
.copyright {
  opacity: 0.5;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
  color: #6e6c6e;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 13px 49px 27px 0;
    letter-spacing: 0.1px;
}
.elem-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.elem-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-animation: f 2s infinite linear;
          animation: f 2s infinite linear;
}
@-webkit-keyframes f {
  0%{
    left: 0%;
  }
  25%{
    left: 2.5%;
  }
  50%{
    left: 5%;
  }
  100%{
    left: 10%;
    opacity: 0;
  }
}
@keyframes f {
  0%{
    left: 0%;
  }
  25%{
    left: 2.5%;
  }
  50%{
    left: 5%;
  }
  100%{
    left: 10%;
    opacity: 0;
  }
}
.elem-3 {
  position: absolute;
  top: 0;
  left: 0;
}
.elem-4 {
  position: absolute;
  top: 51%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}
.elem-5 {
  position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.elem-5 img {
  -webkit-transform: translate(2%, 84%);
          transform: translate(2%, 84%);
}
.elem-6 {
  position: absolute;
  top: -14%;
  left: -6%;
  z-index: -1;
}
.elem-6 img {
  -webkit-transform: translate(14%; 6%);
          transform: translate(14%; 6%);
  -webkit-animation: k 5s linear infinite alternate;
        animation: k 5s linear infinite alternate;
}
@-webkit-keyframes k {
  0% {
  -webkit-transform: translate(-14%,-6%);
          transform: translate(-14%,-6%);
  }
  100% {
  -webkit-transform: translate(0%,10%);
          transform: translate(0%,10%);
  }
}
@keyframes k {
  0% {
  -webkit-transform: translate(-14%,-6%);
          transform: translate(-14%,-6%);
  }
  100% {
  -webkit-transform: translate(0%,10%);
          transform: translate(0%,10%);
  }
}
.elem-7 {
  position: absolute;
  top: 6%;
  right: 0;
  overflow: hidden;
}
.elem-7 img {
  -webkit-transform: translate(30%, 0);
          transform: translate(30%, 0);
  z-index: -1;
  -webkit-animation: h 10s linear infinite alternate;
          animation: h 10s linear infinite alternate;
}
@-webkit-keyframes h {
  0% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
@keyframes h {
  0% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
.elem-8 {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
.elem-8 img {
  -webkit-transform: translate(27%, 16%);
         transform: translate(27%, 16%);
  -webkit-animation: j 10s linear infinite alternate;
           animation: j 10s linear infinite alternate;
}
@-webkit-keyframes j {
  0% {
    -webkit-transform: translate(27%,16%);
            transform: translate(27%,16%);
  }
  50% {
      -webkit-transform: translate(60%,26%);
              transform: translate(60%,26%);
  }
  100% {
      -webkit-transform: translate(48%,16%);
              transform: translate(48%,16%);
  }
}
@keyframes j {
  0% {
    -webkit-transform: translate(27%,16%);
            transform: translate(27%,16%);
  }
  50% {
      -webkit-transform: translate(60%,26%);
              transform: translate(60%,26%);
  }
  100% {
      -webkit-transform: translate(48%,16%);
              transform: translate(48%,16%);
  }
}
.elem-9 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}
.elem-9 img{
  -webkit-transform: translate(32%, -21%);
          transform: translate(32%, -21%);
}
.elem-10 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  height: 100%;
}
.elem-10 img{
  -webkit-transform: translate(23%, 73%);
          transform: translate(23%, 73%);
  -webkit-animation: e 5s infinite;
          animation: e 5s infinite;
}
@-webkit-keyframes e {
  0% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  0.5% {
    -webkit-transform: translate(29%, 73%) rotate(.001deg);
            transform: translate(29%, 73%) rotate(.001deg);
  }
  1% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  1.3% {
    -webkit-transform: translate(29%, 73%);
            transform: translate(29%, 73%);
  }
  2% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  2.5% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  3.6% {
    -webkit-transform: translate(29%, 73%) rotate(.001deg);
            transform: translate(29%, 73%) rotate(.001deg);
  }
  4% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  4.8% {
    -webkit-transform: translate(29%, 73%);
            transform: translate(29%, 73%);
  }
  5.3% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  100% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
}
@keyframes e {
  0% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  0.5% {
    -webkit-transform: translate(29%, 73%) rotate(.001deg);
            transform: translate(29%, 73%) rotate(.001deg);
  }
  1% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  1.3% {
    -webkit-transform: translate(29%, 73%);
            transform: translate(29%, 73%);
  }
  2% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  2.5% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  3.6% {
    -webkit-transform: translate(29%, 73%) rotate(.001deg);
            transform: translate(29%, 73%) rotate(.001deg);
  }
  4% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  4.8% {
    -webkit-transform: translate(29%, 73%);
            transform: translate(29%, 73%);
  }
  5.3% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
  100% {
    -webkit-transform: translate(23%, 73%);
            transform: translate(23%, 73%);
  }
}
.elem-11 {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.elem-11 img{
  -webkit-transform: translate(-26% , 31%);
          transform: translate(-26% , 31%);
  -webkit-animation: m 10s infinite alternate;
          animation: m 10s infinite alternate;
}
@-webkit-keyframes m {
  0% {
    -webkit-transform: translate(-10% , 40%);
            transform: translate(-10% , 40%);
  }
  50% {
    -webkit-transform: translate(-26%) translateY(31%) rotate(.001deg);
            transform: translate(-26%) translateY(31%) rotate(.001deg);
  }
  100% {
    -webkit-transform: translate(-10% , 40%);
            transform: translate(-10% , 40%);
  }
}
@keyframes m {
  0% {
    -webkit-transform: translate(-10% , 40%);
            transform: translate(-10% , 40%);
  }
  50% {
    -webkit-transform: translate(-26%) translateY(31%) rotate(.001deg);
            transform: translate(-26%) translateY(31%) rotate(.001deg);
  }
  100% {
    -webkit-transform: translate(-10% , 40%);
            transform: translate(-10% , 40%);
  }
}
.elem-12 {
  position: absolute;
  top: 12%;
  left: 0;
  overflow: hidden;
}
.elem-12 img{
  -webkit-animation: shake 2s ease-in-out infinite;
          animation: shake 2s ease-in-out infinite;
}
@-webkit-keyframes shake {
  0%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes shake {
  0%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 1440px) {
  .elem-9 {
    width: 44%;
  }
 .elem-10 img {
  -webkit-transform: translate(60%, 85%);
          transform: translate(60%, 85%);
  -webkit-animation: none;
          animation: none;
  }
  .elem-7 img {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .elem-11 img{
    width: 270px;
  }
}
@media (max-width: 1024px) {
  .player img {
    height: 760px;
    margin-right: 50px;
  }
  .steps__wrap {
    margin-top: -8%;
  }
  .offer__list {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  .offer__list-item {
    margin: 0 20px 20px 20px;
  }
  .registration {
    margin-right: 39px;
  }
  .arrows-5 {
      top: 49%;
  }
  .arrows-4 {
      top: 40%;
  }
}
@media (max-width: 940px) {
  .container {
    padding: 0 15px;
  }
  .customers {
    left: 9%;
  }
  .content {
    display: block;
    text-align: center;
  }
  .ngn {
    align-items: center;
  }
  .btn {
    justify-content: center;
  }
  .player {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
  }
  .player img {
    margin-right: -2px;
  }
  .steps__wrap {
    margin-top: -68%;
  }
  .steps__list {
    width: 66%;
  }
  .step__block-title {
    font-size: 24px;
  }
  .step__block-desc {
    font-size: 16px;
  }
  .steps__list:nth-child(1) .arrows__list {
    -webkit-transform: translate(72px, -31px);
            transform: translate(72px, -31px);
  }
  .elem-5 img {
      -webkit-transform: translate(26%, 84%);
              transform: translate(26%, 84%);
  }
  .elem-3 img {
    height: 57px;
  }
  .elem-12 img {
    height: 400px;
  }
  .offer__list-item-text {
    font-size: 16px;
  }
  .ngn__up {
    margin-left: -263px;
  }
  .arrows-2 {
    right: -50%;
  }
  .arrows-3 {
    right: -27%;
  }
  .ngn__up .arrows__list {
    margin: 0 66px;
  }
  .ngn__awaits .arrows__list {
    padding: 0;
    margin: 0 27px;
  }
  .ngn__awaits-text {
    margin-left: 98px;
  }
  .offer__wrap {
    margin-left: 0;
  }
  .registration {
    margin-right: 0;
  }
}
@media (max-width: 840px) {
  .steps__wrap {
    margin-top: -63%;
  }
  .steps__list {
    width: 100%;
  }
  .player {
    justify-content: center;
    opacity: 0.4;
  }
  .player img {
    margin-right: 0;
    height: 592px;
  }
  .container {
    padding-right: 46px;
  }
  .logos {
    width: 100%;
  }
  .logos__list {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logos__item {
    margin: 0 5px;
  }
  .customers {
    left: 3%;
  }
  .arrows-4 {
    top: 42%;
    right: -53%;
  }
}
@media (max-width: 768px) {
  .registration__title {
    margin-left: 27.9%;
  } 
  form {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  input {
    margin: 0 7.5px 10px;
  }
  .customers {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    position: relative;
    top: 17px;
  }
  .step__block-title {
    font-size: 18px;
  }
  .step__block-desc {
    font-size: 14px;
  }
  .offer .btn {
    padding-right: 7px;
  }
  .steps__wrap {
    margin-top: -500px;
  }
  .elem-12 img {
    height: 389px;
  }
  .elem-4 {
    top: 47%;
  }
  .arrows-4 {
    top: 15%;
    right: -60%;
  }
  .arrows-4 svg{
    width: 100px;
  }
}
@media (max-width: 632px) {
  .steps__list:nth-child(2) .arrows__list {
    -webkit-transform: translate(-63px, -4px);
            transform: translate(-63px, -4px);
  }
  .steps__list {
    margin-top: 0;
  }
  .elem-3 img {
    -webkit-transform: translate(-55%, -10%);
            transform: translate(-55%, -10%);
  }
  .text__title {
    font-size: 50px;
  }
  .text__percetns {
    font-size: 110px;
  }
  .container {
    padding: 0 14px;
  }
  .text__deposit {
    font-size: 24px;
  }
  .text__percetns {
    padding-top: 0;
  }
  .ngn__million {
    font-size: 38px;
  }
  .ngn__up-text, .ngn__awaits-text {
    font-size: 18px;
  }
  .ngn__up .arrows__list {
    margin: 0 49px;
  }
  .ngn__awaits .arrows__list {
    margin: 0 34px;
  }
  .btn a {
    font-size: 27px;
    padding: 16px 34px 16px 34px;
  }
  .registration__title {
          margin-left: 24.4%;
  }
  .elem-11 img {
    -webkit-transform: translate(-79% , 31%);
            transform: translate(-79% , 31%);
  }
  .copyright {
    padding: 13px 0 27px 0;
  }
  .ngn__up {
    margin-left: -231px;
  }
  .ngn__awaits {
    margin-right: -13px;
  }
}
@media (max-width: 425px) {
  .text__title {
    font-size: 40px;
  }
  .text__percetns {
    font-size: 90px;
  }
  .text__deposit {
    font-size: 22px;
  }
  .ngn__million {
    font-size: 30px;
  }
  .ngn__up-text, .ngn__awaits-text {
    font-size: 16px;
  }
  .ngn__up .arrows__list {
    margin: 0 24px;
  }
  .ngn__awaits .arrows__list {
    margin: 0 14px;
  }
  .btn a {
    font-size: 24px;
    padding: 16px 37px 16px 37px;
  }
  .steps__list:nth-child(1) .arrow-img {
    width: 39px;
    height: 21px;
    margin-left: -12px;
  }
  .steps__list:nth-child(1) .arrows__list {
    -webkit-transform: translate(44px, -31px);
            transform: translate(44px, -31px);
  }
  .steps__list:nth-child(1) .step__block-title {
    padding: 8px 28px;
  }
  .steps__list:nth-child(2) .step__block-title {
    padding: 8px 20px;
  }
  .steps__list:nth-child(3) .step__block-title {
    padding: 8px 22px;
  }
  .step__block-desc {
    width: 156px;
  }
  .steps__list {
    margin-bottom: 20px;
  }
  .steps__list:last-child {
    margin-bottom: 0;
  }
  .steps__list:nth-child(2) {
      margin-bottom: 20px;
  }
  .step_num {
    font-size: 18px;
    width: 40px;
    height: 34px;
    -webkit-transform: translate(-19px, -17px);
            transform: translate(-19px, -17px);
  }
  .steps__list:nth-child(2) .step__block-desc {
    width: 196px;
  }
  .steps__list:nth-child(2) .arrows__list {
    -webkit-transform: translate(-20px, -4px);
            transform: translate(-20px, -4px);
  }
  .steps__list:nth-child(3) .arrows__list {
    -webkit-transform: translate(23px, 0px);
            transform: translate(23px, 0px);
  }
  .steps__list:nth-child(3) .arrow-img {
    width: 37px;
    height: 19px;
    margin-left: -13px;
  }
  .offer__list-item-text {
    font-size: 13px;
    line-height: 19px;
  }
  .elem-4 {
    top: 45%;
  }
  .offer .main__btn {
    padding: 14px 40px 14px 40px;
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg);
  }
  input {
    width: 268px;
    margin: 0 0px 10px;
  }
  .registration__title {
    margin-left: 17.2%;
  }
  #button {
    margin: 0;
  }
  .copyright {
    padding: 26px 0;
  }
  .arrows svg .arrows-img {
    fill: #fff;
    opacity: .2;
    -webkit-animation: c 1s ease infinite;
            animation: c 1s ease infinite;
  }
  .elem-12 img {
    height: 295px;
  }
  .elem-11 img {
    width: 169px;
  }
  .ngn__up {
    margin-left: -183px;
  }
  .ngn__awaits-text {
    margin-left: 59px;
  }
  .arrows-3 {
    right: -18%;
  }
  .steps__wrap {
    margin-left: 20px;
  }
  .arrows-2 svg {
    width: 117px;
  }
  .arrows-3 svg {
    width: 40px;
  }
  .ngn__up-text, .ngn__awaits-text {
    line-height: 33px;
  }
  .player {
    opacity: 0.2;
  }
  .elem-10 img {
    display: none;
  }
  .arrows-4 svg {
    width: 76px;
  }
  .arrows-5 {
    right: 0;
  }
  .arrows-5 svg{
    width: 50px;
  }
  .arrows-6 {
    left: 76%;
  }
  .arrows-6 svg{
      width: 69px;
  }
}