.body-wrap {
	display: flex;
	min-height: 100%;
	position: relative;
	// overflow: hidden;
	overflow-x: hidden;
	color: #756d6d;
	box-sizing: border-box;
	flex-direction: column;
	background: #ffffff;
	font-size: 4vw;
}