.cookies_popup#cookies
	section.container
		article.cookies_popup__wrap
			h2.cookies_popup__text We use cookies to enhance your browsing experience on fintiko.com. By visiting our site, you agree to our 
				a(href="cookies.html")  Cookie Policy
			.cookies_popup__buttons
				button.button.button-blue Consent
				button.button.button-transparent-blue Deny
				