
script(src='./public/js/swiper-bundle.min.js' defer)
script(src='./public/js/validate.js' defer)
script(src='./public/js/main.min.js' defer)
//- script(src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoadCallback&render=explicit" async defer)