footer.footer
	.footer__top
		img.logo(src="public/img/logo.svg", width="135" height="24" alt="logo")
		h3.slogan  Smart Payment Orchestration
		nav.buttons
			ul
				li
					button.buttons__btn.popup-btn(data-popup="apply-form") Apply
				li
					a.buttons__btn(href="#" target="_blank") Sign in
	.footer__mapsite
		.mapsite
			.mapsite__item.item
				.item__head
					h2 Products
					img(src="public/img/footer-arr.svg", width="9" height="6" alt="arrow")
				nav.item__body 
					ul 
						li 
							a(href="account.html") Accounts
						li 
							a(href="payments.html") Payments
						li 
							a(href="comming-soon-page.html") Pricing
						li 
							a(href="services.html") Services
						
			.mapsite__item.item
				.item__head
					h2 Company
					img(src="public/img/footer-arr.svg", width="9" height="6" alt="arrow")
				nav.item__body 
					ul 
						li 
							a(href="about-us.html") About us
						//- li 
						//- 	a(href="#") Careers
			.mapsite__item.item
				.item__head
					h2 Extras
					img(src="public/img/footer-arr.svg", width="9" height="6" alt="arrow")
				nav.item__body 
					ul 
						li 
							a(href="#" target="_blank") API Documentation
						//- li 
						//- 	a(href="#") Gateway 
						//- li 
						//- 	a(href="feautures.html") Feautures 
						//- li 
						//- 	a(href="#") Reports 
						//- li 
						//- 	a(href="#") KYC/AML  
			.mapsite__item.item
				.item__head
					h2 Help
					img(src="public/img/footer-arr.svg", width="9" height="6" alt="arrow")
				nav.item__body
					ul 
						li 
							a(href="faq.html") FAQ
						li 
							a(href="contacts.html") Contacts

	.footer__bottom
		.footer__bottom_wrap
			.footer__bottom_left
				nav.links
					ul 
						li
							a(href="cookies.html").links__item Cookie policy
						li
							a(href="privacy.html").links__item Privacy Policy 
						li
							a(href="terms.html").links__item Terms and Conditions
				
			.footer__bottom_right 
				.copyright 
					small © 2024 Fintiko LTD
				a(href="#" target="_blank").agency 
					small Designed by bsagency


