.modal-wrap.fail
	.modal
		.close
			img(src="public/img/close.svg" width="20" height="20" alt="close icon")
		.modal__container
			h2.title Something is wrong
.modal-wrap.success
	.modal
		.close
			img(src="public/img/close.svg" width="20" height="20" alt="close icon")
		.modal__container
			h2.title Data sent successfully 