.reviews {
	display: flex;
	flex-direction: column;
	min-width: 0;
	overflow-x: hidden;
	margin-bottom: em(70);
	&__title {
		margin-bottom: em(45, 36.7);
	}
	&__slider {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: auto;
	}
	&__wrap {
		position: relative;
		display: flex;
		height: auto;
	}
	&__item {
		background: #FFFFFF;
		box-shadow: 0px em(10) em(20) rgba(6, 2, 19, 0.79);
		border-radius: em(10);
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #211E34;
		padding: em(50) em(70) em(39);
		max-width: em(400);
		min-height: em(384);
		position: relative;

		&::after {
			content: attr(aria-label);
			position: absolute;
			top: em(19, 12);
			right: em(37, 12);
			font-size: em(12);
			line-height: em(17, 12);
			color: #8DA5B5;
		}

		&-logo {
			width: em(76);
			margin-bottom: em(22);
		}
		&-name {
			font-size: em(18);
			line-height: em(22, 18);
			text-align: center;
			font-weight: 600;
			margin-bottom: em(22);
		}
		&-text {
			font-size: em(14);
			line-height: em(17, 14);
			text-align: center;
			color: #8DA5B5;
		}
	}
	.reviews__slider .swiper-button-prev {
		left: auto;
		right: 60px;
		top: -66px;
		background: transparent;
		border: 1.55px solid #F5FBFF;
		border-radius: 50%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 45px;
		height: 45px;
		font-size: 0;
		cursor: pointer;
		&:after{
			content: "";
			position: absolute;
			width: 11px;
			height: 11px;
			display: block;
			border-left: unset;
			border-top: unset;
			border-right: 1.55px solid #f5fbff;
			border-bottom: 1.55px solid #f5fbff;
			top: 50%;
			left: 50%;
			transform: translate(-30%, -50%) rotate(136deg);
		}
		&:hover {
			border: 1.55px solid #FFD84E;
			&:after{
				border-right: 1.55px solid #FFD84E;
				border-bottom: 1.55px solid #FFD84E;
			}
		}
		&:active {
			border: 1.55px solid #FFD84E;
			&:after{
				border-right: 1.55px solid #FFD84E;
				border-bottom: 1.55px solid #FFD84E;
			}
		}
	}
	.reviews__slider .swiper-button-next {
	    right: 1px;
    	top: -66px;
		background: transparent;
		border: 1.55px solid #F5FBFF;
		border-radius: 50%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 45px;
		height: 45px;
		font-size: 0;
		cursor: pointer;
		&:after{
			content: "";
			position: absolute;
			width: 11px;
			height: 11px;
			display: block;
			border-left: unset;
			border-top: unset;
			border-right: 1.55px solid #f5fbff;
			border-bottom: 1.55px solid #f5fbff;
			top: 50%;
			left: 50%;
			transform: translate(-70%, -50%) rotate(-46deg);
		}
		&:hover {
			border: 1.55px solid #FFD84E;
			&:after{
				border-right: 1.55px solid #FFD84E;
				border-bottom: 1.55px solid #FFD84E;
			}
		}
		&:active {
			border: 1.55px solid #FFD84E;
			&:after{
				border-right: 1.55px solid #FFD84E;
				border-bottom: 1.55px solid #FFD84E;
			}
		}
	}

}