.seo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__title {
		font-weight: normal;
		color: #AFC4D2;
		margin-bottom: em(27);
		span {
			font-size: em(33.8);
			line-height: em(44, 33.8);
		}
	}
	&__description {
		font-weight: normal;
		color: #8DA5B5;

		p {
			font-size: em(13.2);
			line-height: em(18.1, 13.2);
			margin-bottom: em(16, 13.2);
		}
	}
}