.about#about
    .container
        .grid_items
            .about__head
                .main_head
                    | About 
                    br
                    | Westbrook
                    br
                    | Realty
                include ../bottom_arrow
            .about__descript
                .main_text.main_text--big
                    p Westbrook Realty is a dynamic and constantly developing real estate company that provides a full range of services for all properties in Northern California located in San Francisco and headquartered in San Jose, California. 
                    
                .main_text
                    p
                        | We offer a range of real estate services, including sales, purchases, mortgage consulting, financial services, real estate investments, property valuation, rental property management and relocation services. We have an extensive, regularly updated database of new developers outside of MLS. 
                        br
                        | We know the answers to all your questions, because, according to our experience, we have already gathered and prepared information for the typical and even non-typical buyer of the first house. We offer personalized service with a careful attention to detail in a friendly and advisory manner. 
                    p The most important goal for us is to focus on achieving a result that meets the long-term interests of our customers! Here at Westbrook Realty, we are passionate about your personal needs and goals!

                    
