.contacts#contacts
    .container
        .grid_items
            .main_head
                | Contact
                br
                | information
        .grid_items
            .contacts__info.vis_on_scroll
                .contacts__item
                    .contacts__head Phone:
                    a(href="tel:888-262-4950").contacts__link 888-262-4950

                .contacts__item
                    .contacts__head Email: 
                    a(href="mailto:info@wbrea.com").contacts__link info@wbrea.com

                .contacts__item
                    .contacts__head Address: 
                    a(href="#").contacts__link
                        | 2350 Mission College Blvd, 
                        br
                        | Ste 480, Santa Clara CA 95054

                .contacts__item
                    .contacts__head Broker License :
                    a(href="#").contacts__link DRE - 02066917
                    
            include ../contacts_form
            


                

            










