.find_out.vis_on_scroll
    .container
        img(src="public/img/find_out__top_img.svg", alt="").find_out__img
        .main_head.main_head--big.main_head--white Find out what your house is worth
        include ../email_form