footer.footer
    .container
        .footer__wrap
            .footer__coppy Copyright © 2010-2020
            .footer__socials
                .footer__social_text Social media —
                a(href="#").footer__social_item
                    img(src="public/img/ui/socials/linkedin.svg", alt="")
                
                a(href="#").footer__social_item
                    img(src="public/img/ui/socials/youtube.svg", alt="")
                
                a(href="#").footer__social_item
                    img(src="public/img/ui/socials/facebook.svg", alt="")
                
                a(href="#").footer__social_item
                    img(src="public/img/ui/socials/instagram.svg", alt="")
                
            .footer__menu
                a(href="#about").footer__menu--item About company
                a(href="#team").footer__menu--item Our Agents
                a(href="#clients_say").footer__menu--item Testimonials
                a(href="#technologies").footer__menu--item Technology
                a(href="#contacts").footer__menu--item Contact Us
            