header.header
    .container
        .header__wrap
            .header__icon_items
                .header__icon_item.header__icon_item--desctop
                    a(href="tel:888-262-4950")
                        img(src="public/img/ui/phone--red.svg", alt="")
                        span 888-262-4950
            .header__logo
                a(href="#")
                    img(src="public/img/logo.png", alt="")
            .header__menu-wrap
                .header__menu
                    .header__button
                        img(src="public/img/ui/menu_button.svg", alt="")
                        .header__text About 
                    .header__nav
                        .header__nav--overlay
                        .header__nav_wrap
                            a(href="#about").header__nav--item About company
                            a(href="#team").header__nav--item Our Agents
                            a(href="#clients_say").header__nav--item Testimonials
                            a(href="#technologies").header__nav--item Technology
                            a(href="#contacts").header__nav--item Contact Us
                            .header__icon_item.header__icon_item--mobile
                                a(href="tel:888-262-4950")
                                    img(src="public/img/ui/phone--red.svg", alt="")
                                    span 888-262-4950
