.team.vis_on_scroll#team
    .container
        .grid_items
            div
            div
                .main_head
                    | Our team of
                    br
                    | profrssionals
                .main_text
                    | Our team led by broker Vladimir Westbrook offers personalized service with a careful attention to detail in a friendly and advisory manner. Our experienced, full-time real estate agents are ready to walk you through the process of buying the perfect home or selling your existing house for the best price. The most important goal for us is to focus on achieving a result that meets the long-term interests of our customers!
    img(src="public/img/our_tem__bg.svg", alt="").team__bg


            
