.technologies#technologies
    .container
        .grid_items
            .about__head
                .main_head
                    | Techno
                    br
                    | logies
                include ../bottom_arrow
            .about__descript
                .main_text.main_text--big
                    p The world is changing, so we had to change too. With the help of technology we created a smooth experience for our clients to minimize stress and maximize the return on their investments. 
                .main_text
                    p
                        | Westbrook Realty puts a big emphasis on media and displaying that media through various mediums, including YouTube, Facebook, Instagram, and others. 
                        br
                        | We create a custom website for every property listing to display: 
        
        .technologies__wrap
            img(src="public/img/ingenious-design-solution.png", alt="" data-imgid="id1")
            img(src="public/img/ingenious-design-solution.png", alt="" data-imgid="id2")
            img(src="public/img/ingenious-design-solution.png", alt="" data-imgid="id3")
            img(src="public/img/ingenious-design-solution.png", alt="" data-imgid="id4")
            img(src="public/img/ingenious-design-solution.png", alt="" data-imgid="id5")
            img(src="public/img/ingenious-design-solution.png", alt="" data-imgid="id6")

            .technologies__item.vis_on_scroll(data-imgid="id1")
                span High quality professional photos / Narrated video tour with drone footage /
            .technologies__item.vis_on_scroll(data-imgid="id2")
                span Virtual 3D tour / Map with local landmarks and places of interest 
            .technologies__item.vis_on_scroll(data-imgid="id3")
                span
                    | Creative description of the property / 
                    span.color 3D and 2D floor plans
            .main_text
                | Westbrook real estate agents are embracing new tech to improve productivity and ease your home buying process as much as possible. Here is a list of popular services we offer to our clients:

            .technologies__item.vis_on_scroll(data-imgid="id4")
                span Live FREE video consultation to go over the process /
            .technologies__item.vis_on_scroll(data-imgid="id5")
                span Custom property alerts to make sure you won’t miss your dream home
            .technologies__item.vis_on_scroll(data-imgid="id6")
                span Disclosures analysis and explanations over Zoom /  Electronic contract signing
            
