.top_section.vis_on_scroll
    img(src="public/img/top_section__bg.svg", alt="").top_section__bg
    .container
        .top_section__menu
            a(href="#").top_section__menu--item Selling
            a(href="#").top_section__menu--item Buying
            a(href="#").top_section__menu--item Value estimate

        .main_head.main_head--big
            | Thinking of selling
            br
            | in the Bay Area?

        .top_section__descr
            | We can help. Enter your address to get your free estimated value of your house.
        
        include ../email_form
        .top_section__bottom_arrow
            include ../bottom_arrow
           
        