.contact-form {
  position: relative;
  .container {
    max-width: em(1036);
    text-align: center;
    border-radius: em(30);
    padding: em(56) em(147);
    background: #fff;
  }

  &__title {
    span {
      font-size: em(40);
      font-weight: 500;
      line-height: 1.02;
    }
  }
  @media (max-width: 550px) {
    .container {
      max-width: em(374);
      padding: em(57) em(16);
    }

    &__title {
      span {
        font-size: em(30);
      }
    }
  }
}
