.open {
  position: relative;
  width: em(12);
  height: em(9);
  cursor: pointer;
  z-index: 2;
  display: none;

  &__item {
    position: absolute;
    height: em(1);
    width: em(12);
    background-color: #ffffff;
    @include transition(300ms, background-color, transform, opacity, width);

    &:nth-child(1) {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0) rotate(0.01deg);
    }

    &:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0.01deg);
    }

    &:nth-child(3) {
      bottom: 0;
      right: 0;

      transform: translate(0, 0) rotate(0.01deg);
      @include transition(300ms, background-color, transform, opacity, width);
    }
  }

  &__title {
    padding-left: em(22);


    span {
      // @include transition(300ms, background-color, transform, opacity, width);
      transition: all .3s ease-in-out;
      font-size: em(14);
      text-transform: uppercase;
    }
  }

  &.active {
    .open__item {
      &:nth-child(1) {
        transform: translate(-50%, .27em) rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        transform: translate(0%, -.22em) rotate(-45deg);
      }
    }
  }

  @media (max-width: 550px) {
    display: flex;
    align-items: center;
  }
}