.integrations {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: em(92);
	padding-bottom: em(141);
	text-align: center;
	position: relative;
	height: em(1038);
	overflow: hidden;

	.container {
		max-width: em(1312);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}


	&:hover {
		.integrations__bg {
			transform: translate(-50%, -50%) scale(1.05);
		}

	}

	&__bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		overflow: hidden;

		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .3s ease-in-out;

		img {
			height: 100%;
			object-fit: cover;
		}


	}

	&__title {
		font-size: em(50);
		font-style: normal;
		font-weight: 500;
		line-height: 98.6%;
		letter-spacing: em(-2, 50);
		margin-bottom: em(38, 50);
		color: #0A0F11;

	}

	&__descr {
		text-align: center;
		font-family: 'Inter';
		font-size: em(16);
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: em(-0.56, 16);
		margin-bottom: em(68, 16);
		color: #0A0F11;
		max-width: em(543, 16);
		margin-left: auto;
		margin-right: auto;
	}

	&__buttons {
		display: flex;
		align-items: center;
		margin-bottom: em(58);

		ul {
			display: flex;
			align-items: center;
		}

		.button-blue {
			margin-right: em(13);
		}
	}


	.integrations-slider {
		width: 100%;
		// padding-left: em(32);
		// padding-left: 35em;
		z-index: 10;
		// position: relative;
		overflow: visible;

		// .swiper-wrapper {
		// 	justify-content: center;
		// }



		&__slide {
			width: em(304);
			max-width: em(304);
			height: em(212);
			margin-right: em(32);
			padding: em(32) em(29) em(26) em(26);
			background: url(../img/feauturesPage/integrationsSection/bg-slide.png) center top / 100% 100% no-repeat;
			border-radius: em(40);
			backdrop-filter: blur(em(10));
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.title {
				text-align: left;
				font-size: em(20);
				font-style: normal;
				font-weight: 800;
				line-height: 98.6%;
				letter-spacing: em(-1.2, 20);

			}

			.number {
				align-self: flex-end;

				font-size: em(12);
				font-style: normal;
				font-weight: 300;
				line-height: 98.6%;
				letter-spacing: em(-0.48, 12);
				opacity: .4;

			}
		}

		.swiper-pagination {
			display: none;
		}
	}

	@media (max-width: 1440px) {
		.integrations-slider {
			padding-left: em(60);

			.swiper-wrapper {
				justify-content: flex-start;
			}
		}

	}

	@media (max-width: 768px) and (orientation: portrait) {
		padding-top: em(54);
		padding-bottom: em(54);
		height: em(678);

		.container {
			max-width: em(304);
		}

		&__title {


			font-size: em(32);
			line-height: 99.6%;
			letter-spacing: em(-1.92, 32);
			margin-bottom: em(31, 32);

		}

		&__descr {
			text-align: center;
			max-width: em(298, 14);
			margin-bottom: em(79, 14);

			font-size: em(14);
			letter-spacing: em(-0.49, 14);

		}

		&__buttons {
			display: none;
		}

		&__scene {
			&_image {
				margin-left: 0;
				min-width: em(938);
			}

			&_back {
				min-width: em(621);
				margin-top: em(-50);
			}
		}

		.integrations-slider {
			width: em(304);
			padding-left: 0;
			margin-top: em(-69);
			margin-top: 0;
			overflow: visible;


			&__slide {
				height: em(170);
				margin-right: 0;
				background: url(../img/mainPage/loginawaySection/bg_slide-mob.png) center top / 100% 100% no-repeat;

				.title {
					font-size: em(16);
					letter-spacing: em(-0.4, 16);
				}
			}



			.swiper-pagination {
				bottom: em(-23);
				height: em(6);
				display: block;

				.swiper-pagination-bullet {
					width: em(4);
					height: em(4);
					background: #80A3FA;
					opacity: 0.5;
					margin: 0 em(6.5);
					vertical-align: middle;

				}

				.swiper-pagination-bullet-active {
					width: em(6);
					height: em(6);
					background: #1A59FA;
					opacity: 1;
				}
			}
		}
	}
}