@keyframes shake {
  10%, 90% {
    transform: translate3d(em(-1), 0, 0);
  }

  20%, 80% {
    transform: translate3d(em(2), 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(em(-2), 0, 0);
  }

  40%, 60% {
    transform: translate3d(em(1), 0, 0);
  }
}

@keyframes transForm {
  0% {
    transform: translate(em(-1.5), em(-.5)) rotate(3deg);
  }
  40%, 100% {
    transform: translate(0, 0, 0) rotateX(0);
  }
}

@keyframes transForm-2 {
  0% {
    transform: rotate(3deg);
  }
  40%, 100% {
    transform:rotateX(0);
  }
}