footer.footer
	.footer__content._container
		.footer__description
			.footer__description-logo 
				img(src="public/img/logo-footer.svg", alt="")
			.footer__description-slogan
				span Официальная аналитическая компания c офисом в центре Санкт-Петербурга, предоставляющая прогнозы на киберспортивные дисциплины. 
		.footer__body
			.footer__wrap
				.footer__column
					ul.footer__list
						li
							a.footer__link(href="#") Главная
						li
							a.footer__link(href="#") Букмекерские компании
						li
							a.footer__link(href="#") Калькулятор
				.footer__column
					ul.footer__list
						li
							a.footer__link(href="#") Тарифы
						li
							a.footer__link(href="#") Отзывы
				.footer__column
					ul.footer__list
						li
							a.footer__link(href="#") Безопасность
						li
							a.footer__link(href="#") Как вывести средства
				.footer__column
					ul.footer__list
						li
							a.footer__link(href="#") Что такое онлайн ставки
						li
							a.footer__link(href="#") Как начисляют бонусы
			.footer__payments.payments
				ul.payments__list
					li.payments__item 
						img(src="public/img/payments/visa.svg", alt="")
					li.payments__item 
						img(src="public/img/payments/mastercard.svg", alt="")
					li.payments__item 
						img(src="public/img/payments/paysafe.svg", alt="")
					li.payments__item 
						img(src="public/img/payments/skrill.svg", alt="")
					li.payments__item 
						img(src="public/img/payments/neteller.svg", alt="")

