.seo._container
	.seo__title
		span 1Cashbet - кешбек-сервис по ставкам на спорт
	.seo__description
		p Кто сказал что нельзя получать кешбек со ставок на спорт? Многие уже привыкли получать кешбек с разных сервисов, которыми мы пользуемся ежедневно, в наше время можно вернуть часть денег за то, что ты поехал на такси, покушал в ресторане или купил что-нибудь на Aliexpress.
		p Теперь можно получать кешбек и со ставок на спорт и киберспорт!
		p Наша команда разработала для вас сервис для возврата проигранных средств со ставок на спорт. Вы сможете вернуть часть своих денег моментально. Мы не даем вам гарантийные выигрыши, но мы даем вам гарантию того, что вы не потеряете 100% своих средств.
		p Нам доверяют тысячи довольных клиентов, которые ежедневно получают кешбек со ставок на спорт и киберспорт. Мы всегда гарантируем полное зачисление кешбека на ваш счет через любую букмекерскую компанию, которую вы выберите. У нашего сайта приятный и понятный для восприятия интерфейс. 
		ul 
			li.strong  Особенности сервиса:
			li - Большой выбор букмекеров с возможностью кешбека
			li - Рейтинг честных букмекеров
			li - Бонусы при приглашении друзей
			li - Честные и актуальные отзывы о нас
			li - Деньги приходят к вам на баланс сайта, вы сможете вывести их быстро и на любую удобную Вам платежную систему.
		p 1Cashbet - это большое количество букмекерских компаний, где можно получить кешбэк: parimatch, winline, лига ставок, betcity, 1хставка, fonbet, pin-up, 1xbet, 1win, mostbet и другие.
		p 
			| Еще немалым преимуществом является, что мы моментально выплатим ваш кешбэк при запросе. 
			br
			| Мы поддерживаем выводы на такие платежные системы как: Visa, Mastercard, QIWI, WebMoney, ЮMoney, на Мобильный Баланс и другие.
		p 1Cashbet - Что же может быть лучше, чем запросить кешбек на карту и через пару минут увидеть начисления на ваш счет? :)
		p Если в процессе пользования сервисом у вас возникли вопросы о работе нашего сайта, просто задайте их нам! Круглосуточный онлайн-чат – идеальный способ оставаться на связи. А наша русскоязычная служба поддержки придет вам на помощь в любое время. С нами можно связаться на сайте, через почту и в telegram