@font-face {
    font-family: "BEXAGO";
    src: url("../fonts/BEXAGOOutline.woff2") format("woff2"), url("../fonts/BEXAGOOutline.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BEXAGO";
    src: url("../fonts/BEXAGO.woff2") format("woff2"), url("../fonts/BEXAGO.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SK Concretica";
    src: url("../fonts/SKConcretica-Regular.woff2") format("woff2"),
        url("../fonts/SKConcretica-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SK Concretica Trial";
    src: url("../fonts/SKConcretica-Trial.woff2") format("woff2"),
        url("../fonts/SKConcretica-Trial.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
