.btn {
	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #FF3C2B;
	box-shadow: 0 em(5) em(20) rgba(255, 0, 0, 0.37);
	border-radius: em(10);
	padding: em(31.5) em(66.5);
	display: block;
	transition: background-color .3s ease-in-out;
	text-align: center;
	cursor: pointer;

	span {
		font-weight: 600;
		font-size: em(20.3);
		line-height: em(28, 20.3);
		text-align: center;
	}

	&:hover {
		background-color: rgba(184, 5, 5, 1);
	}

}