header.header
	._container
		.header__menu.menu
			img(src="public/img/menu.svg" alt="")
		.header__logo
			a(href="index.html")
				img(src="public/img/logo.svg" alt="")
		.header__tg
			a.header__tg-link(href="#")
				.header__tg-icon
					svg(viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M5.10109 7.24973L4.88605 10.3209C5.19372 10.3209 5.32697 10.1867 5.48677 10.0256L6.92926 8.62583L9.91825 10.8484C10.4664 11.1586 10.8526 10.9952 11.0005 10.3363L12.9625 1.00177L12.963 1.00122C13.1369 0.178422 12.67 -0.143326 12.1359 0.0585227L0.603527 4.54155C-0.183533 4.85175 -0.171616 5.29725 0.469733 5.49909L3.41809 6.43024L10.2666 2.07921C10.5889 1.86251 10.8819 1.98241 10.6409 2.19911L5.10109 7.24973Z' fill='#AFC4D2')
				.header__tg-text
					span @onecashbet
		.header__user
			a(href="login.html")#user.header__user-action
				.header__user-icon
					img(src="public/img/login-mob.svg" alt="")
				.header__user-text
					span Авторизация