form.contacts_form
    .contacts_form__row
        input(type="text" name="name" placeholder="Name")
    
    .contacts_form__row
        input(type="email" name="email" placeholder="Email")
    
    .contacts_form__row
        input(type="text" name="phone" placeholder="Phone")
    
    .contacts_form__row
        input(type="text" name="message" placeholder="Message")
    
    .contacts_form__row.contacts_form__row--submit
        input(type="submit" value="Send").button.button--red
