form(action="/" method="POST").email_form
    .email_form__item
        img(src="public/img/ui/point--red.svg", alt="").email_form__icon
        input(type="email" placeholder="Enter your adress").email_form__input
    button.email_form__submit
        span Get Free Estimate
    


