- var title = "";
- var headerColor = "header--black";
doctype html
html
    include includes/head
    body
        .body-wrap.aboutPage

            include includes/header

            section.about
                .container
                    .about__wrap
                        .about__title
                            span о нас
                        .about__top-block
                            .image.paralax_y
                                img(src="public/img/aboutPage/top-block-image.jpg" alt="")
                            .text
                                span Мы сертифицированы как лидер класса в своей области деятельности в балтийском регионе
                        .about__disclaimer
                            .about__disclaimer_title
                                span каждый ребенок – это личность!
                            .about__disclaimer_descr
                                span Частный детский сад "Nākotne" развивает в детках творческий дух, воспитывает личность! Действуя, детки познают мир, учатся правильно говорить, читать, узнавать, а также оценивать мир.
                            .about__disclaimer_image
                                include ./../../public/img/aboutPage/raccoon.svg
                        .about__discription
                            .about__discription-left
                                .title
                                    span лучшее место для вашего ребенка
                                .descr
                                    span Детский сад "Nākotne" расположен в г. Рига, в уютном месте микрорайона Иманта. Особенностью месторасположения является как отдаленность от шума дорог, так и близкое расположение к жилому сектору, общественному транспорту.
                                .emoji
                                    img(src="public/img/aboutPage/emoji.svg" alt="")
                            .about__discription-right
                                .image.paralax_y
                                    img(src="public/img/aboutPage/image.jpg" alt="")

                .about__advantages
                    .about__advantages_title
                        span наши преимущества
                    .about__advantages_descr
                        span Помимо удобного месторасположения мы также можем предложить вам следующие преимущества:
                    .about__advantages_list
                        .about__advantages_list-item
                            .title
                                span работаем <br> круглогодично
                            .descr
                                span Детский сад не имеет сезонных перерывов, мы работаем весь летний период.
                        .about__advantages_list-item
                            .title
                                span отличный <br> коллектив
                            .descr
                                span Слаженный, профессиональный коллектив – это основа нашего детского сада.
                        .about__advantages_list-item
                            .title
                                span полная <br> безопасность
                            .descr
                                span Имеется контрольно-пропускной пункт. В здании имеется круглосуточное видеонаблюдение, а также охрана при входе.
                        .about__advantages_list-item
                            .title
                                span забота о здоровье <br> ваших детей
                            .descr
                                span Трёхразовое сбалансированное питание Прогулки на свежем воздухе Утренняя зарядка Ежедневные спортивные занятия
                .about__team
                    .about__team-emoji
                        img(src="public/img/aboutPage/emoji-1.svg" alt="")
                    .about__team-title
                        span наш коллектив
                    .about__team-descr
                        span У нас в детском саду действует слаженная команда опытных специалистов, готовых заботиться о вашем ребенке.
                    .about__team-image.paralax_y
                        img(src="public/img/aboutPage/team-image.jpg" alt="")
                    .educators
                        .container
                            .educators__title
                                span воспитатели дошкольных учреждений
                            .educators__list
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-image.figure-1
                                            img(src="public/img/aboutPage/educators/1.png" alt="")
                                        .educators__list-item_information-name
                                            .name
                                                span Элина Малышева
                                            .post
                                                span Член правления, заведующая и воспитатель дошкольного учреждения
                                    .educators__list-item_description
                                        span Руководителю учреждения удается сочетать профессиональный подход к дошкольным педагогическим процессам с человеческим отношением к каждому сотруднику, независимо от его должности и опыта.
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-name
                                            .name
                                                span Мария Буторова
                                            .post
                                                span Воспитатель дошкольного учреждения, педагог по интересам
                                    .educators__list-item_description
                                        span Спокойная, творческая, позитивная, одинаково хорошо умею учить буквы и цифры, делать поделки, петь и рассказывать сказки, а также воспитывать, учить и обнимать больших и маленьких детей.
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-image
                                            img(src="public/img/aboutPage/educators/2.png" alt="")
                                        .educators__list-item_information-name
                                            .name
                                                span Ирена Лаце
                                            .post
                                                span Член правления, педагог дошкольного образования
                                    .educators__list-item_description
                                        span У нее индивидуальный подход к работе с детьми, она прекрасно замечает навыки детей и использует это как отправную точку для успешного развития ребенка.
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-name
                                            .name
                                                span Татьяна Карнаве
                                            .post
                                                span Учитель дошкольного образования
                                    .educators__list-item_description
                                        span Опытный педагог с открытым взглядом на новые идеи, уважительным и сопереживающим отношением к детям, родителям и коллегам.
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-image
                                            img(src="public/img/aboutPage/educators/2.png" alt="")
                                        .educators__list-item_information-name
                                            .name
                                                span Байба Байжа
                                    .educators__list-item_description
                                        span Музыкальные ритмы Байбы способны увлечь любого. Ее знания о латышских народных традициях и латышских ценностях профессионально передаются детям через пение, танцы, игры и подготовку к праздникам.
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-name
                                            .name
                                                span Любовь Янковская
                                    .educators__list-item_description
                                        span Любовь Александровна - теплая, заботливая и добрая. Она с улыбкой встречает каждого дошкольника.
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-name
                                            .name
                                                span Вероника Кценя
                                    .educators__list-item_description
                                        span Педагог дошкольного образования с творческим мышлением, всегда найду способ заинтересовать ребенка в процессе обучения.
                                .educators__list-item
                                    .educators__list-item_information
                                        .educators__list-item_information-image.figure-1
                                            img(src="public/img/aboutPage/educators/1.png" alt="")
                                        .educators__list-item_information-name
                                            .name
                                                span Эрика Пачкина
                                    .educators__list-item_description
                                        span Музыкальные ритмы Байбы способны увлечь любого. Ее знания о латышских народных традициях и латышских ценностях профессионально передаются детям через пение, танцы, игры и подготовку к праздникам.
                    .assistants
                        .container
                            .assistants__title
                                span помощники учителя
                            .assistants__list
                                .assistants__list-item
                                    .assistants__list-item_name
                                        span Инта Кудрявцева
                                    .assistants__list-item_descr
                                        span Фея порядка и чистоты, которая учит детей практической жизненной мудрости, а также вежливости, уважению и доброжелательности друг к другу.
                                .assistants__list-item
                                    .assistants__list-item_name
                                        span Ирина Нижникова
                                    .assistants__list-item_descr
                                        span Помощник воспитателя, прекрасно влившийся в коллектив. Ирина тихая, но с честью выполняет свою работу, увлечет, поможет, подскажет и выйдет к детям, коллегам и родителям. Она излучает яркость, спокойствие и огромное счастье в жизни.
                                .assistants__list-item
                                    .assistants__list-item_name
                                        span Майя Русецкая
                                    .assistants__list-item_descr
                                        span Майя - правая рука учителя, кажется, что в сутках больше 24 часов, потому что то, что она делает, невозможно записать за один день, но она делает все это с большой любовью к своей работе. Майя обращается к детям, родителям и коллегам с большим уважением и любовью.
                                .assistants__list-item
                                    .assistants__list-item_name
                                        span Наталья Роне
                                    .assistants__list-item_post
                                        span Секретарь-референт
                                    .assistants__list-item_descr
                                        span У Натальи всегда в порядке все документы.

                include includes/map
            include includes/footer

            .modal-wrap.modal-request
                .modal
                    .close
                        include ./../../public/img/close.svg
                    .modal__container
                        .modal__form_title
                            span заявка <br> на обучение
                        .modal__form_descr
                            span Чтобы записаться к нам в группу заполните форму <br> связи и мы с вами обязательно свяжемся

                        include includes/form_application
        include includes/foot

