- var title = "";
- var headerColor = "header--black";
doctype html
html
    include includes/head
    body
        .body-wrap.policyPage

            include includes/header

            section.policy
                .container
                    .policy__emoji
                        img(src="public/img/policy/emoji.svg" alt="")
                    .policy__title
                        span политика <br> конфиден<t>-</t>циальности
                    //.policy__subtitle
                    //    span политика использования файлов cookie для веб-сайта Nakotne
                    .policy__label
                        span Политика конфиденциальности для Bērnudārzs "Nākotne"
                        span Дата вступления в силу: 12.12.2023
                        span Адрес веб-сайта:&nbsp;
                            a(href="nakotne.eu") nakotne.eu
                        span Контактный адрес электронной почты:&nbsp;
                            a(href="mailto:info@nakotne.eu") info@nakotne.eu


                    .policy__content
                        .policy__content-item
                            p.title Введение
                            p Добро пожаловать на сайт Bērnudārzs "Nākotne". Эта политика конфиденциальности описывает, как мы собираем, используем, защищаем и раскрываем личную информацию, собранную на нашем сайте nakotne.eu. Мы стремимся обеспечить защиту вашей конфиденциальности и будем стараться использовать любую информацию, которую вы предоставляете при использовании этого сайта, в соответствии с данной политикой конфиденциальности.
                        .policy__content-item
                            p.title Какую информацию мы собираем?
                            p Мы можем собирать следующую информацию:
                            ul
                                li Имя и фамилия
                                li Возраст
                                li Aдрес электронной почты
                                li Номер телефона
                                li Фотографии
                            p Эта информация может быть собрана различными способами, включая, но не ограничиваясь этим, заполнение вами формы на нашем сайте.
                        .policy__content-item
                            p.title Формы на нашем сайте
                            p В настоящее время мы предлагаем следующие формы:
                            p.strong Форма комментариев:
                            p Позволяет пользователям оставлять комментарии или отзывы о нашем сайте.
                            p.strong Контактная форма:
                            p Позволяет пользователям связаться с нами для получения запросов или помощи.
                            p Когда вы заполняете эти формы, вас могут попросить предоставить личную информацию, такую как ваше имя, адрес электронной почты и другие необходимые данные.
                        .policy__content-item
                            p.title Использование вашей информации
                            p Мы используем полученную от вас информацию для следующих целей:
                            ul.last
                                li Чтобы отвечать на ваши запросы и выполнять ваши пожелания.
                                li Чтобы улучшить наш сайт и адаптировать его к вашим предпочтениям.
                                li Для отправки периодических электронных писем и обновлений о наших услугах или объявлениях.
                        .policy__content-item
                            p.title Безопасность данных
                            p Мы стремимся обеспечить безопасность вашей информации. Для предотвращения несанкционированного доступа или раскрытия информации мы внедрили соответствующие физические, электронные и управленческие процедуры для защиты и обеспечения безопасности информации, которую мы собираем в Интернете.
                        .policy__content-item
                                p.title Совместное использование информации
                                p Мы не продаем, не обмениваем и не сдаем в аренду вашу личную идентификационную информацию другим лицам. Мы можем передавать общую демографическую информацию, не связанную с персональными данными о посетителях и пользователях, нашим деловым партнерам, доверенным филиалам и рекламодателям в целях, указанных выше.
                        .policy__content-item
                            p.title Ваши права
                            p Вы имеете право запросить доступ к персональным данным, которые мы храним о вас, запросить исправление любых неточностей и, при определенных обстоятельствах, запросить удаление ваших персональных данных.
                        .policy__content-item
                            p.title Изменения в нашей политике конфиденциальности
                            p Мы оставляем за собой право вносить изменения в данную политику конфиденциальности в любое время, поэтому просим вас часто просматривать ее. Изменения и разъяснения вступают в силу сразу после их размещения на сайте.
                        .policy__content-item
                            p.title Обращение к нам
                            p Если у вас возникли вопросы по поводу данной Политики конфиденциальности, практики использования данного сайта или ваших взаимоотношений с данным сайтом, пожалуйста, свяжитесь с нами по адресу:

                            span Bērnudārzs "Nākotne"
                            span Электронная почта:&nbsp;
                                a(href="mailto:info@nakotne.eu") info@nakotne.eu
                            span Веб-сайт:&nbsp;
                                a(href="nakotne.eu") nakotne.eu

            include includes/footer
            .modal-wrap.modal-request
                .modal
                    .close
                        include ./../../public/img/close.svg
                    .modal__container
                        .modal__form_title
                            span заявка <br> на обучение
                        .modal__form_descr
                            span Чтобы записаться к нам в группу заполните форму <br> связи и мы с вами обязательно свяжемся

                        include includes/form_application
        include includes/foot

