- var title = "";
- var headerColor = "header--black";
doctype html
html
    include includes/head
    body
        .body-wrap.regulationsPage

            include includes/header

            section.regulations
                .container
                    .regulations__emoji
                        img(src="public/img/regulationsPage/emoji.svg" alt="")
                    .regulations__title
                        span Iekšējās kārtības <br> noteikumi
                    .regulations__image.paralax_y
                        img(src="public/img/regulationsPage/image.jpeg" alt="")
                    .regulations__subtitle
                        span rīgas privātās pirmsskolas izglītības iestādes “Nākotnes bērni” iekšējās kārtības noteikumi
                    .regulations__label
                        .regulations__label-left
                            span APSTIPRINĀTS ar
                            br
                            span Sabiedrības ar ierobežotu atbildību “NĀKOTNES BĒRNI”
                            br
                            span  dalībnieku lēmumu Nr.09.01.2019.
                        .regulations__label-right
                            span Izdoti saskaņā ar
                            br
                            span 24.11.2009. MK noteikumiem Nr.1338
                    .regulations__content
                        .regulations__content-item
                            p.title I. Vispārīgie noteikumi.
                            p Rīgas privātās pirmsskolas izglītības iestādes “Nākotnes bērni” (turpmāk tekstā – Iestāde) Iekšējās kārtības noteikumi (turpmāk – Noteikumi) nosaka:
                            p 1. Iestādes izglītojamo un viņu vecāku (aizbildņu) (turpmāk – vecāki) uzvedības noteikumus Iestādē un tās lietojumā nodotajā teritorijā;
                            p 2. Iestādes darbinieku uzvedības noteikumus Iestādē un tās lietojumā nodotajā teritorijā;
                            p 3. Bērnu un viņu vecāku tiesības un pienākumus;
                            p 4.Iestādes darba laiku;
                            p 5. Izglītības procesa organizāciju un kārtību;
                            p 6. Kārtību kādā Iestādē un tās teritorijā uzturas nepiederošas personas;
                            p 7. Kārtību kā bērni, bērnu vecāki un Iestādes darbinieki, tiek iepazīstināti ar Noteikumiem un atbildību par Noteikumu neievērošanu;
                            p 8. Noteikumi ir saistoši viesiem Iestādes bērniem, viņu vecākiem, Iestādes darbiniekiem un personām, kas atrodas Iestādes telpās un teritorijā;
                            p 9. Iestādes darba laiks darba dienās ir no plkst.7.00 līdz plkst.18.00, pirmssvētku dienās darba laiks ir saīsināts par vienu stundu.
                        .regulations__content-item
                            p.title II. Kārtība, kādā bērnu vecāki un darbinieki tiek iepazīstināti ar iekšējās kārtības noteikumiem. <br> Iekšējās kārtības noteikumi ir izvietoti Iestādes Vecāku mapēs.
                            p 10. Jaunuzņemto bērnu vecāki tiek iepazīstināti ar Noteikumiem pirmajā nedēļā, kad bērns uzsāk apmeklēt Iestādi. Izglītojamā vecāks pirmreizējo iepazīšanos ar Noteikumiem apstiprina ar parakstu, norādot datumu, kad iepazinies ar noteikumiem.
                            p 11. Atkārtotu iepazīšanos ar Noteikumiem vecāki veic ik gadu septembrī, grupas sapulcē, pēc iepazīšanās vecāks to apliecina ar parakstu, norādot datumu reģistrācijas lapā. Gadījumā, ja vecāks nav piedalījies grupas vecāku sapulcē, skolotāja pienākums šo vecāku ar Noteikumiem iepazīstināt individuāli, par ko vecāks parakstās, norādot datumu- reģistrācijas lapā.
                            p 12. Bērnu vecāku iepazīstināšanu ar Noteikumiem var veikt administrācijas pārstāvis vai grupas skolotājas.
                            p 13. Iestādes darbinieki ar Noteikumiem tiek iepazīstināti Iestādes darbinieku sapulcēs, pēc iepazīšanās darbinieks to ar parakstu apliecina, norādot datumu, reģistrācijas lapā.
                            p 14. Jauns darbinieks ar Noteikumiem tiek iepazīstināts pirms uzsāk darba pienākumu veikšanu, pēc iepazīšanās to ar parakstu apliecina norādot datumu, reģistrācijas lapā.
                        .regulations__content-item
                            p.title III. Bērna iepazīstināšana ar Noteikumiem.
                            p 15. Katra mācību gada sākumā pirmsskolas skolotāja iepazīstina bērnus ar Noteikumiem.
                            p 16. Pirmsskolas izglītības skolotāja izdara ierakstu Skolotāju dienasgrāmatā par bērnu iepazīstināšanu ar Noteikumiem.
                        .regulations__content-item
                            p.title IV. Bērna uzvedības noteikumi Iestādē un tās teritorijā.
                            p 17. Iestādes teritorijā esošo rotaļu inventāru izmantot tikai ar pirmsskolas izglītības skolotāja (turpmāk-skolotājs) atļauju un tikai skolotāja klātbūtnē.
                            p 18. Darbības ar asiem priekšmetiem (šķērēm, adatu u.c.) veikt tikai ar skolotājas atļauju un viņas klātbūtnē.
                            p 19. Ievērot sabiedrībā pieņemtās pieklājības normas.
                            p 20. Cienīt vecākus, citus audzēkņus un Iestādes darbiniekus.
                            p 21. Cienīt savu valsti, tās simbolus.
                            p 22. Saudzīgi izturēties pret apkārtējo vidi, mēbelēm, rotaļlietām, spēlēm un citu inventāru.
                            p 23. Uz rotaļnodarbībām vai pasākumiem ārpus grupas iet pāros – kolonnā viens aiz otra, mierīgi, negrūstīties un neskraidot.
                            p 24. Uz sporta rotaļnodarbībām jāierodas sporta tērpā un sporta apavos: sporta tērps nodarbībām zālē – krekliņš, šorti, zeķes un vingrošanas čības (češkas); sporta tērps nodarbībām sporta laukumā – viegla jaka, ērtas bikses un sporta apavi.
                            p 25. Uz mūzikas rotaļnodarbībām jāierodas vingrošanas čībās (češkas).
                            p 26. Apģērba kabatās nedrīkst būt bīstamie priekšmeti (stikls, akmeņi, nūjiņas u.c.).
                            p 27. Rotaļodarbību laikā nedrīkst ēst konfektes un košļāt košļājamo gumiju.
                            p 28. Rotaļnodarbību laikā sekot skolotājas noradījumiem.
                            p 29. Sporta inventāru izmantot tikai pēc sporta skolotājas instrukcijām.
                            p 30. Sporta vingrojumus izpildīt tikai pēc sporta skolotājas noradījumiem.
                            p 31. Ievērot rotaļu un spēļu noteikumus.
                            p 32. Kustību rotaļu laikā negrūstīt viens otru, ievērot distanci.
                            p 33. Ja kāds ir nokritis un viņam ir nepieciešama palīdzība pasaukt skolotāju vai pieaugušo, kas ir blakus.
                            p 34. Nodarbību beigās nolikt inventāru un citus materiālus savās vietās.
                        .regulations__content-item
                            p.title V. Bērna rīcība, ja bērns saskata draudus savai vai citu bērnu drošībai.
                            p 35. Ja bērns saskata draudus savai vai citu personu drošībai, par to nekavējoties ir jāsaka skolotājai, vai skolotāja palīdzei.
                            p 36. Uzzinot vai redzot, ka tiek apdraudēta bērna drošība, Iestādes darbinieks rīkojas saskaņā ar Rīcības plānu konstatējot vardarbību pret bērnu.
                        .regulations__content-item
                            p.title VI . Vecāku tiesības un pienākumi:
                            p.strong Vecākiem ir tiesības:
                            p 37. Piedalīties Iestādes padomes darbā un grupas vecāku padomē.
                            p 38. Saņemt no pedagoģiskajiem darbiniekiem savlaicīgu informāciju par Iestādes darbību un jautājumiem, kas saistīti ar sava bērna audzināšanu un attīstību.
                            p 39. Izteikt un aizstāvēt savas domas, uzskatus, paust attieksmi par Iestādes darba organizāciju, izglītības procesu un izteikt priekšlikumus Iestādes darbības pilnveidošanai pedagoģiskajiem darbiniekiem un Iestādes vadītājam.
                            p 40. Ziedot un dāvināt finanšu līdzekļus un dāvanas Iestādes labiekārtošanai, savas grupas telpu uzturēšanai, rotaļlietu iegādei.
                            p 41. Piedalīties Iestādes un tās teritorijas labiekārtošanā, sava bērna grupas telpas remontā un uzturēšanas kārtībā.
                            p.strong Vecāku pienākumi:
                            p 42. Ievērot šos Noteikumus.
                            p 43. Sadarboties ar Iestādi bērna personības attīstībā un izglītošanā, turpināt Iestādē uzsākto bērna attīstības sekmēšanas darbu.
                            p 44. Sadarboties ar Iestādi bērnu aprūpes jautājumu risināšanā.
                            p 45. Ņemt vērā Iestādes vadītājas un pirmsskolas skolotāja rekomendācijas, kas pamatotas ar atbilstošu speciālistu ieteikumiem, un nepieciešamības gadījumā konsultēties pie Iestādes ieteiktajiem speciālistiem bērna veselības un attīstības nodrošināšanai.
                            p 46. Atvest bērnu uz Iestādi līdz plkst. 8.20, bet ne vēlāk kā līdz plskt. 8.50, ja bērns Iestādē neēd brokastis) un izņemt bērnu no Iestādes līdz plkst.19.00 (pirmssvētku dienās līdz plkst. 18.00).
                            p 47. Sniegt precīzu informāciju par savu dzīvesvietu un saziņas līdzekļiem. Izmaiņu gadījumā paziņot par to skolotājam.
                            p 48. Piedalīties grupas vecāku sapulcēs un atbalstīt Iestādes organizētos pasākumus.
                            p 49. Iepazīties ar informāciju, kas izvietota grupas vecāku informācijas stendā un vecāku mapēs.
                            p 50. Izmantot maiņas apavus un izslēgt (vai ieslēgt klusuma režīmā) mobilos telefonus, apmeklējot Iestādes pasākumus, kas notiek Iestādes telpās.
                            p 51. Saudzīgi izturēties pret Iestādes mantu un teritoriju, un mācīt to bērnam.
                            p 52. Sekot, lai Iestādes teritorijas vārti ir aizvērti, lai Iestādes ārdurvis būtu kārtīgi aizvērtas.
                            p 53. Atlīdzināt Iestādei zaudējumus, kas radušies bērna vai savas neatļautas rīcības rezultātā.
                            p 54. Ar cieņu un toleranci izturēties pret Iestādes darbiniekiem.
                            p 55. Nepieļaut savu mājdzīvnieku atrašanos Iestādes telpās un teritorijā, kad Iestādē ir bērni.
                            p 56. Iesniegt Iestādes vadītājam notariāli apliecinātu pilnvaru par personu/-ām, kas var izņemt viņa bērnu no Iestādes gadījumā, ja vecāki uz ilgstoši laiku atrodas ārpus valsts.
                            p 57. Vecākiem aizliegts Iestādē un tās teritorijā lietot necenzētus vārdus un izteicienus, pielietot vardarbību (fiziski, emocionāli un psiholoģiski ietekmēt, pazemot audzēkņus un Iestādes darbiniekus), huligāniski uzvesties.
                            p 58. Vecākiem aizliegts Iestādē un tās teritorijā ienest un lietot alkoholiskos dzērienus, tabakas izstrādājumus, narkotiskas vielas, pirotehniku, medikamentus.
                            p 59. Piecgadīgo un sešgadīgo bērnu vecāki ir atbildīgi par to, lai bērns Iestādi apmeklētu regulāri. Par kavējumiem (izņemot slimības dēļ) vecāki raksta iesniegumu Iestādes vadītājam, uzrādot kavējuma iemeslu.
                            p 60. Laikā, kad Iestādē atrodas bērni, Iestādes teritorijā aizliegts ievest dzīvniekus.
                            p 61. Vecāku pienākumi bērna saslimšanas gadījumos: <br> Paziņot par bērna saslimšanu līdz plkst. 8.00(tālrunis-29505929,29607783), vai grupas skolotājai, lai Iestāde savlaicīgi varētu veikt korekciju ēdināšanas uzskaites kartē.
                            p 62. Uzrādīt ārsta izziņu par to, ka bērns ir vesels un drīkst apmeklēt Iestādi, ja slimības vai cita attaisnojoša iemesla dēļ bērns nav apmeklējis Iestādi ilgāk par trīs dienām.
                            p 63. Skolotājai ir tiesības nepieņemt bērnu Iestādē, ja bērns nav apmeklējis Iestādi ilgāk par trīs dienām un vecāks nav ziņojis Iestādei par prombūtnes iemeslu, un vecāks nevar uzrādīt ārsta izziņu par to, ka bērns ir vesels un var apmeklēt Iestādi.
                            p 64. Pieteikt bērnu iepriekšējā dienā līdz pl. 8.00 (tālrunis - 29505929,29607783) vai grupas skolotājai, pirms atgriešanās no slimošanas, lai Iestāde savlaicīgi varētu viņu ieskaitīt bērnu sarakstā, veicot ēdiena daudzuma aprēķinu nākošajā dienā.
                        .regulations__content-item
                            p.title VII. Bērnu atvešanas un izņemšanas kārtība:
                            p 65. Izglītības process Iestādē notiek saskaņā ar pirmsskolas izglītības programmu, Iestādes gada plānu un nodarbības sarakstu.
                            p 66. Nodarbības grupās sākas plkst. 9:00. Lai nodrošinātu audzēkņu ēdināšanu un dalību nodarbībās, vecāki bērnus uz grupu atved līdz plkst.8:20.
                            p 67. Atvest bērnu uz Iestādi līdz plskt. 8.20 (bet ne vēlāk kā līdz plskt. 8.50, ja bērns Iestādē neēd brokastis).
                            p 68. Pirmsskolas skolotājai nav tiesības pieņemt bērnu ar infekcijas slimību pazīmēm- caureja, vemšana, ādas, gļotādas acu ābolu dzelte, paaugstināta ķermeņa temperatūra, infekciozas izcelsmes izsitumi (izsitumi kopā ar paaugstinātu ķermeņa temperatūru un izmaiņām bērna uzvedībā- miegainība, atteikšanās ēst, dzert, raudulība, paātrināta elpošana.
                            p 69. Ja bērns no Iestādes tiek aizvests ar iepriekšminētajām infekciju slimību pazīmēm (pat ja bērna prombūtne ir tikai viena diena), Iestādē atgriezties bērns var tikai ar ārsta izziņu, ka bērns ir vesels un var apmeklēt Iestādi.
                            p 70. Atvedot bērnu uz Iestādi pedagogs atzīmē skolotāju žurnālā, plānoto bērna ierašanos vai neierašanos nākamajā dienā. Ja bērns plānotajā apmeklējuma tabulā ir atzīmēts, ka apmeklēs Iestādi, bet attaisnojošu iemeslu pēc neapmeklēs (slimība), vai bija plānots, ka neapmeklēs, bet bērns Iestādi plāno apmeklēt, tad vecāka pienākums pēc iespējas ātrāk, bet ne vēlāk, kā ieplānotās dienas plkst. 8.00 paziņot par to Iestādes administrācijai zvanot pa tālr. 29505929,29607783, vai grupu skolotājām.
                            p 71. Ja bērns plānotajā apmeklējuma tabulā ir atzīmēts, ka apmeklēs Iestādi, bet neirodas Iestādē, un vecāks šo Noteikumu 57.punktā noteiktajā kārtībā līdz plkst. 8:00 nav paziņojis par bērna neierašanos, tad par šo dienu tiek ieturēta maksa par ēdināšanu, saskaņā ar spēkā esošo Iestādes rīkojumu „ Par ēdināšanas pakalpojumu maksu.”
                            p 72. Kategoriski aizliegts no rīta atstāt bērnu vienu pašu pie Iestādes ārdurvīm. Nedrīkst atdod bērnu ēkas uzraugam vai citiem Iestādes darbiniekiem. Minēto noteikumu neievērošanas gadījumā pirmsskolas skolotājs neuzņemas atbildību par audzēkņa dzīvību un drošību.
                            p 73. Atvedot bērnu uz Iestādi, ievest viņu grupas telpā, paziņojot grupas skolotājai par bērna ierašanos, bērnu izņemot no Iestādes- atsveicināties no skolotājas.
                            p 74. Rakstiski paziņot Iestādei par regulāru vēlāku bērna ierašanos Iestādē.
                            p 75. Bērnu uz Iestādi atved veselu, tīru, sakoptu, ar viņam nepieciešamo papildu apģērbu un higiēnas piederumiem. Vecāki bērnam nodrošina kabatas lakatiņu, ķemmi, zobu birstīti, zobu pastu, maiņas veļu un maiņas apavus-sandales.
                            p 76. Vecāki bērnu izņem no Iestādes līdz plkst. 18:00. (pirmssvētku dienās līdz plkst. 17.00). Ja bērns pēc plkst.18:00 nav no Iestādes izņemts, un vecāki nav ziņojuši par kavēšanos un kavēšanās apstākļiem, skolotājs izvērtē situāciju un, saskaņojot ar administrāciju, informē tiesībsargājošās institūcijas lēmuma pieņemšanai par turpmāko rīcību.
                            p 77. Izņemot bērnu no grupas, vecāki ir kopā ar viņu garderobē, palīdz saģērbties, atsveicinās no skolotājas un kopā ar bērnu dodas mājās. Izņemot bērnu no pastaigu laukuma, vecāki pieiet pie skolotājas un atsveicinās.
                            p 78. Vecāki iesniegumā, kas adresēts Iestādes vadītājai, norāda personas (kuras nav jaunākas par 13 gadiem), kurām ir tiesības izņemt no Iestādes bērnu un par to savlaicīgi paziņo skolotājam.
                            p 79. Skolotājam ir tiesības vakarā neatdod audzēkņus personām, par kurām vecāki nav brīdinājuši, kā arī jebkurai personai, kura pēc audzēkņa ieradusies reibuma stāvoklī.
                            p 80. Sporta nodarbībām vecāki bērnam nodrošina sporta tērpu (krekliņš un šorti).
                            p 81. Bērnu ģērbj atbilstoši laika apstākļiem, obligāta prasība vasaras periodam ir galvassega (cepurīte vai lakats), ziemā cimdi, atbilstoša galvassega.
                        .regulations__content-item
                            p.title VIII. Maksājumu veikšana par bērna ēdināšanu:
                            p 82. Maksājumi par bērna ēdināšanu veicami avansā ar pārskaitījumu bankā līdz kalendāra mēneša 10.datumam, pēc iepazīšanās ar audzēkņu ēdināšanas maksājuma kvīti, kurā norādīts, katra audzēkņa ēdināšanas maksas apmērs.
                            p 83. Vecāki atbild par maksājuma uzdevuma pareizu noformēšanu.
                            p 84. Ja bērnu atskaita no Iestādes, neizlietoto ēdināšanas maksu pārskaita uz vecāku iesniegumā norādīto bankas kontu.
                        .regulations__content-item
                            p.title IX. Darba dienas un izglītības procesa organizācija:
                            p 85. Izglītības process Iestādē notiek saskaņā ar gada tematisko plānu un aktivitāšu sarakstu.
                            p 86. Priekšpusdienas cēlienā grupās skolotāju vadībā tiek organizētas rotaļnodarbības, pastaigas Iestādes teritorijā un ārpus teritorijas- atbilstoši izstrādātajiem maršrutiem.
                            p 87. Mācību gada laikā nedēļas tēmu ietvaros bērniem tiek sniegta informācija par ugunsdrošību, ceļu satiksmes drošību, rīcību ekstremālās situācijās, drošību uz ledus, drošību uz ūdens, personas higiēnu un citiem drošības jautājumiem, ne retāk kā 2 reizes mācību gadā (septembra un aprīļa mēnesī).
                            p 88. Mūzikas skolotāji un sporta skolotāja bērnus iepazīstina ar kārtības noteikumiem zālē pirmās nodarbības laikā septembra un aprīļa mēnesī. Par noteikumu pārrunāšanas faktu skolotāja veic ierakstu mūzikas skolotāja dienasgrāmatā, vai sporta skolotājas dienasgrāmatā.
                            p 89. Pasākumi, kurus organizē citas iestādes (teātra izrādes, koncerti, interešu izglītības nodarbības u.c.), notiek ārpus nodarbību laika.
                            p 90. Pirms masu pasākumu apmeklējuma grupas skolotāja ar bērniem pārrunā kārtības noteikumus šādos pasākumos. Par pārrunu faktu skolotāja veic ierakstu skolotāja dienasgrāmatā.
                            p 91. Pirms došanās ekskursijās, pastaigās ārpus iestādes, grupas skolotāja instruē bērnus par kārtības noteikumiem pasākumā. Par noteikumu pārrunāšanas faktu grupas skolotāja veic ierakstu skolotāja dienasgrāmatā. Dodoties pastaigā ārpus iestādes jānodrošina 2 pieaugušo klātbūtne uz katriem 30 bērniem. Jebkura bērnu došanās ārpus Iestādes tiek saskaņota ar iestādes vadītāju.
                            p 92. Vecāki par savu piekrišanu vest bērnu ārpus Iestādes teritorijas apliecina ar parakstu norādot datumu reģistrācijas lapā.
                            p 93. Iestādes organizētajos pasākumos piedalās tikai Iestādē uzņemtie bērni, Iestādes darbinieki, vecāki un ģimenes locekļi un Iestādes vadītājas aicināti viesi.
                            p 94. Vecāki tiek savlaicīgi informēti par organizētajiem pasākumiem. Pasākumi ar bērnu piedalīšanos tiek organizēti saskaņā ar drošības instrukcijām. Par bērnu drošību Iestādes organizētajos pasākumos atbild pasākuma organizators.
                            p 95. Ekstremālās situācijās skolotāja sniedz pirmo medicīnisko palīdzību vai, ja nepieciešams, evakuē bērnus, skolotāja palīdze izsludina trauksmi un vēršas pie atbildīgā dežūradministratora pēc palīdzības. Pieaugušie rīkojas atbilstoši apstiprinātam plānam ārkārtas (ugunsgrēka) situācijā.
                            p 96. Visi pasākumi bērniem kopā ar vecākiem tiek organizēti ne vēlāk kā līdz plkst. 18.00.
                            p 97. Pārejot uz skolas 1.klasi, vadītājs līdz 30.jūnijam izsniedz izziņu par to, ka bērns ir apmeklējis piecgadīgo un sešgadīgo bērnu obligātās sagatavošanas pamatizglītības apguvei programmu un ar rīkojumu atskaita bērnu no Iestādes.
                        .regulations__content-item
                            p.title X. Atbildība par noteikumu neievērošanu.
                            p 98. Noteikumu ievērošana audzēkņiem, vecākiem, Iestādes darbiniekiem ir obligāta.
                            p 99. Par Noteikumu neievērošanu vai to pārkāpšanu jebkurš Iestādes darbinieks vai citi vecāki iesniedz rakstisku ziņojumu Iestādes vadītājam.
                            p.strong Noteikumu neievērošanas gadījumā:
                            p 100. Skolotājs vai Iestādes vadītājs izsaka mutisku aizrādījumu.
                            p 101. Skolotājs vai Iestādes vadītājs veic pārrunas ar vecākiem.
                            p 102. Atkārtota Noteikumu pārkāpšanas gadījumā, Iestādes vadītājs, izvērtējot situāciju, ziņo pašvaldības institūcijām (Bāriņtiesai, Pašvaldības policijai, utt.) par administratīvās lietas ierosināšanu vai administratīvā soda uzlikšanu.
                            p 103. Gadījumos, kad audzēknim ir vērojamas pazīmes par pielietotu vardarbību, Iestādes vadītājs nekavējoties par to ziņo tiesībsargājošām iestādēm un informē audzēkņa vecākus.
                        .regulations__content-item
                            p.title XI. Nepiederošo personu uzturēšanas kārtība.
                            p 104. Iestādei piederošas personas ir Iestādes darbinieki, bērni un bērnuu vecāki.
                            p 105. Iestādes darbību kontrolējošo institūciju amatpersonas ierodoties Iestādē uzrāda dienesta apliecību un informē Iestādes vadītāju par savas ierašanās mērķi.
                            p 106. Personas, kuras ierodas Iestādē ar mērķi iesniegt iesniegumus, priekšlikumus vai sūdzības, vēršas pie Iestādes vadītājas.
                            p 107. Citas personas Iestādē var atrasties, tikai saskaņojot to ar vadītāju, vai atbildīgo personu vadītājas prombūtnes laikā.
                        .regulations__content-item
                            p.title XII. Evakuācijas plānu un informācijas par operatīvo dienestu izsaukšanu izvietojums.
                            p 108. Evakuācijas plāns izvietots gaitenī.
                            p 109. Evakuācijas plānā norāda iespējamos evakuācijas ceļus, ugunsdzēsības līdzekļu izvietojumu un darbību aprakstu.
                            p 110. Informāciju par operatīvo dienestu tālruņu numuriem izvieto Iestādes pirmajā stāva gaitenī.
                    .regulations__descr
                        span Vadītāja (Elīna Mališeva)

            include includes/footer
            .modal-wrap.modal-request
                .modal
                    .close
                        include ./../../public/img/close.svg
                    .modal__container
                        .modal__form_title
                            span заявка <br> на обучение
                        .modal__form_descr
                            span Чтобы записаться к нам в группу заполните форму <br> связи и мы с вами обязательно свяжемся

                        include includes/form_application
        include includes/foot

