- var title = "";
- var headerColor = "header--black";
doctype html
html
    include includes/head
    body
        .body-wrap.selfEsteemPage

            include includes/header

            section.self-esteem
                .container
                    .self-esteem__emoji
                        img(src="public/img/selfEsteemPage/emoji.svg" alt="")
                    .self-esteem__title
                        span pašvērtējums
                    .self-esteem__image.paralax_y
                        img(src="public/img/selfEsteemPage/image.jpeg" alt="")
                    .self-esteem__subtitle
                        span rīgas privātā pirmsskolas izglītības iestādes "NĀKOTNES BĒRNI" pašnovērtējuma ziņojums
                    .self-esteem__label
                        span Rīga, 2021. Publiskojamā daļa. SASKAŅOTS.

                    .self-esteem__content
                        .self-esteem__content-item
                            p.title 1. Izglītības iestādes vispārīgs raksturojums
                            p 1.1 Izglītojamo skaits un īstenotās izglītības programmas 2020./2021.māc.g.
                            .table.table-0
                                .table__item
                                    span Izglītības programmas nosaukums
                                .table__item
                                    span Pirmsskolas izglītības programma
                                .table__item
                                    span Izglītības programmas kods
                                .table__item
                                    span 01011111
                                .table__item
                                    span Īstenošanas vietas adrese (ja atšķiras no juridiskās adreses)
                                .table__item
                                    span JŪRMALAS GATVE 76, RĪGA, LV-1083
                                .table__item
                                    span Licence Nr.
                                .table__item
                                    span V_1010
                                .table__item
                                    span Licence Licencēšanas datums
                                .table__item
                                    span 15.02.2019
                                .table__item
                                    span Izglītojamo skaits, uzsākot programmas apguvi vai uzsākot <br> 2020./2021.māc.g.
                                .table__item
                                    span 30
                                .table__item
                                    span Izglītojamo skaits, noslēdzot programmas apguvi vai noslēdzot <br> 2020./2021.māc.g.
                                .table__item
                                    span 46

                            p 1.2 Pedagogu un atbalsta personāla nodrošinājums

                            .table.table-4
                                .table__item.center
                                    span.strong NPK.
                                .table__item
                                    span.strong Prioritāte
                                .table__item.center
                                    span.strong Plānotie sasniedzamie rezultāti 
                                .table__item
                                    span.strong Norāde par uzdevumu izpildi (sasniegts/daļēji sasniegts/nav sasniegts) un komentārs
                                .table__item.center(grid-row="2")
                                    span 1.
                                .table__item(grid-row="2")
                                    span Sekmēt izpratni par drošību - apkārtnē un saskarsmē ar līdzcilvēkiem; 
                                .table__item
                                    span a) kvalitatīvi
                                .table__item
                                    span Izstrādāti atbilstoši normatīvo aktu prasībām drošības noteikumi bērniem- bērniem saprotama valodā. Izstrādāts rīcību plāns, ja tiek konstatēta vardarbība. Iestādē izveidota emocionālo drošības un darbinieku, izglītojamo un vecāku psiholoģiskā labklājības darba grupa. Darba grupa strādā saskaņa ar apstiprināto reglamentu.
                                .table__item
                                    span b) kvantitatīvi
                                .table__item
                                    span Noteikumi atrodas visiem Iestādes apmeklētājiem pieejamā vietā. Iepazīstināti ar tiem ir bērni un viņu vecāki. 3 reizes gadā iestādes emocionālo drošības un darbinieku, izglītojamo un vecāku psiholoģiskā labklājības darba grupa veic emocionālo drošības un darbinieku, izglītojamo un vecāku psiholoģiskā labklājības monitoringu (vecāku un darbinieku anketas, intervijas).
                                .table__item.center(grid-row="2")
                                    span 2.
                                .table__item(grid-row="2")
                                    span Sekmēt atbildības uzņemšanos par savu darbu un darbību, to novērtēšanu. Atbildība pret sevi un apkārtni; 
                                .table__item
                                    span a) kvalitatīvi
                                .table__item
                                    span Sadarbībā ar Iestādes bērnu vecākiem ierīkots Mācību dārzs. Lai veicinātu bērniem izpratni un atbildību par vidi sev apkārt. 
                                .table__item
                                    span b) kvantitatīvi
                                .table__item
                                    span Pedagogi veidoja padziļinātu izpratni bērniem dabaszinātņu jomā, lai sekmētu atbildību pret sevi un apkārtni.  
                                .table__item.center(grid-row="2")
                                    span 3.
                                .table__item(grid-row="2")
                                    span Sadarbība audzināšanas procesā (izglītojamā, pedagoga, ģimenes).
                                .table__item
                                    span a) kvalitatīvi
                                .table__item
                                    span Vecākiem izsniegti bērnu mācību jomu sasniegumu rādījumi. 
                                .table__item
                                    span b) kvantitatīvi
                                .table__item
                                    span Organizētas individuālās sarunas starp pedagogu un vecāku par bērnu attīstības gaitu un mācību sasniegumiem. 

                            p 1.3 Informācija, kura atklāj izglītības iestādes darba prioritātes un plānotos sasniedzamos rezultātus 2021./2022.māc.g. (kvalitatīvi un kvantitatīvi, izglītības iestādei un izglītības iestādes vadītājam)

                            .table.table-1
                                .table__item
                                    span.strong Mācību gada darba prioritātes
                                .table__item.start
                                    span Visu mērķgrupu aktīva iesaiste izglītības iestādes plānošanas un pašvērtēšanas procesā
                                .table__item
                                    span.strong Sasniegtie rezultāti
                                .table__item
                                    span 1. 80% darbinieku aktīvi iesaistās iestādes darbības plānošanas procesā. <br> <br> 2. 100% darbinieku un 40% vecāku aktīvi iesaistās izglītības iestādes <br> pašvērtējuma procesā. <br> <br> 3. Izglītības iestādes pašnovērtējuma ziņojums atbilst normatīvo aktu <br> prasībām.
                        .self-esteem__content-item
                            p.title 2. Izglītības iestādes darbības pamatmērķi
                            p 2.1 Izglītības iestādes misija – MĪLĒT, SAPRAST,PALĪDZĒT, AUDZINĀT, MĀCĪT, MĀCĪTIES UN ATBILDĒT PAR VEICAMĀ DARBA SASNIEDZAMO REZULTĀTU!
                            p 2.2 Izglītības iestādes vīzija par izglītojamo <br> IESTĀDE UZ KURU IZGLĪTOJAMIE VĒLAS NĀKT,JO TAJĀ IKVIENAM IR IESPĒJA AUGT, ATTĪSTĪTIES UN PILNVEIDOTIES DROŠĀ, RADOŠĀ UN MĀJĪGĀ VIDĒ UN JŪTĀS VEIKSMĪGI UN LAIMĪGI! KATRS INDIVĪDS ĪPAŠS AR TO ARĪ INDIVIDUĀLS!
                            p 2.3 Izglītības iestādes vērtības cilvēkcentrētā veidā – CIEŅA, SADARBĪBA, ATBILDĪBA,KOMUNIKĀCIJA.
                            p 2.4 2020./2021.mācību gada darba prioritātes (mērķi/uzdevumi) un sasniegtie rezultāti
                            .table.table-3
                                .table__item
                                    span.strong Mācību gada darba prioritātes
                                .table__item
                                    span Īstenot kompetenču pieeju mācību procesā.
                                .table__item
                                    span Pilnveidot izglītojamo vērtējumu procesu un <br> vecāku informēšanu par bērna sasniegumiem.
                                .table__item
                                    span.strong Sasniegtie rezultāti
                                .table__item
                                    span Plānotais rezultāts ir sasniegts daļēji.
                                .table__item
                                    span Sasniegtais rezultāts kopumā atbilst <br> plānotajam rezultātam
                                .table__item
                                    span.strong Secinājumi
                                .table__item
                                    span Mērķtiecīgi turpināt ieviest un īstenot <br> kompetenču pieeju visā mācību procesā.
                                .table__item
                                    span Turpināt lietot pieņemtu vērtēšanas kārtību.
                        .self-esteem__content-item
                            p.title Kritēriju izvērtējums
                            p 3.1 Kritērija “Administratīvā efektivitāte” stiprās puses un turpmākas attīstības vajadzības
                            .table.table-1
                                .table__item
                                    span.strong Stiprās puses
                                .table__item
                                    span 1. Izglītības iestādes darbība ir uzskatāma par efektīvu. <br> <br> 2. Personāls iesaistās kopīgi definēto mērķu sasniegšanā. <br> <br> 3. Izglītības iestādes savlaicīgi plāno nepieciešamos personāla resursus. Racionāli izmanto esošos cilvēkresursus. <br> <br> 4. Regulāra izglītības iestādes darbības izvērtēšana un turpmākās attīstības plānošana.
                                .table__item
                                    span.strong Turpmākās attīstības vajadzības
                                .table__item.start
                                    span 1. Visu mērķgrupu aktīva iesaiste izglītības iestādes plānošanas un pašvērtēšanas procesā. <br> <br> 2. Kompetenču pieejas mācību saturā nostiprināšana visās mācību jomās. <br> <br> 3. Izvērtēt iespēju digitālo resursu popularizēšanu iestādē.
                            p 3.2 Kritērija “Vadības profesionālā darbība” stiprās puses un turpmākas attīstības vajadzības
                            .table.table-1
                                .table__item
                                    span.strong Stiprās puses
                                .table__item
                                    span 1. Izglītības iestādē ir tās darbību reglamentējoši dokumenti atbilstoši normatīvo aktu prasībām; <br> <br> 2. Izglītības iestāde efektīvi īsteno mazākumtautību izglītojamo integrēšanu latviešu valodas izglītības programmā
                                .table__item
                                    span.strong Turpmākās attīstības vajadzības
                                .table__item.start
                                    span 1. Plašināt elektronisko lietotņu pieejamību saziņai un sadarbībai ar vecākiem. <br> <br> 2. Uzkrāt un izmantot digitālo metodisko materiālu bāzi .
                            p 3.3 Kritērija “Atbalsts un sadarbība” stiprās puses un turpmākas attīstības vajadzības
                            .table.table-1
                                .table__item
                                    span.strong Stiprās puses
                                .table__item
                                    span 1. Izglītības iestādes darbību raksturo profesionāla savstarpēja vadītāju un pedagogu sadarbība un atbalsts. <br> <br>  2. Izglītības iestāde sadarbojas ar Rīgas pirmsskolas izglītības iestādes “Imanta”, kas realizē speciālo mazākumtautību programmu izglītojamajiem ar valodas traucējumiem. <br> <br> 3. Izglītības iestāde īsteno daudzveidīgas sadarbības formas ar izglītojamo vecākiem (sapulces, individuālas pārrunas, pasākumi, izstādes u.c.) <br> <br> 4. Izglītības iestādē ir vienota kārtība, kādā vecāki tiks informēti par bērna mācību sasniegumiem, progresu un grūtībām.
                                .table__item
                                    span.strong Turpmākās attīstības vajadzības
                                .table__item.start
                                    span 1. Iesaistīties valsts vai pašvaldības aktivitātēs, pasākumos vai projektos <br> <br> 2. Atbalstīt personāla vēlmes un aktīvi ieviest inovācijas savā darbā. <br> <br> 3. Aktivizēt vecāku iesaisti izglītības iestādes darbā.
                            p 3.4 Kritērija “Pedagogu profesionālā kapacitāte” stiprās puses un turpmākas attīstības vajadzības
                            .table.table-1
                                .table__item
                                    span.strong Stiprās puses
                                .table__item
                                    span 1. 100% pedagoguizglītība un kvalifikācija atbilst normatīvajos aktos noteiktajām prasībām. <br> <br> 2. 90% pedagogu profesionālās kompetences pilnveide atbilst normatīvajos aktos noteiktajām prasībām. <br> <br> 3. Izglītības iestādē ir izveidots profesionālās pilnveides plāns, kas regulāri tika analizēts un aktualizēt.
                                .table__item
                                    span.strong Turpmākās attīstības vajadzības
                                .table__item.start
                                    span Izvērtēt iespējas vērtēt pedagogu profesionālo darbību. Kvalitātes novērtēšana notiek saskaņā ar izglītības iestādes "Pedagogu profesionālās darbības kvalitātes novērtēšanas kārtību".
                        .self-esteem__content-item
                            p.title 4. Informācija par lielākajiem īstenotajiem projektiem par 2020./2021.māc.g.
                            p.last 4.1 Nav
                        .self-esteem__content-item
                            p.title 5. Informācija par institūcijām, ar kurām noslēgti sadarbības līgumi
                            p 5.1 Šajā mācību gadā pievērsām uzmanību izpratnei par drošību un veselīga dzīvesveida nozīmi. Pirmsskolas galvenie uzdevumi ir dot bērniem iespējas gūt zināšanas un veidot prasmes, iemaņas, sevis izteikšanas formas, kuras sekmē personības vispusīgu attīstību: attīstīt katra bērna aktivitāti, rosinot vēlmi izzināt apkārtējo pasauli. Pedagogi ievēro izglītojamā personības attīstības vajadzības, individuālās specifiskās īpatnības.
                            p 5.2 Secinājām, ka:

                            ul
                                li  bērni labprāt iesaistās un piedalās pasākumos, kuros jādemonstrē fiziskā veiklība, radošums;
                                li mācību rezultāti kļūst augstāki, ja bērniem dod iespēju patstāvīgi pētīt, eksperimentēt, sevi novērtēt.
                                li liela nozīme ir ģimenes atbalstam;
                                li veiksmīga komunikācija un pasākumu organizēšana pārtop tradīcijā.
                        .self-esteem__content-item
                            p.title 6. Informācija par institūcijām, ar kurām noslēgti sadarbības līgumi
                            p.last 5.1 Nav
                        .self-esteem__content-item
                            p.title 7. Citi sasniegumi
                            p.last 7.1 Nav
            include includes/footer
            .modal-wrap.modal-request
                .modal
                    .close
                        include ./../../public/img/close.svg
                    .modal__container
                        .modal__form_title
                            span заявка <br> на обучение
                        .modal__form_descr
                            span Чтобы записаться к нам в группу заполните форму <br> связи и мы с вами обязательно свяжемся

                        include includes/form_application
        include includes/foot

