header.header
	._container
		.header__menu.menu
			.menu__icon
				span
				span
				span
		.header__logo
			a(href="#")
				img(src="public/img/logo.svg" alt="")
		.header__tg
			a.header__tg-link(href="#")
				.header__tg-icon
					svg(viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M5.10109 7.24973L4.88605 10.3209C5.19372 10.3209 5.32697 10.1867 5.48677 10.0256L6.92926 8.62583L9.91825 10.8484C10.4664 11.1586 10.8526 10.9952 11.0005 10.3363L12.9625 1.00177L12.963 1.00122C13.1369 0.178422 12.67 -0.143326 12.1359 0.0585227L0.603527 4.54155C-0.183533 4.85175 -0.171616 5.29725 0.469733 5.49909L3.41809 6.43024L10.2666 2.07921C10.5889 1.86251 10.8819 1.98241 10.6409 2.19911L5.10109 7.24973Z' fill='#AFC4D2')
				.header__tg-text
					span @1CashBet
		.header__user
			a#user.header__user-action(href="#")
				.header__user-icon
					svg(viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M6 0C4.40925 0.0017888 2.88417 0.634504 1.75934 1.75934C0.634504 2.88417 0.0017888 4.40925 0 6C0.00270452 7.59047 0.635714 9.11502 1.76035 10.2397C2.88498 11.3643 4.40953 11.9973 6 12C7.5913 12 9.11742 11.3679 10.2426 10.2426C11.3679 9.11742 12 7.5913 12 6C12 4.4087 11.3679 2.88258 10.2426 1.75736C9.11742 0.632141 7.5913 0 6 0ZM9.64948 9.46216C9.31248 8.78253 8.79226 8.2106 8.14752 7.81088C7.50277 7.41117 6.75916 7.19959 6.00056 7.2C5.24196 7.20041 4.49858 7.4128 3.85427 7.81321C3.20995 8.21362 2.69036 8.78612 2.35409 9.46611C1.45684 8.53567 0.956868 7.29259 0.96 6C0.96 4.66331 1.491 3.38137 2.43618 2.43618C3.38137 1.491 4.66331 0.96 6 0.96C7.33669 0.96 8.61864 1.491 9.56382 2.43618C10.509 3.38137 11.04 4.66331 11.04 6C11.043 7.2907 10.5444 8.53209 9.64948 9.46216ZM6 2.4C5.57279 2.4 5.15518 2.52668 4.79997 2.76403C4.44476 3.00137 4.16791 3.33872 4.00442 3.7334C3.84093 4.12809 3.79816 4.5624 3.8815 4.9814C3.96485 5.40039 4.17057 5.78527 4.47265 6.08735C4.77473 6.38943 5.15961 6.59515 5.5786 6.6785C5.9976 6.76184 6.43191 6.71907 6.8266 6.55558C7.22128 6.39209 7.55863 6.11524 7.79597 5.76003C8.03332 5.40482 8.16 4.98721 8.16 4.56C8.16 4.27634 8.10413 3.99547 7.99558 3.7334C7.88703 3.47134 7.72792 3.23322 7.52735 3.03265C7.32678 2.83207 7.08866 2.67297 6.8266 2.56442C6.56453 2.45587 6.28366 2.4 6 2.4Z' fill='white')
				.header__user-text
					span Aleksey90